.TAGcontainer{
  background: #EAEAEA;
  border-radius: 8px;
  margin: 0px 10px 0px 10px;
  height: 27px;
  align-items: center;
}

.TAGText{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #3A3A3A;
  margin-left: 10px;
  margin-right: 10px;
}
