/* .detailsButtons.height {
    justify-content: space-between;
    height: 91px;
    flex-direction: column;
    justify-content: space-between ;
    margin: 2rem 0 ;
} */

.detailsButtons.height {
    justify-content: space-between;
    height: 84px;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.sendIcon_clientCommentBox {
    position: absolute;
    right: -45px;
    bottom: 17px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #30b530ba;
}

.sendIcon_clientCommentBox:hover {
    cursor: pointer;
    background-color: #31c53180;
}

.sendIcon_clientCommentBox .MuiSvgIcon-root {
    top: 8px !important;
    right: 5px !important;
    position: absolute !important;
    color: white !important;
}

.commentParent .MuiInputBase-input {
    font-size: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    /* color: #A8A8A8; */
}

.commentBox>p {
    font-size: 10px;
}

/* .margin-0 {
    margin: 10px 0% !important
} */

.margin-0 {
    margin: 10px 0%;
}

.QuotationModal button {
    margin-top: 43px;
}

.postQuotation .makeStyles-margin-1 {
    width: 100%;
}