.sendIcon_clientCommentBox {
    position: absolute;
    right: -45px;
    bottom: 17px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #45A4EA;
}

.normal_acceptOrReject_clientCommentBox {
    font-size: 25px;
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #3A3A3A;
}

.normal_acceptOrReject_clientCommentBox p {
    padding: none;
    font-size: 1rem;
}

.sendIcon_clientCommentBox:hover {
    cursor: pointer;
    background-color: #31c53180;
}

.sendIcon_clientCommentBox .MuiSvgIcon-root {
    top: 8px !important;
    right: 7px !important;
    position: absolute !important;
    color: white !important;
}

.commentParent .MuiInputBase-input {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
}

.commentBox>p {
    font-size: 10px;
    color: #484848;
    font-family: 'Segoe UI';
}

.postQuotation .makeStyles-margin-1 {
    width: 100%;
}

.price-section .makeStyles-margin-8 {
    margin-left: 0 !important;
}

.detailed_description_clientCommentBox {
    display: flex;
    margin-left: 8rem;
    flex-direction: column;
}

.radioButtons_with_textBox .MuiSvgIcon-root {
    font-size: 13px;
}

/* .detailed_description_clientCommentBox>label {
    font: 500 14px 'Open Sans', sans-serif !important;
} */

.reject-reason_label {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
}

.submit-rejection, .quotationSubmit_clientCommentBox {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.submit-rejection>div, .quotationSubmit_clientCommentBox>button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-image: linear-gradient( 284deg, rgb(3, 118, 186) 0%, rgb(1, 48, 77) 100%);
    border-radius: 25px;
    color: white;
    background-color: #3498db;
    padding: 0.3rem 1.5em;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
    font-size: 0.9rem;
}

.acceptance-parent_clientCommentBox>h2::after {
    margin-left: 90px;
}

.reject-reason_label h2 {
    font-weight: bold !important;
    border-bottom: none !important;
    padding-bottom: 0% !important;
    margin-bottom: 5% !important;
}

.radioButtons_with_textBox {
    margin-top: 1rem;
    margin-left: 5.5rem;
}

.rejection_modal_clientCommentBox .MuiTypography-body1 {
    font-family: 'Segoe UI' !important;
    font-size: 14px;
    line-height: 17px !important;
    text-transform: capitalize !important;
}

.rejection_modal_clientCommentBox .MuiFormControlLabel-labelPlacementStart {
    margin-left: 70px !important;
}

.rejection_modal_clientCommentBox .MuiRadio-root {
    margin-left: 110px !important;
}

.submit-rejection:hover {
    cursor: pointer;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 0rem;
    height: 0rem;
} */