.user-operations>.operation {
    background: #f9f9f9;
    border-radius: 8px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 135px;
    cursor: pointer;
}

.user-operations>.operation:nth-last-child(1) {
    margin-right: 0;
}

.operation-name {
    width: 108px;
    height: 34px;
    margin-top: 7px;
}

.operation-name p {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
}