.user-operations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px 10px 30px;
    margin-bottom: 10px;
}

.user-operations>.operation {
    background: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 120px;
    cursor: pointer;
}

.user-operations>.operation:nth-last-child(1) {
    margin-right: 0;
}

