.user-operations>.operation {
    background: #EEF0FF;
    border-radius: 8px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
    min-height: 130px;
    cursor: pointer;
}

.user-operations>.operation:nth-last-child(1) {
    margin-right: 0;
}

.conditional_disabled {
    filter: blur(1px);
}

.conditional_disabled:hover {
    cursor: auto;
}

.operation-name {
    width: 124px;
    height: 24px;
    margin-top: 15px;
}

.operation-name p {
    font-family: 'Segoe UI Semibold';
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #707070;
}

.operation-logo {
    width: 59px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
    /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); */
    background: white;
}