.mainAddingDeveloper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.innerAddingDeveloper {
  width: 97%;
  display: flex;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.addingDeveloperHeadings {
  width: 35%;
  background-color: #02044a;
  padding: 2rem;
  margin: 0.5rem;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.inputField2 .developerName_addingDeveloper .mohit {
  border: 2px solid red !important;
  border-radius: 5px !important;
}

.experience-radio-parent {
  width: 100%;
  display: flex;
}

.inputForm {
  width: 65%;
  background-color: #fff;
}

.model3d {
  position: absolute;
  width: 60%;
  bottom: 0;
  z-index: -1;
  left: 50%;
}

.techImage {
  position: absolute;
  width: 15%;
}

.html {
  bottom: 0;
}

.css {
  bottom: 50px;
  left: 30%;
}

.javascripts {
  bottom: 12%;
  left: 2%;
}

.reacts {
  bottom: 18%;
  left: 30%;
}

.angular {
  bottom: 22%;
}

.nodejs {
  bottom: 0;
  left: 40%;
}

.mongodb {
  bottom: 25%;
  left: 40%;
}

.addingDeveloperHeadings h1 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
}

.addingDeveloperHeadings p {
  font-family: 'Open Sans', sans-serif;
  color: #fad647;
  font-size: 1rem;
}

.pointsToRemember {
  margin-top: 8%;
}

.pointsToRemember ul {
  list-style: circle;
}

.pointsToRemember h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.pointsToRemember ul li {
  font-family: 'Open Sans', sans-serif;
  color: #fad647;
  margin: 1.5rem 0;
}

.inputForm {
  padding: 2rem 0 2rem 2rem;
}

.inputField1 {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  position: relative;
}

.inputField2 {
  height: 14%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  position: relative;
  margin-top: 3%;
  align-items: center;
}

.inputField1 .developerName_addingDeveloper, .inputField1 .developerDesignation_addingDeveloper {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 83%;
  justify-content: space-between;
}

.inputField2 .developerName_addingDeveloper {
  width: 31%;
  display: flex;
  flex-direction: column;
  height: 83%;
  justify-content: space-between;
}

.inputField2 .developerDesignation_addingDeveloper {
  width: 67%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  /* align-items: center; */
}

.upload-box {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #a8a8a8;
}

.resume_div:hover {
  cursor: pointer;
}

.developerDesignation_addingDeveloper ::-webkit-file-upload-button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 12px;
  text-transform: capitalize;
  color: #407bff;
  border: none;
  outline: none;
  border: 1px solid #a1a1a1;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 13px;
  background-color: white;
}

.developerName_addingDeveloper>h4, .developerDesignation_addingDeveloper>h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: capitalize;
}

.inputField1 .developerName_addingDeveloper input, .inputField1 .developerDesignation_addingDeveloper input {
  border: 1px solid #a2a2a2;
  border-radius: 8px;
  width: 73%;
  height: 40px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #000;
}

.black-strip_newestAddDeveloper {
  background-color: #000000;
  position: relative;
  width: 79px;
  height: 1px;
  top: 22px;
  left: -23px;
}

#browsers {
  font-size: 2rem;
}

.mainAddingDeveloper .MuiFormGroup-root {
  flex-direction: row !important;
  margin-left: 0 !important;
}

.uploadBlock_addingDeveloper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}

.uploadInfo_addingDeveloper {
  width: max-content;
}

.uploadInfo_addingDeveloper p {
  font: normal 500 14px 'Open Sans', sans-serif;
  line-height: 150%;
  text-transform: capitalize;
  color: #a8a8a8;
}

.fileUploadButton_addingDeveloper {
  width: 44%;
  display: flex;
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  padding: 7px;
}

.fileUploadButton_addingDeveloper:hover {
  cursor: pointer;
}

.fileUploadButton_addingDeveloper div {
  width: 100%;
  text-align: center;
  /* padding: 0.3rem 0rem; */
  cursor: pointer;
  /* font: normal 600 18px 'Inter'; */
  /* line-height: 150%; */
  /* text-transform: capitalize; */
  color: #407bff;
}

.inputField2 .MuiFormControl-root {
  border-radius: 8px !important;
  border: 1.19898px solid #a1a1a1 !important;
  height: 39px !important;
  display: flex !important;
  justify-content: center !important;
}

.inputField2 .MuiSelect-root {
  padding-left: 4px;
}

.MuiInput-underline:before, .MuiInput-underline::after {
  content: none !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #0d5179 !important;
}

.MuiRadio-colorSecondary:hover {
  background-color: none !important;
}

.PrivateSwitchBase-root-1 {
  background-color: #fff !important;
}

.mainAddingDeveloper .MuiTypography-body1 {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  text-transform: capitalize !important;
  /* color: #a8a8a8 !important; */
  margin-right: 29px !important;
}

.inputField2 .makeStyles-formControl-10 {
  margin-left: 0;
}

.mainAddingDeveloper .MuiFormLabel-root {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 27px !important;
  text-transform: capitalize !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #3a3a3a !important;
}

.MuiSelect-root em {
  width: 73%;
  height: 40px;
  padding-left: 2px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.priceRange {
  margin-top: 5%;
  position: relative;
}

.availabilityArea {
  margin-top: 5%;
  position: relative;
}

.submitButton {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.submitButton button {
  border-radius: 8px;
  outline: none;
  border: none;
  background: #EAF2FF;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  font: normal 600 14px 'Open Sans', sans-serif;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.4px;
  color: black;
}

.mainAddingDeveloper .submitButton button:hover {
  box-shadow: 0 2px 8px 2px rgb(0 0 0 / 20%);
}

.inputForm .submitButton {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.inputField1 input::placeholder {
  color: #A8A8A8;
}

.inputForm .submitButton button:hover {
  cursor: pointer;
  background-color: blue;
  color: #eaf2ff;
}

.mainAddDeveloperForm {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/AddDeveloper/bgImage.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.innermainAddDeveloperForm {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  margin: 4rem 0;
}

.formArea {
  width: 90%;
}

.formHeading {
  margin-bottom: 5%;
  margin-top: 3%;
}

.formHeading h2 {
  font-family: 'Josefin Sans';
}

.projectNameForm {
  margin-bottom: 3%;
}

.projectNameForm h2 {
  font-family: 'Josefin Sans';
  font-size: 1.3rem;
}

.projectNameForm input {
  width: 90%;
  height: 50px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.projectNameForm input:focus {
  outline: none;
}

.projectDescForm {
  margin-bottom: 3%;
}

.projectDescForm h2 {
  font-family: 'Josefin Sans';
  font-size: 1.3rem;
}

.projectDescForm textarea {
  width: 90%;
  height: 200px;
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.projectDescForm textarea:focus {
  outline: none;
}

.limitsOfWords {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-family: 'Open Sans', sans-serif;
}

.MuiButtonBase-root {
  font-family: 'Open Sans', sans-serif !important;
  border: none !important;
}

.mainAddingDeveloper .MuiInputBase-root {
  font-family: 'Open Sans', sans-serif !important;
  /* border: none !important; */
  background-color: #fff !important;
}

.MuiInputBase-root:focus {
  background-color: #fff !important;
}

/* .MuiSelect-select {
  padding-left: 10px !important;
  background-color: #fff !important;
  height: 30px !important;
  font-size: 1.2rem !important;
  margin-top: 10px !important;
  border: 1px solid #ddd !important;
  padding-top: 10px !important;
} */

.MuiInputBase-root:hover {
  /* border: none !important; */
  outline: none;
}

/* .MuiSelect-select:focus {
  background-color: #f1f1f1 !important;
} */

.nextButton {
  margin-top: 2%;
  margin-bottom: 5%;
}

.nextButton button {
  width: 10%;
  height: 40px;
  outline: none;
  border: none;
  background-color: #1566D8;
  border-radius: 6px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.error_paragraph {
  color: red;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0px;
  position: absolute;
}

.error_paragraph.basic {
  top: 4.7rem;
}

.error_paragraph.experience {
  top: 75px;
}

.yearsOfExperience_addingDeveloper {
  position: relative;
  margin-top: 4%;
}

.inputField2 .multi-select {
  display: flex;
  text-transform: capitalize;
  color: black;
  height: 51px;
  width: 92%;
  background: #ffffff;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
}

.inputField2 .dropdown-container {
  border: 1px solid #a2a2a2;
  border-radius: 8px;
}

.inputField2 .dropdown-container .dropdown-heading-value span {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  /* color: #767676; */
}