/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary-color: #0b0b0b;
    --secondary-color: #554dde;
    --success-color: #4dde9e;
    --primary-text-color: #fff;
    --translucent-text-color: rgba(255, 255, 255, 0.87);
    --translucent60-text-color: rgba(255, 255, 255, 0.6);
}

.emphasize {
    color: #f44e77;
}
.emphasize_blue {
    color: #554dde;
    font-weight: 700;
}

.emphasize_golden {
    color: #faad13;
    font-weight: 700;
}
.aboutus_page_wrapper {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Catamaran', sans-serif;
}

.gallery_section,
.centered_message_strip {
    padding: 0 5rem;
}

.quote_container {
    background: linear-gradient(
        91.94deg,
        rgba(85, 77, 222, 0.12) 0%,
        rgba(85, 77, 222, 0) 97.78%
    );
    border-radius: 12px;
    padding: 1.5rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    text-align: center;
    text-transform: capitalize;

    color: #928aff;
}

.gallery_section {
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gallery_right_side,
.gallery_left_side {
    border-radius: 12px;
}

.gallery_left_side img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.gallery_right_side {
    position: relative;
    margin-top: 1rem;
}
.gallery_right_side img {
    width: 100%;
    border-radius: 12px;
}

.gallery_right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery_right_side button {
    margin-top: 2rem;
    height: 55px;
    width: 150px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 6px;
    color: #fff;
    border: 0;
    outline: none;
}

.centered_message_strip {
    display: flex;
    justify-content: center;
    padding: 3.5rem 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}

.points_column_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point_card ~ .point_card {
    margin-top: 4rem;
}
.point_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #292929 0%, rgba(41, 41, 41, 0) 100%);
    border-radius: 22px;
    padding: 0 1rem;
    width: 90%;
}
.point_number {
    font-weight: 500;
    font-size: 8rem;
}

.point_text {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
    color: var(--translucent60-text-color);
}

.stats_card_row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem 2rem;
}

.stats_card {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 330px;

    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05)
        ),
        #0b0b0b;
    box-shadow: 0px 0px 5px #554dde, 0px 25px 35px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    margin-bottom: 4rem;
}

.stats_icon,
.stats_data {
    margin: 1.5rem 3rem 0 3rem;
}

.stats_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats_icon > img {
    height: 64px;
    width: 64px;
}
.stats_data {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-left: 5px solid white;
}
.number {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(4, 82, 149, 1);
}

.careers_section {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.career_heading {
    display: flex;
    flex-direction: column;
}
.heading_text {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(85, 77, 222, 1);
}

.heading_desc {
    font-size: 2rem;
    font-weight: 400;
    color: var(--translucent-text-color);
}

.career_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
}

.career_body {
    padding: 10rem 0;
    background: url('./Logos/careers_bg.svg');
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: -200px;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--translucent-text-color);
}

.career_card img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .gallery_section {
        flex-direction: row;
    }
    .gallery_right_side,
    .gallery_left_side {
        width: 48%;
    }

    .gallery_right_side {
        display: block;
        margin-top: 0;
    }
    .gallery_right_side button {
        position: relative;
        top: 70px;
        margin-top: 0;
    }
    .gallery_left_side img {
        height: 450px;
    }
    .gallery_right_side {
        position: relative;
    }
    .gallery_right_side img {
        height: 250px;
        width: 40vw;
    }

    .quote_bar {
        padding: 0 5rem;
    }
    .points_column_section {
        padding: 1.5rem 10rem;
    }

    .point_card {
        flex-direction: row;
    }

    .point_card_2 {
        margin-left: 8rem;
    }

    .careers_section {
        padding: 4rem 5rem;
    }
    .career_content {
        flex-direction: row;
    }
    .career_card {
        width: 50%;
    }
    .stats_card_row {
        padding: 4rem 5rem;
    }

    .feature_section_wrapper {
        padding: 6rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .intro_container {
        background-image: url('./Logos/IntroCard.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 8rem;
        background-size: 28%;
    }

    .fact_action {
        font-size: 2rem;
        padding: 0 4rem 4rem 4rem;
    }
} */


.about_banner_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.about_info_wrap {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;
}

.about_career_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.08);
    padding-bottom: 3rem;
}

.about_CTA_bottom_padding {
    padding-top: 5rem !important;
}

.about_progress_bar_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about_heading_bg {
    background-image: url('../../assets/images/LandingPage/pink_bg.svg');
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width: 580px) {
    .about_career_wrap {
        flex-direction: column;
    }
}