.back-button_newestAddDeveloper {
  position: relative;
  background: #F9F9F9;
  display: flex;
  width: 97%;
  margin: auto;
  height: 44px;
  border-radius: 22px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.image-div_newestAddDeveloper {
  width: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}

.image-div_newestAddDeveloper h6 {
  font-family: 'Segoe UI Semibold';
  font-size: 18px;
  text-transform: capitalize;
  color: #45A4E4;
}

.add-developer-div h6 {
  font-family: 'Segoe UI Bold';
  font-size: 22px;
  text-transform: capitalize;
  color: #45A4E4;
}

.hover img {
  width: 30px;
}

.image-div_newestAddDeveloper>div {
  cursor: pointer;
}

.back-button_newestAddDeveloper .MuiSvgIcon-root {
  width: 22px;
  height: 22px;
}

.back-icon {
  margin-left: 4px !important;
}

.hover:hover {
  color: blue;
  border-color: blue;
}

.add-developer-div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}