.signup__wrapper {
    height: 100vh;
    display: flex;
}

.image__container {
    position: relative;
    flex: .7;
    background: #e5e5e5;
}

.background__image {
    height: 100%;
}

.select__area {
    flex: 1;
    padding-top: 3%;
    padding-right: 3%;
    background: #e5e5e5;
    padding-left: 15%;
    font-family: 'Poppins' , sans-serif;
}

.existing_accountText {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Poppins' , sans-serif;
    font-size: 1.1rem;
}

.existing_accountText > p {
    margin: 0;
    padding: 0;
    padding-right: .5%;
    color: #8692A6;
}

.signup__title {
    margin-top: 25%;
}

.signup__title > h3 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2%;
}

.signup__subtext > p {
    margin: 0;
    padding: 0;
    color: #8692A6;
}

.signup__methodCard {
    background: #fff;
    display: flex;
    align-items: center;
    width: 60%;
    padding: 3%;
    margin-top: 3%;
    border-radius: 6px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06);
    position: relative;
    transition: .3s ease;
    cursor: pointer;
}

.role {
    margin-left: 7%;
}

.role > p {
    margin: 0;
    padding: 0;
}

.proceed__icon {
    position: absolute;
    right: 5%;
}

.signup__methodCard:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

.signup__polygon {
    width: 60%;
}