@media (max-width: 360px) {
    .mainFormPhase {
        padding: 2rem 1rem;
    }
    .formPhaseCards {
        padding: 0 0.5rem 0 0;
    }
    .formPhaseCards span {
        font-size: 0.65rem;
    }
    .formPhaseCards h6 {
        width: 37px;
        height: 20px;
        font-size: 0.6rem;
    }
}