.container-bottom-sidebar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 6px;
    z-index: 3;
    display: none;
}

.bottom-sidebar-menu {
    background: #ffffff;
    height: 100%;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 18%);
    border-radius: 5px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icons > img {
    height: 19px;
    width: 22px;
}

.icons > p {
    font-size: 13px;
    padding: 5px;
    font-family: 'Segoe UI Semibold';
}

.developers-icon > div > p {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    padding: 5px;
}

@media (max-width: 768px) {
    .container-bottom-sidebar {
        display: flex;
    }
}
