.mainContainer{
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px;
  display: block;
}

.nameBar{
  display: flex;
  justify-content: space-between;
}

.name{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #45A4EA;
}

.techLabel{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #212529;
  display: block;
}

.techDescription{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #707070;
}

.viewMore{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  text-transform: capitalize;
  color: #45A4EA;
  margin-left: 8px;
}

.downArrow{
  margin: 4px;
  margin-top: 6px;
}

.experienceDiv{
  display: grid;
  grid-template-columns: 50% 50%;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
}