.submit-button {
    padding: 6px;
    border: 0.62069px solid #3A3A3A;
    box-sizing: border-box;
    border-radius: 4.96552px;
    display: grid;
    place-items: center;
    margin-right: 15px;
    cursor: pointer;
}