@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.Navbar-parent.margin-left {
  width: 90%;
  margin-left: 10%;
}

.sidebar-parent_agencyList .container-sidebar {
  top: 0;
}

.backArrow_agencyList {
  position: absolute;
  top: 12%;
  left: 1.5%;
  z-index: 100;
}

.backArrow_agencyList i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

.projectDetailsInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noDataFound {
  width: 40%;
  margin-top: 10px;
  text-align: center;
  margin: auto;
}

.noDataFound img {
  width: 80%;
  height: 50%;
}

.innerprojectDetailsInfo_agencyList {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  margin-left: 12%;
}

.addressTeam_AgencyList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.innerprojectDetailsInfo_agencyList p {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.innerprojectDetailsInfo_agencyList span {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #000;
}

.innerprojectDetailsInfo_agencyList span em {
  color: #000;
}

.mainAgencyList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerAgencyList_agencyList {
  margin-top: 1%;
  width: 100%;
  display: flex;
  margin-left: 12%;
}

.AgencyCardsArea_agencyList {
  width: 80%;
}

.agencyPreciseCard_agencyList {
  min-height: 30vh;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  margin-bottom: 4%;
}

.agencyCardHeaderLine {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 10vh;
  background-color: #ebf5fb;
}

.agencyCardHeaderInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.agencyImageProfile {
  width: 70%;
  display: flex;
}

.agencyImageArea {
  width: 100px;
  height: 100px;
  margin-right: 2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.agencyImageArea img {
  width: 100%;
  object-fit: contain;
}

.agencyProfileInfo h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 6%;
}

.agencyProfileInfo div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.agencyProfileInfo div p {
  padding: 0.1rem 0.5rem;
  margin-right: 10px;
  border-radius: 999px;
  background-color: #02044a;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.profileButton p {
  font-family: 'Open Sans', sans-serif;
  color: #3498db;
  font-weight: bold;
  cursor: pointer;
}

.profileButton p i {
  margin-left: 5px;
}

.profileButton p:hover {
  text-decoration: underline;
}

.middleAgencyArea {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.agencyAddressTeam {
  width: 48%;
  padding: 0.5rem;
  overflow: hidden;
}

.agencyAddressArea, .agencyTeamNumber {
  display: flex;
}

.locationIcon i, .teamIcon i {
  font-size: 1.2rem;
  color: #02044a;
  margin-right: 10px;
}

.locationText, .teamNumberPart :is(p) {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
}

.locationText {
  overflow: hidden;
}

.locationText p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamNumberPart span {
  font-weight: bold;
  margin-right: 3px;
}

.agencyDescInfo {
  width: 50%;
  border: 1px dashed #f0f0f0;
  padding: 0.5rem;
  height: 110px;
  overflow-y: scroll;
}

.agencyDescInfo::-webkit-scrollbar {
  width: 4px;
}

.agencyDescInfo::-webkit-scrollbar-track {
  background: #fff;
  /* color of the tracking area */
}

.agencyDescInfo::-webkit-scrollbar-thumb {
  background-color: #3498db;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.agencyDescInfo p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.agencyAddressTeam, .agencyDescInfo :is(h6) {
  font-family: 'Fredoka One', cursive;
}

.agencyAddressTeam h6::after, .agencyDescInfo h6::after {
  content: '';
  width: 40px;
  height: 2px;
  display: block;
  background-color: #000;
}

.quotationShortlistButton {
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  padding-bottom: 2%;
}

.quotationShortlistButton div {
  width: 20%;
  margin-right: 3%;
  background-color: #fff;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

/* .quotationShortlistButton div p {
  transform: translateY(6.5px);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
} */

.quotationShortlistButton div:nth-child(1) {
  border: 1px solid #3498db;
  color: #3498db;
}

.quotationShortlistButton div:nth-child(2) {
  background-color: #3498db;
  color: #fff;
}

.agencyFilterArea_agencyList {
  margin-top: '2px';
  width: 22%;
  position: relative;
  /* overflow: hidden; */
}

.filterForm {
  width: 100%;
  background-color: #fff;
  /* height: 60vh; */
  overflow: hidden;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  /* border: 2px solid #000; */
  position: sticky;
  top: 3%;
}

.filterHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #999;
}

.filterText {
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
}

.filterText::after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
}

.filterHeading div p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #3498db;
}

.locationFilter {
  margin-top: 4%;
  margin-bottom: 6%;
  /* border-bottom: 1px solid #e4e4e4; */
  padding-bottom: 5%;
}

.locationFilter p, .officeVisitFilter p {
  font-family: 'Open Sans', sans-serif;
  /* transform: translateY(10px); */
  font-weight: bold;
  font-size: 1.1rem;
}

.locationFilter p::after, .officeVisitFilter p::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #000;
  display: block;
}

.locationFilter input {
  margin-top: 2%;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #999;
}

.locationFilter input:focus {
  outline: none;
}

.officeVisitFilter {
  /* margin-top: 4%; */
  margin-bottom: 3%;
  /* border-bottom: 1px solid #e4e4e4; */
  /* padding-bottom: 2%; */
}

.officeVisitRadio {
  display: flex;
  align-items: center;
  margin-top: 10%;
  cursor: pointer;
  width: 50%;
}

.officeVisitRadioImage {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 2px solid #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10%;
}

.officeVisitRadioImage i {
  font-size: 0.9rem;
}

.officeVisitRadio span {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  user-select: none;
}

.ShortListModalOverlay, .QuotationModalOverlay {
  background: #707070 !important;
  /* background-image: linear-gradient(#45A4E4, #5C6DFF); */
opacity: 0.3;
}

.ShortListModal {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

.shortlistModal_agencyList {
  font-family: 'Open Sans', sans-serif;
}

.shortlistModal_agencyList h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 4%;
}

.shortlistModal_agencyList h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #000;
  display: block;
}

.shortlistForm {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.shortlistForm span {
  /* font-weight: bold; */
  font-size: 0.8rem;
  color: #3498db;
}

.shortlistForm textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 4px;
  margin-top: 1%;
}

.shortlistForm textarea:focus {
  outline: none;
}

.shortlistForm button {
  height: 50px;
  outline: none;
  border: none;
  background: #3498db;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
}

.shortlistForm .margin-top {
  margin-top: 1.5rem;
}

.QuotationModal {
  max-width: 650px;
  width: 100%;
  border-radius: 10px;
}

.QuotationModal {
  color:#707070;
  font-family: 'Open Sans', sans-serif;
}

.QuotationModal h2 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 5%;
  color: #7cbfec;
  /* border-bottom: 1px solid #e0e0e0; */
  /* padding-bottom: 4%; */
}

/* .QuotationModal h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #000;
  display: block;
} */

.quotationTable {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* border-bottom: 1px solid #e0e0e0; */
  min-height: 50px;
  margin-top: 2%;
  /* width: 55%; */
  padding-bottom: 2%;
}

/* .tableHeaderQuotation {
  width: 30%;
  border-right: 1px solid #e0e0e0;
} */

.tableHeaderQuotation p {
  font-weight: bold;
}

.tableContentQuotation {
  margin: 6px 4px 12px 0px;
  /* width: 65%; */
  display: flex;
  font-size: small;
  flex-wrap: wrap;
}

.tableContentQuotation p {
  margin-right: 20px;
}

.tableContentQuotation input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
}

.tableContentQuotation textarea {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
}

.quotationTable button {
  display: flex;
  align-self: flex-end;
  float: right;
}

.quotationSubmitButton {
  display: flex;
  justify-content: space-between;
}

.quotationSubmitButton button {
  transform: translateY(-10px);
  width: 20%;
  height: 45px;
  outline: none;
  border: none;
  background-image: linear-gradient(#462CCA, #5C6DFF);
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}