.backArrow_productAgencies {
    position: absolute;
    top: 12%;
    left: 2%;
    z-index: 100;
}
/* .agencyProfileInfo {
    width: 100%;
} */
.backArrow_productAgencies i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

.margin-top_productAgencies {
    margin-top: 5rem;
}

.officeVisitFilter_productAgencies {
    margin-bottom: 3%;
}

.officeVisitFilter_productAgencies p {
    font-family: 'Segoe UI semibold';
    font-size: 1rem;
    margin-top: 1rem;
}
.officeVisitFilter p {
    font-size: 1rem;
    font-family: "Segoe UI semibold";
}
.MuiSelect-root em {
    font-family: "Segoe UI";
    color: #707070;
}

.officeVisitFilter_productAgencies p::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #000;
    display: block;
}

.searchButton {
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 0.4rem;
    background-color: white;
    color: #ffffff;
    background-image: linear-gradient( #015F9A, #0376BA);
}

.searchButton:hover {
    cursor: pointer;
}

.Image2_productAgencies {
    right: -9rem;
    position: absolute;
    bottom: -5rem;
    width: 43rem;
    z-index: 0;
}
.Image1_productAgencies {
    left: -7rem;
    position: absolute;
    top: -5.5rem;
    width: 43rem;
  }

.locationFilter input {
    border: 1px solid #999;
}
.mainAgencyList_productAgencies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    position: absolute;
    overflow: hidden;
}

.filterForm_productAgencies {
    width: 20%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: fixed;
    right: 2rem;
    top: 10rem;
    color: #707070;
    font-family: 'Segoe UI';
}

.filter_productAgencies {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.locationFilter p::after, .officeVisitFilter_productAgencies p::after, .officeVisitFilter p::after{
    content: none !important;
}
.locationFilter p {
    font-family: 'Segoe UI';
    font-size: 1rem;
    margin-top: 1rem;
}

.AgencyCardsArea_productAgencies {
    width: 87%;
    padding: 18px;
}

.agencyFilterArea_productAgencies {
    margin-top: 1rem;
    width: 25%;
    position: relative;
}

.innerAgencyList_productAgencies {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    /* justify-content: space-around; */
}

.productInformationHeading {
    width: 100%;
    padding-left: 1rem;
}

.productInformationHeading h5 {
    font-family: 'Segoe UI';
    font-size: 1rem;
    font-weight: bold;
    color: #707070;
    margin-left: 2rem;
}

.productAgencyMiddle.bottom{
    margin-top: -15% ;
    margin-left: 3%;
    flex-direction: row-reverse;
}
.agencyProfileInfo.name h6 {
    padding-top: 0rem ;
    padding-left: 1rem ;
}
.quotationShortlistButton.button{
    top: 15.5rem ;
    left: 10.2rem ;
}

.agencyProfileInfo.name div {
    display: flex;
    margin-top: 2.5rem;
    position: absolute;
    left: 6rem;
}

.agencyImageProfile.innerdiv {
 position: relative;
 top: 0rem;
 left: 0.8rem;
}

.productAgenciesTeam {
    width: 48%;
    height: 10rem;
    padding: 0.5rem;
    overflow: hidden;
    background-color: #fff;
}

.productAgenciesTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 7.6rem;
    left: 38rem;
    width: 36%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 18%);
}

.agencyImageArea.image {
    width: 100px ;
    height: 100px  ;
    margin:0 ;
}

.agencyPreciseCard.agencyPreciseCard_productAgencies {
    /* background-image: url(../../../assets/images/AddProductAgency/background.svg); */
    height: 19.5rem;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    background-image: linear-gradient(to right, #ffffff,#ffffff,#8EC1E0 );
   margin-bottom: 1rem;
}

.agencyPreciseCard {
    background-repeat: no-repeat;
      background-size: contain;
    min-height: 30vh;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: -5%;
  }

.horizontalLine {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    top: 48%;
    transform: translateY(-50%);
}

.verticalLine {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #e0e0e0;
    top: 0;
    left: 48%;
    transform: translateX(-50%);
}

.productAgencyList {
    width: 100%;
}

.productAgencyContent {
    overflow: hidden;
    display: flex;
    margin: 0.54rem 1.2rem 0.2rem 1.2rem;
    padding: 0.1rem 0.3rem ;
    justify-content: space-between;
    border-bottom: 1px dotted #707070;
    color: #707070;
    font-family: 'Segoe UI';
}

.productAgencyContent span {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: #999;
    overflow: hidden;
}

/* .productAgencyContent p {
} */

.productLogoHere img {
    width: 100%;
    object-fit: contain;
}

.productDescArea {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.productLogoHere {
    width: 20%;
    position: sticky;
    top: 0;
}

.agencyDescInfo {
    position: relative;
}

.productLogoHere {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.productLogoHere img {
    width: 100%;
    object-fit: contain;
}

.productAgencyDescPara {
    width: 75%;
}

.agencyTeamNumber {
    flex-direction: row-reverse;
}

.agencyTeamNumber i {
    margin-left: 5%;
}

.customOverlayAgencyProduct {
    background: rgba(0, 0, 0, 0.9);
}

.customModalAgencyProduct {
    background: #fff;
    max-width: 400px;
    width: 100%;
}

.moreAgencies {
    text-align: center;
    width: 25%;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    margin: 0rem 0rem 0rem 0rem;
}

.modalHeaderProduct {
    border-bottom: 1px solid #999;
    padding-bottom: 3%;
}

.modalHeaderProduct h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #3498DB;
    transform: translateY(5px);
}

.productModalForm {
    margin-top: 5%;
}

.toText {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.productModalInput {
    margin-bottom: 3%;
    font-family: 'Open Sans', sans-serif;
}

.productModalInput p {
    font-size: 0.7rem;
    font-weight: bold;
}

.productModalInput input {
    width: 100%;
    height: 40px;
    padding-left: 12px;
    font-size: 0.9rem;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #F8F9F9;
    border: 1px solid #e0e0e0;
}

.productModalInput input:focus {
    outline: none;
}

.productModalInput textarea {
    padding: 0.9rem;
    width: 100%;
    font-size: 0.9rem;
    outline: none;
    border: none;
    background-color: #F8F9F9;
    border: 1px solid #e0e0e0;
}

.productModalInput textarea:focus {
    outline: none;
}

.connectedButton {
    margin-top: 4%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #3498DB;
    cursor: pointer;
    font-weight: bold;
}

.connectedButton>div {
    width: 76%;
    margin: auto;
}

.connectedButton>div:hover {
    color: blue;
}

.connectedButton i {
    transform: translateY(1px);
}

.search-filter_productAgencies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_found_productAgency img {
    margin-top: 4rem;
}

.not_found_productAgency h6 {
    margin-top: 1rem;
}