@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital@1&family=Rubik&display=swap');
/* Modal  */

.successfullProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.productForm_parent {
  padding-top: 5rem;
}

.image_div {
  width: 40%;
}

.image_div_child {
  width: 100%;
}

.successImage {
  height: 300px;
  margin-bottom: 0%;
}

.product-form .back-button_newestAddDeveloper {
  top: 5rem;
}

.successImage div {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successImage div img {
  width: 60%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.successfullyText p {
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
}

.successfullyText span {
  color: #999;
}

.mainProductForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.innerProductForm {
  width: 85%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: relative;
}

.leftBorderLineProduct {
  position: absolute;
  width: 16px;
  height: 90%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #2e86c1;
  border-radius: 999px;
}

.productTagLine, .productIllustration {
  width: 50%;
}

.productIllustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productIllustration div {
  width: 400px;
  height: 300px;
}

.productIllustration img {
  width: 100%;
  object-fit: contain;
}

.productTagLine {
  padding: 3%;
  padding-left: 8%;
}

.productTagLine h1 {
  font-family: 'Fredoka One';
  font-size: 4.5rem;
  color: #2e86c1;
}

.productTagLine p {
  font-family: 'Open Sans', sans-serif;
  color: #999;
}

.productsHeadlines {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerProductHeadlines {
  width: 85%;
  text-align: center;
  margin: 3% 3%;
}

.innerProductHeadlines h3 {
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #45A4EA;
}

.innerProductHeadlines p {
  font-family: 'Open Sans', sans-serif;
  color: #999;
  font-size: 0.75rem;
}

.form_1, .form_2, .form_3 {
  margin-bottom: 7%;
  position: relative;
}

.mainProductFormArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}

.modalButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.error_productForm {
  font-family: 'Segoe UI' !important;
  color: red !important;
  font-size: 14px !important;
  margin-left: 1rem;
  margin-top: 0 !important;
}

.form4_Fields .error_productForm {
  margin-left: 1.5rem !important;
}

.previousFunding .MuiFormGroup-root {
  flex-direction: row !important;
  margin-left: 3rem;
}

.innerProductFormArea {
  width: 80%;
  position: relative;
  background: #FFFFFF;
}

.straightLine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3px;
  background-color: #d6eaf8;
  display: flex;
  flex-direction: column;
}

.one_line {
  position: absolute;
  height: 35rem;
  background-color: #2e86c1;
  right: 6rem;
  top: 6rem;
  width: 5px;
}

.two_line {
  position: absolute;
  height: 41rem;
  background-color: #2e86c1;
  left: 6rem;
  top: 0;
  width: 5px;
}

.three_line {
  position: absolute;
  height: 55rem;
  background-color: #2e86c1;
  right: 6rem;
  top: 0;
  width: 5px;
}

.four_line {
  position: absolute;
  height: 46rem;
  background-color: #2e86c1;
  left: 6rem;
  top: 0rem;
  width: 5px;
}

.orange_color {
  position: absolute;
  background: #FE5E00;
  width: 146px;
  height: 100px;
  top: 5rem;
  left: -4rem;
}

.one-orange_color {
  position: absolute;
  left: 17px;
  top: 1rem;
}

.one-orange_color p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 150%;
  text-transform: capitalize;
  color: #3A3A3A;
}

.form_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 12px;
}

.form1_Fields ul {
  margin-bottom: 0;
  margin-left: 1rem;
}

.illustrationArea {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustrationArea img {
  width: 60%;
  object-fit: contain;
}

.form1_Fields section {
  font-family: 'Segoe UI';
}

.form1_Fields section p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #45A4EA;
}

.form1_Fields section:nth-child(2) input {
  width: 70%;
  height: 35px;
  padding: 0.6rem;
  font-size: 14px;
  color: #707070;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #45A4EA;
  border-radius: 6px;
}

.form1_Fields section input:focus, .form1_Fields section textarea:focus {
  outline: none;
}

.form1_Fields section textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 8px;
  border-radius: 6px;
}

.form_2 {
  display: flex;
  align-items: center;
  padding: 4rem;
  justify-content: space-around;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 12px;
}

.form2_Fields section {
  font-family: 'Segoe UI';
}

.illustrationArea, .form2_Fields, .illustrationArea, .form3_Fields, .illustrationArea, .form4_Fields, .form1_Fields {
  width: 55%;
}

.form2_Fields section input {
  width: 100%;
}

.form2_Fields .MuiFormControl-root, .form3_Fields .MuiFormControl-root {
  margin-top: 0;
}

.amountRaised .MuiFormControl-root {
  margin-left: 0;
}

.form5_Fields ul, .form2_Fields ul, .form3_Fields ul {
  margin-left: 1rem;
  margin-bottom: 0;
}

.form4_Fields ul {
  margin-left: 1rem;
}

.form2_Fields section p {
  font-family: 'Segoe UI';
  margin-top: 1rem;
  font-size: 1rem;
  color: #45A4EA;
}

.form2_Fields section input {
  width: 100%;
  height: 45px;
  padding-left: 12px;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.radioGroupButtons {
  display: flex;
  margin-top: 5px;
  margin-left: 2.5rem;
}

.radioButton {
  margin-right: 8%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioButton span {
  margin-left: 5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #2e86c1;
  margin-right: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioButton span div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2e86c1;
}

.radioButton h6 {
  font-family: 'Segoe UI';
  color: #707070;
  font-size: 12px;
  user-select: none;
}

.form2_Fields section input:focus {
  outline: none;
}

.form_3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 12px;
}

.form3_Fields section {
  font-family: 'Open Sans', sans-serif;
}

.form3_Fields section p {
  font-size: 22px;
  font-family: 'Segoe UI';
  margin-top: 1rem;
  font-size: 1rem;
  color: #45A4EA;
}

.form3_Fields section input {
  width: 100%;
  height: 45px;
  padding-left: 12px;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.form3_Fields section input:focus {
  outline: none;
}

.amountRaised {
  padding-left: 5%;
}

.howMuchHaveYouRaised {
  font-family: "Segoe UI";
  color: #45a9ea;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.howMuchHaveYouRaised > ul {
  list-style-type: circle;
}

.character_specification {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 15px;
}

.character_specification p {
  font-weight: 500 !important;
  font-size: 9px !important;
  line-height: 150%;
  text-transform: capitalize !important;
  color: #706E6E !important;
}

.currentStageRadios {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.7rem;
  margin-left: 2.2rem;
}

.remselectFromHere {
  padding: 1rem;
  font-family: 'Segoe UI';
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  color: #707070;
}

/* .currentStageRadios .radioButton:nth-child(4) {
  margin-bottom: 0px;
  margin-top: 1rem;
} */

.currentStageRadios .radioButton {
  border-color: #fff;
  padding: 0 0.5rem;
  margin-right: 3% !important;
  transition: 0.3s ease-in-out;
}

.currentStageRadios p {
  transform: translateY(8px);
}

.form_4 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4rem;
  justify-content: space-around;
}

.form_4buttonSubmit {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 12px;
}

.form_1 section input, .form_1 section textarea, .form_4 section input {
  margin-top: 0.2rem;
  margin-left: 1rem;
  padding: 0.6rem;
  font-size: 14px;
  color: #707070;
  border: 1px solid #45A4EA;
  border-radius: 8px;
  width: 70%;
}

.form4_Fields section p {
  font-family: 'Segoe UI';
  margin-top: 1rem;
  font-size: 1rem;
  color: #45A4EA;
}

.form4_Fields section input {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: 1px solid #45a4ea;
  margin-top: -0.8rem;
  font-family: 'Segoe UI';
  margin-left: 1.5rem;
  border-radius: 5px;
}

.form4_Fields section input:focus {
  outline: none;
}

.illustrationArea, .form5_Fields {
  width: 100%;
  user-select: none;
}

.form_5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.form5_Fields section {
  margin-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
}

.form5_Fields section input {
  padding-left: 12px;
  margin-top: 0.2rem;
  margin-left: 1rem;
}

.form5_Fields section input:focus {
  outline: none;
}

.founderLink {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.founderLink input {
  width: 90% !important;
  margin-bottom: 4%;
}

.founder_Link {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.founder_Link input {
  width: 71% !important;
}

.founderLink div {
  width: 45px;
  height: 35px;
  background-color: #ffffff;
  outline: none;
  border: none;
  color: #45A4EA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 3px;
}

.founderLink div i {
  font-size: 1.4rem;
  cursor: pointer;
}

.form5_Fields button {
  width: 45px;
  height: 35px;
  background-color: #ffffff;
  outline: none;
  border: none;
  color: #45A4EA;
  font-weight: bold;
  border-radius: 6px;
  margin-top: -6px;
}

/* .submitButton_productForm {
  margin-top: -4rem;
} */

.submitButton_productForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3rem;
  position: relative;
}

.subbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  border-radius: 12.4615px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 1rem
}

.subbutton p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Segoe UI';
  color: #45A4EA;
  font-size: 18px;
  text-align: center;
  padding: 0.5rem 0rem;
}

.subbutton i {
  margin-left: 10px;
}

.modalButton button {
  padding: 0.4rem 1rem;
  margin-right: 4%;
  outline: none;
  border: none;
  font-weight: bold;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  color: #2c5bc7f5;
}

.filePicker {
  width: 70%;
  height: 35px;
  padding: 0.6rem;
  font-size: 14px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #45A4EA;
  border-radius: 6px;
  margin-top: 0.2rem;
  margin-left: 1rem;
}

li ::marker {
  color: #45A4EA;
}

.MuiSelect-select.MuiSelect-select {
  font-size: 0.8rem;
  color: #707070;
  font-family: 'Segoe UI';
  padding-left: 1rem;
}