/* .container-body {
    flex: 1;
} */

.container-body > .content-body {
  display: flex;
}

.user-operations {
  height: 20vh;
}

.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container-body {
  width: 90%;
  margin-left: 10%;
}

.user-project-details {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0 22px;
  flex-wrap: wrap;
  height: 60vh;
  /* background-color: red; */
  overflow: scroll;
}

.user-project-details > .graphic {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graphic-illustration-heading h6 {
  width: 90%;
  margin: auto;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #3a3a3a;
}

.container-body > .content-body > .content-leftBody {
  min-width: 65vw;
}
