.dashboard-container {
    height: 100vh;
    display: flex;
}

.container-body {
    flex: 1;
}

.container-body>.content-body {
    display: flex;
}

.user-project-details>.graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graphic-illustration-heading h6 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #3a3a3a;
}

.container-body>.content-body>.content-leftBody {
    min-width: 65vw;
}

.container-body>.content-body>.content-rightBody {
    min-height: 600px;
    height: 100%;
    min-width: 315px;
    background: #f9f9f9;
    mix-blend-mode: normal;
    border-radius: 45px 10px 10px 10px;
}