.mainClientProfile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerClientProfile {
    width: 90%;
    padding-top: 1rem;
}

.clientProfileHeading h2 {
    font-family: 'Segoe UI bold';
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 0;
}

.mainClient_parent {
    padding-top: 5rem;
    /* background: linear-gradient(284deg, rgba(3, 118, 186, 1) 0%, rgba(1, 48, 77, 1) 100%); */
    position: relative;
    overflow: hidden;
}

.myProfileInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 4.5rem 0;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    z-index: 2;
}

.leftLineClient {
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #02044a;
}

.profileEditBtn {
    position: absolute;
    top: 1.1rem;
    right: 2%;
    border-radius: 999px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    background-color: #015F9A;
    padding: 0.2rem 1.6rem;
    font-family: "Segoe UI semibold";
}

.cancel, .save {
    position: absolute;
    bottom: 25px;
    right: 10%;
    padding: 0.3rem 1rem;
    background-color: #e0e0e0;
    font-family: 'Segoe UI';
    border-radius: 1rem;
    cursor: pointer;
}

.save {
    right: 2%;
    background-color: #5DADE2;
    color: #fff;
}

.myProfileCard {
    width: 90%;
    display: flex;
    align-items: center;
}

.avatarArea {
    width: 25%;
}

.clientProfileDetails {
    width: 70%;
}

.avatarArea div {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10rem;
}

.avatarArea div img {
    width: 100%;
    border-radius: 10rem;
    object-fit: cover;
    background-color: #015F9A;
}

.clientProfileDetails {
    width: 55%;
    margin-left: 10%;
    margin-top: 1%;
}

.clientProfilDesc {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 2%;
    border: 1px solid #ababab;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.clientFormHeading {
    width: 40%;
}

.clientFormHeading p {
    font-weight: bold;
    font-size: 0.9rem;
    color: #707070;
    margin-left: 1.5rem;
}

.clientFormAnswer p {
    color: #707070;
    padding: 5px;
    /* margin-left: 4rem ; */
    font-size: 0.8rem;
}

.clientFormAnswer {
    width: 60%;
}

.clientFormAnswer input {
    height: 33px;
    padding-left: 10px;
    width: 100%;
    font-family: 'Segoe UI';
    font-size: 0.8rem;
    color: #707070;
}

.clientFormAnswer input:focus {
    outline: none;
}