.respondCards_AgencyRespondedDetails {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.innerResponseCard {
    width: 40%;
    background-color: #fff;
    padding: 1rem 2.5rem 2rem 2.5rem;
    border-radius: 8px;
    margin: 0 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.leftLine {
    position: absolute;
    width: 10px;
    background-color: rgb(69, 164, 228);
    top: 50%;
    left: 0;
    height: 102%;
    transform: translateY(-50%);
}

.innerResponseCard div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 20px;
}

.respondCards_AgencyRespondedDetails .innerResponseCard div p {
    font-family: 'Segoe UI';
    margin-top: 4%;
    font-size: 1rem;
    transform: translateY(20px);
}

.innerResponseCard div p:nth-child(1) {
    color: #000;
    font-size: 1.1rem;
    white-space: nowrap;
}

.innerResponseCard div p:nth-child(2) {
    font-size: 1.1rem;
}