.requirementCard {
    border-radius: 6px;
    box-sizing: border-box;
    padding-top: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    border: 1px solid #e1e1e1;
    position: relative;
}

.requirementCard:hover {
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.12);
    border: 1px solid #c560f1;
}

.headingText {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #131520;
    font-family: Segoe UI;
}

.verticalBar {
    border: 0.4px solid #000;
    margin: 0% 1.5% 0% 1.5%;
    height: 16px;
    width: 1px;
    background-color: #000;
}

.tag {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #007a5a;
}

.headingContainer {
    display: flex;
    flex: 1;
    padding-inline: 1rem;
    align-items: center;
    justify-content: space-between;
}

.titleNTag {
    display: flex;
    flex: 1;
    align-items: center;
    font-family: Segoe UI;
}

.insight {
    display: flex;
    flex: 1;
    padding-inline: 1rem;
    margin-top: 24px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.documentImg {
    height: 16px;
    width: 16px;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
}

.modalContainer {
    min-width: 600px;
    padding: 24px;
}

.modalHeading {
    display: grid;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #131520;
    grid-template-columns: 99% 1%;
}

.modalSubHeading {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #707070;
}

.modalJDHeading {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #5c6dff;
}

.modalJD {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
    color: #707070;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.gridLabel {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #5c6dff;
}

.gridValue {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #131520;
}

.modalRoot {
    border-radius: 6px;
}

.modalCancelButton {
    height: 22px;
    width: 22px;
    object-fit: contain;
    cursor: pointer;
}

.RequirementsListCTA {
    width: 150px !important;
    background-color: #5c6dff;
    border-color: #5c6dff;
}

.requirementSwitch {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    position: absolute;
    right: 0px;
    bottom: 4px;
    padding: 4px;
}

.requirementSwitchHolder {
    display: flex;
}