.feature_section {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}
.feature_question {
    display: flex;
}

.question {
    font-size: 2rem;
    padding: 0 2rem;
}

@media only screen and (min-width: 768px) {
    .feature_section_wrapper {
        flex-direction: row;
    }
}
