.hire_agency_title {
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}
.hire_dev {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    background-image: url('../Logos/hire_section_start_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hire_dev_features_list {
    padding: 0 1.5rem;
}

.hire_dev_features_list li {
    margin-bottom: 1.5rem;
}

.devillusholder {
    display: flex;
    justify-content: center;
}
