.emphasize {
    color: #f44e77;
}
.logobar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logobar_intro_text {
    text-align: center;
    padding: 5rem 6rem;
}

.logo_row {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
