.emphasize {
    color: #f44e77;
}
.logobar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logobar_intro_text {
    text-align: center;
    padding: 5rem 6rem;
}

.logo_row {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.logo_row :nth-child(2) ~ img {
    display: none;
}

@media (min-width: 768px) {
    .logobar_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .logobar_intro_text {
        width: 18%;
        text-align: left;
        padding: 1rem;
    }
    .logo_row {
        width: 70%;
    }
    .logo_row img {
        width: 15%;
    }
    .logo_row :nth-child(2) ~ img {
        display: block;
    }
}
