.requirement_listing_container {
    position: relative;
}

.navbarDiv {
    height: 76px;
}

.partition {
    display: flex;
    flex: 1;
}

.listContainer {
    width: 65%;
    margin-left: 60px;
}

.optionsContainer {
    flex: 1;
    position: fixed;
    min-height: 100vh;
    /* margin: 0% 2% 0% 74%; */
    max-width: 28%;
    right: -1rem;
    top: 18vh;
    background-color: #fff;
}

.partionWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    justify-content: center;
}

.searchBarContainer,
.recommendedJobs {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 6px;
    margin: 30px 100px 30px 60px;
    align-items: center;
}

.searchBarContainer {
    width: 65%;
}

.recommendedJobs {
    background-color: transparent;
}

.searchBarStyle {
    width: 75%;
}

.searchAndBtnWrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.searchBtn {
    background-color: #5c6dff;
    border-color: #5c6dff;
}

.showMorebtn {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.login_switch {
    display: flex;
    width: 25%;
    border-radius: 20px;
    background-color: #fff9f9;
    align-items: center;
    position: relative;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.login_switch > button {
    background: transparent;
    outline: none;
    border: none;
    width: 54%;
    border-radius: 20px;
    font-size: 13px;
    padding: 7px;
    position: absolute;
    font-family: 'Segoe UI';
}

.agency__button {
    left: 4px;
    z-index: 1;
    border: none;
    color: #015f9a;
}

.client__button {
    color: #4786fe;
    right: 3px;
}

.active__buttonagency {
    z-index: 2 !important;
    background: linear-gradient(
        262deg,
        rgba(70, 44, 202, 1) 0%,
        rgba(92, 109, 255, 1) 100%
    ) !important;
    color: white !important;
}

.active__buttonclient {
    z-index: 2 !important;
    background: linear-gradient(262deg, #015f9a 0%, #0376ba 100%) !important;
    color: white !important;
}
