@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  overflow-x: hidden;
  background-color: #f2f2f2;
}
body::-webkit-scrollbar {
  display: none;
}

section.coming__soon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 999;
  padding: 1rem;
  background: #fff;
  background: #c8c4da;
}

.coming__soon > p {
  transition: .4s;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
  font-size: 1.1rem;
  font-weight: 600;
}

.main_dots {
  position: absolute;
  z-index: -2;
  right: -125px;
  top: 0;
}
.main_dots_second {
  position: absolute;
  z-index: -2;
  left: -125px;
  bottom: 0px;
}
.main_dots img {
  width: 200px;
}
.main_dots_second img {
  width: 200px;
}

/* Header */
.header {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121a31;
  padding-top: 18vh;
}
.inner_header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_header img {
  height: 100%;
  object-fit: contain;
}
.header_image {
  width: 180px;
  height: 100px;
  display: flex;
}
.header_btn {
  margin-right: 8%;
  z-index: 2;
  position: fixed;
  right: 0;
}
.header_btn a {
  text-decoration: none;
  font-family: 'Poppins';
  padding: 0.6rem 3rem;
  background-color: #f37413;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
  cursor: pointer;
}

/* Landing Page  */
.landing_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121a31;
  margin-bottom: 1.7%;
  overflow: hidden;
}
.inner_landingPage {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_div {
  width: 50%;  
}

.image_div {
  width: 50%;
  padding: 0px 57px 45px 0px;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  position: relative;
  border-radius: 50%;
  /* background: yellow; */
  /* position: relative;
  overflow: hidden; */
}
.bg_white_Circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
  height: 550px;
  width: 550px;
  border-radius: 50%;
  background-color: #fff;
}
.image_div img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  /* position: absolute; */
  /* bottom: 0; */
}
.info_heading h1 {
  color: #f5f5f5;
  font-family: 'Work Sans';
  font-size: 3rem;
  font-weight: lighter;
  line-height: 1;
}
.info_heading h1 b {
  font-weight: bold;
  font-size: 3.6rem;
  text-transform: capitalize;
}
.info_heading {
  margin-bottom: 3.5%;
}
.info_para {
  border-left: 5px solid #fff;
  padding-left: 1rem;

  margin-bottom: 7%;
}
.info_para p {
  color: #fff;
  font-family: 'Poppins';
  font-weight: lighter;
  letter-spacing: 1px;
}

.info_buttons {
  width: 100%;
  font-size: 15px;
}
.info_buttons a {
  text-decoration: none;
  background-color: #fff;
  width: 190px;
  height: 40px;
  padding: 0.8rem 2.2rem;
  font-family: 'Poppins';
  margin-right: 5%;
  border-radius: 10px;
}

.info_buttons a:nth-child(1) {
  color: #000 !important;
}
.info_buttons a:nth-child(2) {
  background-color: transparent !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.scroll_div {
  margin-top: 13%;
}

.scroll_area {
  display: flex;
  align-items: flex-start;
}
.scroll_icon {
  width: 40px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 600px;
  margin-right: 3%;
}
.scroll_icon i {
  font-size: 22px;
  animation: up-down 1s alternate infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.scroll_text h3 {
  font-family: 'Work Sans';
  color: #fff;
  font-size: 18px;
}
.scroll_text h3::after {
  content: '';
  display: block;
  width: 55px;
  height: 2px;
  background: #fff;
  color: #fff;
  z-index: 1;
  margin-top: 10px;
}
.scroll_text p {
  font-family: 'Poppins';
  color: #fff;
  width: 70%;
  font-size: 12px;
  font-weight: lighter;
}
/* four points  */

.process_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inner_process {
  width: 90%;
  padding-top: 1rem;
}
.process_heading {
  width: 45%;
  transition: 1s ease-in-out;
}
.process_heading h1 {
  font-family: 'Work Sans';
  font-weight: bolder;
  transition: 1s ease-in-out;
}
.process_heading p {
  font-family: 'Poppins';
  color: #999;
  transition: 1s ease-in-out;
}
.process_cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.left_cards,
.right_cards {
  width: 50%;
  display: grid;
  place-items: center;
}
.left_cards {
  transform: translateY(100px);
}
.process_card {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 10%;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  min-height: 120px;
}
.process_image {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
.process_image img {
  width: 70%;
  object-fit: cover;
}
.card_number {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121a31;
  border-radius: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.card_number h2 {
  font-family: 'Poppins';
  margin-top: 10px;
  color: #f37413;
  font-weight: bold;
}
.process_text {
  width: 60%;
}
.process_text h3 {
  font-family: 'Work Sans';
  font-weight: bold;
}
.process_text p {
  font-family: 'Poppins';
  color: #999;
}
.bg_circle {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  z-index: -100;
  background: #d3d3d3;
  top: 0;
  right: -10%;
  border: 100px solid#dcdcdc;
}
/* four points ends  */

/* multiple_domain */

.multiple_domain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  position: relative;
}
.inner_multipleDomain {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  padding: 2rem;
  background-color: #fff;
}
.multipleDomain_heading {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}
.multipleDomain_heading h2 {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.multipleDomain_heading p {
  text-align: center;
  width: 90%;
  font-family: 'Poppins';
  color: #444;
}
.multipleDomains_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single_items {
  width: 32%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.domain_card {
  width: 100%;
  margin: 20px;
  /* min-height: 168px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.domain_icon {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.domain_icon img {
  width: 50px;
  object-fit: contain;
}
.domain_text h3 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 1.4rem;
}
.domain_text p {
  font-family: 'Poppins';
  font-size: 1rem;
  color: #777;
}

/* multiple_domain end  */

/* why us  */
.remote_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  position: relative;
}
.ripple {
  width: 70%;
  position: absolute;
  z-index: -999;
  top: 20%;
  left: 0%;
  transform: translate(-50%, -40%);
}
.ripple img {
  width: 100%;
  mix-blend-mode: multiply;
}

.inner_remote {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.remote_heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.remote_heading h5 {
  font-family: 'Work Sans';
  color: #172e5e;
}
.remote_heading h1 {
  font-family: 'Work Sans';
  font-weight: bold;
}
.remote_cards_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.remote_card {
  width: 30%;
  height: 300px;
  margin: 1rem;
  padding: 1rem;
  transition: 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.remote_card:hover {
  transform: scale(0.9);
}
.remote_icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.remote_icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.remote_info h2 {
  font-family: 'Work Sans';
  font-size: 1.4rem;
  text-align: center;
}
.remote_info p {
  font-family: 'Work Sans';
  font-size: 15px;
  color: #999;
  text-align: center;
}

/* why us end  */

.wave-bottom {
  overflow: hidden;
  width: 100%;
}
/* svg {
  position: absolute;
  top: 21.8rem;
  height: 500px;
  overflow: hidden;
} */
.row-first {
  display: flex;
  justify-content: center;
}
.row-first .card-custom {
  border-radius: 14px;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 2px 2px 4px 2px gray;
  background-image: linear-gradient(to top, #80174b, #8b5675, #bd57b8);
  padding: 15px;
  position: relative;
  z-index: 1;
  opacity: 95%;
}
.card-custom i {
  color: white;
  margin-top: 0.5rem;
}
.card-custom h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}
.card-custom p {
  color: grey;
  margin: 0;
}
.card-middle-one {
  top: -2rem;
}

/* testimonials  css */

.testimonials_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 10%;
  position: relative;
}
.inner_testimonials {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}
.testimonial_heading p {
  font-family: 'Poppins';
  color: #172e5e;
}
.heading_testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading_testimonial h2 {
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Work Sans';
  font-size: 3rem;
  font-weight: bold;
}
.heading_testimonial i {
  font-size: 4rem;
  color: #f37413;
}

.testimonial_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.disclaimer{
  margin-top: 100px;
  border-radius: 10px;
  width: 80%;
  height: 200px;
  background-color: #121a31;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

.disclaimer .no_bond{
  font-size: 2rem;
  color:#ffd56e;
}
.testimonialCard {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 1.5rem;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.testi_icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.testi_icon img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.firstCard {
  padding-right: 30px;
  padding-left: 10px;
  text-align: center;
  padding-bottom: 30px;
}
.testi_info {
  position: relative;
}
.testi_info .testi_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testi_info .testi_image .testi_profile {
  position: absolute;
  top: 100%;
  /* left: 38%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #4e6dbe;
}
.testi_info .testi_image .testi_name {
  /* position: absolute; */
  top: 160%;
}
.testi_info .testi_image .testi_name h5 {
  color: #f37413;
  font-family: 'Poppins';
  font-size: 12px;
}
.testi_info .testi_image .testi_name h2 {
  font-family: 'Work Sans';
  font-size: 18px;
  margin-top: -4px;
  color: #f37413;
}
.testi_info .testi_image img {
  width: 99px;
  height: 99px;
  object-fit: cover;
}
.firstCard p {
  font-family: 'Poppins';
  font-size: 13px;
  position: relative;
}
.middle_card {
  width: 38%;
  position: absolute;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 31%;
  background-color: #121a31;
  transform: translateY(-50px);
  text-align: center;
  padding: 1.4rem;
  padding-bottom: 30px;
}
.middle_card p {
  font-family: 'Poppins';
  color: #fff;
  font-size: 13px;
}
.lastCard {
  padding-left: 30px;
  padding-right: 10px;
  text-align: center;
  padding-bottom: 30px;
}
.lastCard p {
  font-family: 'Poppins';
  font-size: 13px;
}
/* testimonials  css  */

/* carousel section start*/
.our_clients {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.big_circle {
  position: absolute;
  width: 1075px;
  height: 1075px;
  top: -50%;
  left: -30%;
  border-radius: 50%;
  border: 100px solid #fff;
  z-index: -2;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.inner_ourClients {
  width: 90%;
}
.ourClients_heading {
  width: 100%;
}
.ourClients_heading h2 {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 3rem;
}
.ourClients_heading p {
  font-family: 'Poppins';
  font-size: 14px;
  color: #999;
  margin-bottom: 4%;
}
.our_clients_inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.ourClients_images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ourClients_images h4 {
  font-family: 'Poppins';
  margin-bottom: 5%;
}
.clients_images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.clients_images img {
  width: 28%;
  object-fit: contain;
  background-color: #fff;
  height: 100px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
}
.ourClients_gifs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(-250px);
}
.ourClients_gifs img {
  width: 100%;
}
/* carousel section end */

/* FAQ  */
.faq {
  width: 100%;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
  margin-top: -13%;
}
.inner_faq {
  width: 90%;
}
.faq_heading {
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.heading_faq {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.heading_faq h2 {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 4rem;
  /* margin-right: 20px; */
  color: #000;
}
.heading_faq img {
  width: 80px;
}
.faq_heading p {
  font-family: 'Poppins';
  color: #999;
  text-align: right;
}
.accordion-item {
  margin-bottom: 20px;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.accordion-item button {
  border: none !important;
  outline: none !important;
  font-size: 18px;
  background-color: #fff !important;
  color: #f37413;
  background-color: #ffff !important;
}
.accordion-item button:focus {
  border: none !important;
  outline: none;
  background-color: #f37413 !important;
  color: #172e5e !important;
}
.accordion-button:focus {
  outline: none !important;
  border: none !important;
  border-color: #fff !important;
  box-shadow: none !important;
  background-color: #f37413 !important;
  color: #172e5e;
  font-weight: bold;
}
.accordion-item h2 {
  font-family: 'Work Sans' !important;
  font-weight: bold !important;
  font-size: 22px !important;
}
.accordion-body {
  font-family: 'Poppins';
}

/* contact us  */
.contact_us {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121a31;
  position: relative;
}
.donut_shape {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 70px solid #4e6dbe;
  top: -100px;
  right: -10%;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.5);
}
.inner_contactUs {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.contactUs_heading {
  width: 80%;
  text-align: center;
  margin-bottom: 4%;
}
.contactUs_heading h1 {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 3rem;
  color: #ffff;
}
.contactUs_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs_btn a {
  /* width: 20%; */
  width: fit-content;
  padding: 7px 1rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Poppins';
  border-radius: 999px;
  border: 2px solid #f37413;
  color: #f37413;
  transition: 0.3s ease-in-out;
}
.right-arr {
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}
.contactUs_btn a:hover .right-arr {
  transform: translateX(15px);
}

/* footer*/
.main_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121a31;
}
.inner_footer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  position: relative;
}
.hire_developers {
  width: 50%;
}
.industry_exp {
  width: 25%;
}
.contact_links {
  width: 25%;
}
.hire_developers_points {
  display: flex;
}
.main_points:nth-child(1) {
  margin-right: 5%;
}
.hire_developers,
.industry_exp,
.contact_links {
  flex-grow: 1;

  margin: 1rem;
}
.hire_developers h2,
.industry_exp h2,
.contact_links h2 {
  font-family: 'Work Sans';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #f37413;
}
.hire_developers p,
.industry_exp p,
.contact_links p {
  font-family: 'Poppins';
  color: #f2f2f2;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.contact_links_heading {
  margin-bottom: 20px;
}
.contact_links_heading h4 {
  font-family: 'Poppins';
  font-size: 1rem;
}
.contact_links_heading h4:nth-child(1) {
  color: #f2f2f2;
}
.contact_links_heading h4:nth-child(2) {
  font-weight: lighter;
  color: #fff;
}

.social_links {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 999;
}
.social_links img {
  width: 35px;
  height: 35px;
  font-size: 30rem;
  color: #f37413;
  z-index: 999;
  margin-right: 20px;
  cursor: pointer;
}
.social_links button {
  width: 90%;
  outline: none;
  border: none;
  margin-bottom: 20px;
  height: 45px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #f37413;
  color: #fff;
  font-family: 'Poppins';
  letter-spacing: 2px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.social_links button:hover {
  background-color: transparent;
  border: 2px solid #f37413;
}

/* responsive css*/
/* landing page */
@media (max-width: 1060px) {
  .image_div {
    display: none;
  }
  .inner_landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info_div {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .info_text_div,
  .info_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .info_buttons,
  .info_buttons a {
    display: flex;
    justify-content: space-evenly;
    margin-right: 0;
    align-items: center;
    text-align: center;
  }
  .scroll_area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 580px) {
  .info_div {
    margin-top: -2rem;
  }
  .info_heading h1 {
    color: #f5f5f5;
    font-family: 'Work Sans';
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1;
  }
  .info_heading h1 b {
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
  }
  .info_para {
    margin-bottom: 4%;
  }
  .info_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info_buttons a {
    margin-bottom: 1rem;
  }
  .scroll_div {
    margin-top: 2%;
  }
  .scroll_text {
    display: none;
  }
}

@media (max-width: 500px) {
  .info_div {
    margin-top: 1rem;
  }
  .scroll_icon {
    margin-top: -1px;
  }
}
/* landing page */

/* remote cards css*/
@media (max-width: 1200px) {
  .remote_cards_area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .remote_card {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .remote_cards_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .remote_card {
    width: 60%;
  }
  .remote_icon {
    margin-bottom: 16px;
  }
}
@media (max-width: 600px) {
  .remote_cards_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .remote_card {
    height: 300px;
    width: 90%;
  }
  .remote_icon {
    margin-bottom: 16px;
  }
}
/* remote cards css end*/

/* process main css start */
@media (max-width: 980px) {
  .bg_circle {
    width: 420px;
    height: 420px;
    height: 250px;
  }
  .inner_process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .process_heading {
    width: 70%;
    text-align: center;
    transition: 1s ease-in-out;
  }
  .process_heading h1 {
    transition: 1s ease-in-out;
  }
  .process_heading p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: 1s ease-in-out;
  }
}
@media (max-width: 750px) {
  .bg_circle {
    width: 380px;
    height: 380px;
  }
  .process_heading {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .process_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .process_card .card_number {
    position: relative;
    top: 0;
    left: 0;
  }
  .process_text {
    width: 95%;
    margin-top: 3%;
    text-align: left;
  }

  .process_card .process_image {
    display: none;
  }
}
@media (max-width: 600px) {
  .bg_circle {
    width: 300px;
    height: 300px;
  }
  .process_heading {
    width: 85%;
    text-align: center;
    transition: 1s ease-in-out;
  }
  .process_text {
    text-align: center;
  }
}

/* process main css end*/

/* multiple domain css start*/
@media (max-width: 1000px) {
  .multipleDomains_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .single_items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .domain_card {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 750px) {
  .multipleDomains_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .single_items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .domain_card {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/* multiple domain css end*/

/* testimonial start */
@media (max-width: 1130px) {
  .testi_info .testi_image .testi_name {
    top: 145%;
  }
}
@media (max-width: 950px) {
  .firstCard .testi_info .testi_image .testi_name,
  .lastCard .testi_info .testi_image .testi_name {
    top: 135%;
  }
}
@media (max-width: 900px) {
  .heading_testimonial h2 {
    font-size: 2.5rem;
  }
  .heading_testimonial i {
    font-size: 3rem;
  }
}
@media (max-width: 850px) {
  .testimonial_heading {
    margin-bottom: 6%;
  }
  .testimonial_cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .testimonialCard {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .testi_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
  .testi_icon img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .firstCard,
  .middle_card,
  .lastCard {
    padding: 1.4rem !important;
    text-align: center;
    margin: 1rem;
  }
  .testi_info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .testi_info .testi_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .testi_info .testi_image .testi_profile {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #4e6dbe;
  }
  .testi_info .testi_image .testi_name {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
  }
  .testi_info .testi_image .testi_name h5 {
    font-family: 'Poppins';
    font-size: 12px;
  }
  .testi_info .testi_image .testi_name h2 {
    font-family: 'Work Sans';
    font-size: 18px;
    margin-top: 0;
    color: #f37413;
  }
  .testi_info .testi_image img {
    width: 99px;
    height: 99px;
    object-fit: cover;
  }
  .firstCard p {
    font-family: 'Poppins';
    font-size: 13px;
    position: relative;
  }
  .middle_card {
    position: relative;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #121a31;
    transform: translateY(0);
    text-align: center;
    padding: 1.4rem;
  }
  .middle_card p {
    font-family: 'Poppins';
    color: #fff;
    font-size: 13px;
  }
  .middle_card .testi_info .testi_image .testi_name h5 {
    color: ivory;
  }
  .lastCard p {
    font-family: 'Poppins';
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .testi_icon img {
    width: 52px;
    height: 52px;
    object-fit: contain;
  }
  .firstCard,
  .middle_card,
  .lastCard {
    padding: 1rem !important;
  }
  .testi_info .testi_image .testi_profile {
    width: 80px;
    height: 80px;
  }
  .testi_info .testi_image .testi_name h5 {
    font-size: 10px;
  }
  .testi_info .testi_image .testi_name h2 {
    font-size: 15px;
  }
}

/* testimonial end */
/* carousel section start*/
@media (max-width: 1350px) {
  .big_circle {
    width: 1000px;
    height: 1000px;
  }
  .ourClients_gifs {
    width: 45%;
    transform: translateY(-170px);
  }
}

@media (max-width : 1300px) {
  .lead__details {
    flex-direction: column;
  }

  .lead__detailsLeft,
  .lead__detailsRight {
    align-items: center;
  }

  .counter__container {
    width: 100%;
  }
}
@media (max-width: 1220px) {
  .big_circle {
    width: 920px;
    height: 920px;
  }
  .ourClients_gifs {
    width: 45%;
    transform: translateY(-150px);
  }
}
@media (max-width: 1120px) {
  .big_circle {
    width: 830px;
    height: 830px;
  }
  .ourClients_gifs {
    width: 45%;
    transform: translateY(-120px);
  }
}
@media (max-width: 1000px) {
  .big_circle {
    width: 730px;
    height: 730px;
  }
  .ourClients_gifs {
    width: 40%;
    transform: translateY(-100px);
  }
}
@media (max-width: 900px) {
  .big_circle {
    width: 630px;
    height: 630px;
  }
  .ourClients_gifs {
    width: 40%;
    transform: translateY(-80px);
  }
}
@media (max-width: 800px) {
  .big_circle {
    width: 600px;
    height: 600px;
  }
  .ourClients_gifs {
    width: 40%;
    transform: translateY(-50px);
  }
}
@media (max-width: 700px) {
  .big_circle {
    display: none;
  }
  .ourClients_gifs {
    width: 40%;
    transform: translateY(-30px);
  }
}
@media (max-width: 680px) {
  .big_circle {
    display: none;
  }
  .ourClients_heading h2 {
    text-align: center;
  }
  .ourClients_heading p {
    text-align: center;
  }
  .our_clients_inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ourClients_images {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourClients_gifs {
    display: none;
  }
}
@media (max-width: 500px) {
  .ourClients_heading h2 {
    font-size: 2rem;
  }
  .ourClients_heading p {
    font-size: 12px;
    margin-bottom: 3%;
  }
}
@media (max-width: 450px) {
  .clients_images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .clients_images img {
    width: 60%;
  }
}
/* carousel section start*/

/* faq css start */
@media (max-width: 1120px) {
  .faq {
    margin-top: -3%;
  }
}
@media (max-width: 720px) {
  .faq {
    margin-top: 5%;
  }
  .heading_faq h2 {
    font-size: 3.5rem;
  }
  .heading_faq img {
    width: 70px;
  }
}
@media (max-width: 500px) {
  .faq {
    margin-top: 20%;
  }
  .heading_faq h2 {
    font-size: 3rem;
  }
  .heading_faq img {
    width: 60px;
  }
}
/* faq css end */

/* contact us section */
@media (max-width: 1120px) {
  .donut_shape {
    width: 250px;
    height: 250px;
    top: -90px;
  }
}
@media (max-width: 930px) {
  .donut_shape {
    width: 200px;
    height: 200px;
    top: -70px;
    border: 55px solid #4e6dbe;
  }
}
@media (max-width: 850px) {
  .contactUs_heading h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 700px) {
  .donut_shape {
    width: 170px;
    height: 170px;
    top: -60px;
    border: 50px solid #4e6dbe;
  }
  .contactUs_heading h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 460px) {
  .donut_shape {
    display: none;
  }
  .contactUs_heading {
    width: 90%;
    text-align: center;
    margin-bottom: 4%;
  }
  .contactUs_heading h1 {
    font-size: 2rem;
  }
}
/* contact us part end */
/* footer part */
@media (max-width: 768px) {

  
  .remote_card{
    height: 100%;
  }
  .heading_testimonial h2 {
    font-size: 15px;
  }
  .coming__soon > p {
    font-size: 12px;
    text-align: center;
  }
  .hire_developers_points {
    flex-direction: column;
  }
  .inner_footer {
    flex-direction: column;
  }
  .hire_developers h2,
  .industry_exp h2,
  .contact_links h2 {
    flex-direction: row;
    white-space: nowrap;
  }

  .hire_developers {
    width: 100%;
  }
  .industry_exp {
    width: 100%;
  }
  .contact_links {
    width: 100%;
  }
}
/* footer part end */


.leads {
  min-height: 50vh;
  margin-bottom: 2%;
}

.leads__innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}

.leads__innerWrapper > p {
  font-family: 'Poppins';
}


.leads__title {
  font-size: 2rem;
  font-weight: 600;
}

.leads__titleDescription {
  font-size: 1.2rem;
}

.lead__details {
  display: flex;
  width: 100%;
   justify-content: center;
  align-items: center;
}

.lead__detailsLeft,
.lead__detailsRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lead__detailsLeft {
  align-items: flex-end;
}

.lead__detailsRight {
  align-items: flex-start;
}

.leads__imageContainer {
  display: flex;
  justify-content: center;
}

.leads__imageContainer > img {
  width: 70%;
  height: 100%;
}

.counter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 0px 20px;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  width: 400px;
  margin: 1rem 0rem;

}

.count{
  font-size: xxx-large;
  color:#2b6ce2;
  width:auto;
  border-radius: 50%;
  background-color: rgb(253, 253, 253);
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 4px 2px #121a31;
}
.counts{
  font-size: xxx-large;
  color:#2b6ce2;
  width:auto;
  border-radius: 50%;
  background-color: rgb(253, 253, 253);
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 4px 2px #121a31;
}
.count__wrap{
  text-align: center;
}

.count__detail{
  text-align: center;
  color:#2f4f4f;
}
.info_para{
  padding-left: 0;
  border:0px;
}

.process_main{
  overflow-x: hidden;
}

.inner_header img {
  height: 70%;
  padding: 0px 0px 0px 25px;
}

