.testimonial_title {
    display: flex;
    justify-content: center;
}
.testimonial_title_img {
    width: 12%;
    padding-right: 1rem;
}
.testimonial_cards_wrap {
    display: flex;
    justify-content: center;
}
.testimonial_main_card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid #e7e7e7;
    background-color: #fafafa;
    border-radius: 1rem;
    width: 30%;
    font-family: 'Cabin';
    margin: 2rem 1.5rem 1rem 0;
}
.testimonial_star_row {
    display: flex;
}
.testimonial_star_row img {
    padding: 0.4rem;
}
.testimonial_des {
    display: flex;
    color: #90a3b4;
    line-height: 1.8em;
    font-size: 15px;
}
.testimonial_client_info_row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}
.testimonial_client_info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    color: #005490;
}
.testimonial_client_info h5 {
    font-size: 20px;
}
.testimonial_client_info p {
    font-size: 14px;
    color: #90a3b4;
}
@media screen and (max-width: 580px) {
    .testimonial_cards_wrap {
        flex-direction: column;
    }
    .testimonial_main_card {
        width: unset;
    }
}
