.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.form-box {
  width: 380px;
  height: 450px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}

.roleRadio {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.role {
  width: 10%;
  text-align: center;
}

.fieldSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-form {
  margin-bottom: 15px;
}
.loginForm button {
  margin-top: 40px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}

.mainLoginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
.form-check {
  display: flex;
}
.form-check input {
  margin: 0 25%;
}
.innerLoginPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}
.toggleButton {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
}
.loginIllustrator,
.loginContent {
  width: 50%;
  user-select: none;
}
.loginIllustrator {
  position: sticky;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  user-select: none;
}
.loginIllustrator img {
  /* width: 100%; */
  transform: translateX(-10px);
  height: 100vh;
  user-select: none;
}
.loginContent {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}
.mainLoginForm,
.googleLogin {
  width: 80%;
}
.loginHeading {
  text-align: center;
  font-family: 'Inter';
  width: 100%;
}
.loginHeading h6 {
  font-weight: bold;
  font-size: 2.2rem;
}
.loginHeading h6 span {
  font-family: 'Fredoka One';
  font-size: 2.5rem;
  color: #7cb9e8;
}

.loginHeading h6::after {
  content: '';
  width: 40%;
  height: 3px;
  background-color: #000;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 999px;
}

.signUpOption {
  text-align: center;
  color: #5dade2;
  font-family: 'Inter';
  margin-top: 4%;
}
.signUpOption span {
  color: #02044a;
  font-weight: bold;
  cursor: pointer;
}
.loginForm {
  margin-top: 10%;
}

.emailLogin {
  margin-bottom: 2%;
}
.emailLogin p,
.passwordLogin p {
  font-family: 'Inter';
  color: #000;
}
.emailLogin input,
.passwordLogin input {
  transform: translateY(-10px);
  height: 60px;
  width: 100%;
  padding-left: 13px;
  font-family: 'Inter';
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #e0e0e0;
}
.emailLogin input::placeholder,
.passwordLogin input::placeholder {
  font-size: 0.9rem;
}
.loginForm button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #02044a;
  color: #fff;
  border-radius: 10px;
}

.loginForm span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Inter';
  color: #7cb9e8;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.googleLogin {
  margin-top: 5%;
  border: 1px solid #e9e9e9;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.googleLogin p {
  /* transform: translateY(7px); */
  font-family: 'Inter';
  font-weight: bold;
  color: #888;
}
.googleLogin img {
  position: absolute;
  width: 5%;
  left: 5%;
}

@media (max-width: 768px) {
  .loginIllustrator {
    display: none;
  }
}
