.user-project_agencyNewestDashboard {
  flex-direction: column;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 1rem 1rem 1rem 4rem;
  background: linear-gradient( 241.25deg, rgba(255, 255, 255, 0.45) 4.4%, rgba(255, 255, 255, 0.65) 61.77%, rgba(255, 255, 255, 0.54) 119.94%);
  /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 18%); */
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
  border-radius: 10px;
  font-family: 'Segoe UI Semibold';
}

.user-project_heading_agencyNewestDashboard {
  width: 100%;
  text-transform: capitalize;
  color: #45A4E4;
  border-radius: 38px;
  /* box-shadow: 0 0px 2px 1px rgb(0 0 0 / 20%); */
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
  width: 100;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  padding: .5rem;
  margin: 0rem 2.5rem 0rem -0rem;
}

.user-project_child_agencyNewestDashboard {
  display: grid;
  place-items: center;
}

.user-project_child_agencyNewestDashboard h5 {
  margin-right: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.user-project-button_agencyNewestDashboard {
  padding: 6px 15px;
  display: grid;
  place-items: center;
  margin-right: 5rem;
  margin-top: 0.5rem;
  background: linear-gradient( 262deg, #45a4ea 0% , #5C6DFF 100%);

  /* background: linear-gradient(262deg, rgba(70, 44, 202, 1) 0%, rgba(92, 109, 255, 1) 100%); */
  color: white;
  border-radius: 1rem;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.user-project-button_agencyNewestDashboard:hover {
  color: white;
  background: linear-gradient( 90deg, #A1C4FD 0%, #C2E9FB 100%);
  cursor: pointer;
}

.user-project-button_agencyNewestDashboard button {
  margin: 0;
  padding: 0;
}

.user-project-status {
  display: flex;
  align-items: center;
}

.imageClass {
  display: flex;
  align-items: center;
}

.user-project_child_agencyNewestDashboard h5 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.user-project-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  margin-top: 10px;
}

.date, .matchedDate, .currentStatus {
  display: flex;
  align-items: center;
}

.matchedDate p, .currentStatus p, .user-project-status time {
  /* width: 18%; */
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-family: 'Segoe UI Semibold';
}

.user-project_paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #02044a;
}

.user-project_details {
  width: 98%;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 52%;
  margin-top: 2%;
  /* border-top: 1px solid #ddd; */
  font-family: 'Open Sans', sans-serif;
}

.user-project_details>div {
  display: flex;
}

.industry, .Final_Budget, .Expert_Categories, .Services {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

table {
  border-collapse: separate;
  border-spacing: 0 14px;
}

.agencyProjectCard table td {
  font-size: 12px;
  text-transform: capitalize;
  font-family: 'Segoe UI Semibold';
}

td:nth-child(even) {
  color: #68e1fd;
}