.user-project_agencyNewestDashboard {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 2rem 1rem 1rem 2rem;
  width: 42%;
  /* height: 18rem; */
  border: 1px solid #f5f5f5;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
  border-radius: 10px;
  font-family: 'Segoe UI Semibold';
}

.user-project_heading_agencyNewestDashboard {
  width: 100%;
  text-transform: capitalize;
  color: #45A4E4;
  border-radius: 38px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
  padding: 0 0.5rem 0.5;
}

.user-project_child_agencyNewestDashboard {
  display: grid;
  place-items: center;
}

.user-project-button_agencyNewestDashboard {
  padding: 6px 15px;
  display: grid;
  place-items: center;
  background: linear-gradient( 262deg, #45a4ea 0%, #5C6DFF 100%);
  color: white;
  border-radius: 1rem;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.user-project-button_agencyNewestDashboard:hover {
  color: white;
  background: linear-gradient( 90deg, #A1C4FD 0%, #C2E9FB 100%);
  cursor: pointer;
}

.user-project-button_agencyNewestDashboard button {
  margin: 0;
  padding: 0;
}

.user-project-status {
  display: flex;
  align-items: center;
}

.imageClass {
  display: flex;
  align-items: center;
}

.user-project_child_agencyNewestDashboard h5 {
  font-family: 'Segoe UI';
  font-size: 16px;
}

.user-project-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 1rem;
}

.date, .matchedDate, .currentStatus {
  display: flex;
  align-items: center;
}

.matchedDate p, .currentStatus p, .user-project-status time {
  margin-left: 4px;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-family: 'Segoe UI Semibold';
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-project_paragraph {
  font-family: 'Segoe UI';
  text-align: center;
  text-transform: capitalize;
  color: #02044a;
}

.user-project_details {
  width: 98%;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  /* height: 52%; */
  font-family: 'Segoe UI';
}

.user-project_details>div {
  display: flex;
}

.industry, .Final_Budget, .Expert_Categories, .Services {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

table {
  border-collapse: separate;
  border-spacing: 0 14px;
}

.agencyProjectCard table td {
  font-size: 12px;
  text-transform: capitalize;
  font-family: 'Segoe UI Semibold';
}

td:nth-child(even) {
  color: #68e1fd;
}

.currentStatus p {
  color: #45a4ea;
  color: green;
}