p {
    margin: 0;
}

.user-project_agencyNewestDashboard {
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #F5F5F5;
    height: 170px;
    padding: 0 0 0 10px;
    background: linear-gradient(241.25deg, rgba(255, 255, 255, 0.45) 4.4%, rgba(255, 255, 255, 0.65) 61.77%, rgba(255, 255, 255, 0.54) 119.94%);
    box-shadow: 0px 0px 2px rgba(235, 234, 255, 0.12);
}

.user-project_agencyNewestDashboard h6 {
    margin: 0;
}

.user-project_heading_agencyNewestDashboard {
    width: 100;
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.user-project_child_agencyNewestDashboard {
    display: grid;
    place-items: center;
}

.user-project_child_agencyNewestDashboard h5 {
    font-weight: 600;
    margin-bottom: 0;
}

.user-project-button_agencyNewestDashboard {
    padding: 6px;
    border: 0.62069px solid #3A3A3A;
    box-sizing: border-box;
    border-radius: 4.96552px;
    display: grid;
    place-items: center;
    margin-right: 15px;
}

.user-project-button_agencyNewestDashboard button {
    margin: 0;
    padding: 0;
}

.user-project-status {
    display: flex;
    align-items: center;
}

.imageClass {
    display: flex;
    align-items: center;
}

.user-project_child_agencyNewestDashboard h5 {
    font-weight: 600;
}

.date, .matchedDate, .currentStatus {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.date p, .matchedDate p, .currentStatus p {
    /* width: 18%; */
    margin-left: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.user-project_paragraph {
    font-family: Inter;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #02044A;
}

.user-project_details {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 12px 30px 0 30px;
    height: 52%;
    padding: 0 0 0 25px;
}

.user-project_details>div {
    display: flex;
}

.industry, .Final_Budget, .Expert_Categories, .Services {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

table {
    border-collapse: separate;
    border-spacing: 0 14px;
}

table td {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}

td:nth-child(even) {
    color: #68E1FD;
}