.L_para {
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
}
.span_yellow {
    color: #ffd25f;
}
.span_pink {
    color: #f44e77;
}
.span_blue {
    color: #045295;
}
.L_h2 {
    font-size: 28px;
    font-family: 'GraphikMedium';
    line-height: 39.6px;
    font-weight: 600;
}
.L_footer_wrap {
    display: flex;
    background-color: #383738;
    color: #ffffff;
    padding: 3rem;
    width: 100%;
}
.CTA_bottom_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    flex-direction: column;
}
.L_Link {
    text-decoration: none;
    color: unset;
}
