.hero_section {
    display: flex;
    width: 100%;
}
.logo_row_wrap {
    display: flex;
    flex-direction: column;
    font-family: 'GraphikBold';
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 3rem;
}
.hire_section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.features_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.CTA_wrap {
    display: flex;
    flex-direction: column;
    background-color: #d5e5f3;
    justify-content: center;
    padding: 3rem;
}
.hiring_steps_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.CTA_bottom_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    flex-direction: column;
}
.L_footer_wrap {
    display: flex;
    background-color: #383738;
    color: #ffffff;
    padding: 3rem;
}
.testimonial_wrap {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    padding: 3rem;
}
