.portfolio_parent {
    display: flex;
    flex-direction: column;
}

.main_portfolio_parent {
    background: linear-gradient( 2deg, rgba(70, 44, 202, 1) 0%, rgba(92, 109, 255, 1) 100%);
}

.improves_profile {
    padding: 0rem 3rem;
    text-align: center;
    background: linear-gradient( 262deg, #45A4E4 0%, #5C6DFF 100%);
    border-radius: 1.2rem;
    color: #ffffff;
}

.improves_profile p {
    padding: 0.5rem;
    font-family: 'Segoe UI Semibold';
}

.work_parent {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    width: 93%;
    margin: auto;
    /* background-color: white; */
}

.work_parent>div {
    border: 1px solid grey;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.1rem;
    padding: 1rem;
    background: white;
}

.work_title p {
    font-family: 'Segoe UI Semibold';
    font-size: 1rem;
    color: #707070;
}

.work_desc {
    margin-top: 0.5rem;
}

.work_desc p {
    font-family: 'Segoe UI';
    font-size: 14px;
    text-align: center;
    color: #707070;
}

.work_title {
    font-size: 16px;
}

.work_image {
    display: flex;
    justify-content: center;
}

.work_image img {
    width: 60%;
}

.portfolio_section {
    /* border: 1px solid; */
    width: 53%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding: 2rem 0rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.add_a_new_definition p {
    font-size: 18px;
    margin-top: 1rem;
    font-family: 'Segoe UI semibold';
    color: #707070;
}

.add_a_new_portfolio_project {
    width: 60%;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 18%);
}

.add_a_new_portfolio_project p {
    font-family: 'Segoe UI Semibold';
    color: #707070;
}

.portfolio_inputs {
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
}

.new_project_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.9rem 0;
}

.logo_div:hover {
    cursor: pointer;
}

.logo_div img {
    width: 10%;
    transform: translateX(0.5rem);
}

.logo_parent_div {
    margin-top: 2rem;
    width: 90%;
}

.project-question {
    font-family: 'Segoe UI';
    font-size: 1rem;
    color: #707070;
}

.portfolio_inputs_second {
    margin-top: 1rem;
}

.portfolio_inputs div {
    width: 40%;
}

.portfolio_inputs input:focus, .portfolio_inputs textarea:focus {
     outline: none;
}


.portfolio_inputs input, .portfolio_inputs textarea {
    border-radius: 0.5rem;
    height: 2.2rem;
    padding: 0 0.8rem;
    border: 1px solid #45A4EA;
    transition: 0.3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 6px;
    width: 18.7rem;
}

.portfolio_inputs textarea {
    height: 8rem;
}

.submit_portfolio_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.submit_portfolio {
    /* outline: none;
    border: none;
    background: transparent;
    padding: 0.5rem 0.7rem;
    background: linear-gradient( 262deg, #45A4E4 0%, #5C6DFF 100%);
    border-radius: 1rem;
    font-family: 'Segoe UI'; */
    outline: none;
    border: none;
    /* background-color: #707070; */
    background: #ced3ff;
    color: black;
    border-radius: 30px;
    width: 150px;
    height: 34px;
    font-family: 'Segoe UI';
    font-size: 14px;
    text-align: center;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}