.portfolio_parent {
    display: flex;
    flex-direction: column;
}

.improves_profile {
    width: 22%;
    text-align: center;
    background: linear-gradient( 262deg, #45A4E4 0%, #5C6DFF 100%);
    border-radius: 1.2rem;
}

.improves_profile p {
    padding: 0.5rem;
    font-family: 'Segoe UI Semibold';
}

.work_parent {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    width: 93%;
    margin: auto;
    /* background-color: white; */
}

.work_parent>div {
    border: 1px solid grey;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.1rem;
    padding: 1rem 0rem;
    background: white;
}

.work_title p {
    font-family: 'Segoe UI Semibold';
    font-size: 1rem;
    color: #707070;
}

.work_desc {
    margin-top: 0.5rem;
}

.work_desc p {
    font-family: 'Segoe UI';
    font-size: 1rem;
    text-align: center;
    color: #707070;
}

.work_image {
    display: flex;
    justify-content: center;
}

.work_image img {
    width: 60%;
}

section {
    border: 1px solid;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
}

.add_a_new_definition p {
    font-family: 'Segoe UI bold';
    color: #707070;
}

.add_a_new_portfolio_project {
    border: 1px solid;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 1rem 0rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.add_a_new_portfolio_project p {
    font-family: 'Segoe UI Semibold';
    color: #707070;
}

.portfolio_inputs {
    display: flex;
    justify-content: space-between;
}

.new_project_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.9rem 0;
}

.logo_div:hover {
    cursor: pointer;
}

.logo_div img {
    width: 10%;
    transform: translateX(0.5rem);
}

.logo_parent_div {
    margin-top: 2rem;
}

.project-question {
    font-family: 'Segoe UI';
    font-size: 1rem;
    color: #707070;
}

.portfolio_inputs_second {
    margin-top: 1rem;
}

.portfolio_inputs div {
    width: 35%;
}

.portfolio_inputs input, .portfolio_inputs textarea {
    width: 100%;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0 0.8rem;
    border: 1px solid #45A4EA;
    transition: 0.3s ease-in-out;
    margin-top: 5px;
    margin-bottom: 6px;
}

.portfolio_inputs textarea {
    height: 8rem;
}

.submit_portfolio_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.submit_portfolio {
    outline: none;
    border: none;
    background: transparent;
    padding: 0.5rem 0.7rem;
    background: linear-gradient( 262deg, #45A4E4 0%, #5C6DFF 100%);
    border-radius: 1rem;
    font-family: 'Segoe UI';
}