.mainDeveloperList {
  width: 100%;
  background-color: #E5E5E5;
  height: 100%;
}

.innerDeveloperList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.developerCard {
  min-height: 320px;
  width: 30%;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #3a3a3a;
  border-radius: 15px;
  position: relative;
  margin: 1rem;
}

.developerCardBorder {
  position: absolute;
  width: 8px;
  height: 95%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #02044a;
  border-radius: 999px;
}

.developerNameExp {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
  padding-bottom: 5%;
}

.developerBudgetResume {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.developerName, .developerExp {
  text-align: center;
}

.developerName {
  width: 80%;
  margin-bottom: 5px;
}

.developerName h2 {
  font-family: 'Poppins';
  font-size: 1.2rem;
  font-weight: 600;
  color: #02044a;
}

.developerName p {
  font-family: 'Poppins';
  color: #999;
  font-size: 0.9rem;
}

.developerExp {
  font-family: 'Poppins';
  line-height: 0.1;
}

.developerExp p {
  color: green;
  font-size: 0.9rem;
}

.developerExp h6 {
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
}

.developerTech h6 {
  font-family: 'Poppins';
  color: #3a3a3a;
  margin-bottom: 3.2%;
  font-weight: 600;
}

.developerTechNames {
  display: flex;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.developerTechNames p {
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  background-color: #eaffad;
  color: #000;
  font-family: 'Poppins';
  margin-right: 10px;
  font-size: 0.8rem;
}

.developerBudget {
  display: flex;
  flex-wrap: wrap;
}

.developerBudget p {
  font-family: 'Poppins';
  color: #999;
}

.developerBudget h6 {
  font-weight: bold;
  font-family: 'Poppins';
}

.developerResume button {
  padding: 0.2rem 1rem;
  border-radius: 4px;
  background-color: #eaf2ff;
  color: #000;
  font-family: 'Poppins';
  font-size: 0.8rem;
  font-weight: 600;
  outline: none;
  border: none;
}

.developerResume button i {
  margin-right: 5px;
}

.addMoreDeveloper {
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  background-color: #02044a;
  color: #fff;
  margin: auto;
}

.addDeveloperText {
  transform: translateY(-10px);
  font-size: 1.1rem;
}

.developer-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 15px 15px 15px;
}
.quotation .nav {
  justify-content: space-evenly;
}