
.mainPortfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.innerPortfolio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.portfolioCard{
    width: 30%;
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 1rem;
}
.portfolioImage{
    width: 100%;
    height: 150px;
    padding: 0.5rem;
    margin-bottom: 5%;
}

.portfolioImage img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.portfolioDesc{
    padding: 1rem 1rem 0 1rem;
    font-family: 'Poppins';
    font-size: 0.9rem;
    color: #999;
}
.portfolioTech{
    padding: 0rem 1rem 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% 0;
}
.portfolioTech p{
    margin-right: 10px;
    padding: 0.1rem 0.8rem;
    font-size: 0.9rem;
    background-color: #02044a;
    color: #fff;
    border-radius: 999px;
    padding-bottom: 3px;
}
.portfolioDetailBtn{
    padding: 1rem;
}
.portfolioDetailBtn span{
    color: #5bc0de;
    font-family: 'Poppins';
    cursor: pointer;
}
.portfolioDetailBtn span i{
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}
.portfolioDetailBtn span:hover i{
    transform: translateX(10px);
}