.mainRules {
    width: 100%;
    margin: auto;
    /* padding: 1rem; */
    margin-bottom: 1rem;
    /* box-shadow: 1px 2px 3px rgb(0 0 0 / 18%); */
    border-radius: 20px;
    background-color: #ffffff;
}

.rules_parent {
    justify-content: center;
    display: flex;
    align-items: center;
    /* width: 13%;
    padding: 8px 0px; */
    margin-left: 6px;
}

/* .rules_parent p {
    font-family: 'Segoe UI Semibold';
    font-size: 17px;
    text-transform: capitalize;
} */

.innerRules {
    width: 100%;
    box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.05);
    padding: 1.4rem;
}

.rulesCard {
    width: 100%;
    border-radius: 20px;
}

.rulesUpper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 1rem;
    background: #FAFAFB;
    box-shadow: 0px 25px 35px rgba(3, 3, 3, 0.12);
    border-radius: 6px;
}

/* .rulesUpper p {
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    
} */

.timing {
    font-family: 'Segoe UI';
    font-size: 1.1rem !important;
}

/* .rulesUpper p {
    font-family: 'Segoe UI Semibold';
} */

/* .openTiming i,
.weekendOpening i {
    margin-right: 4px;
    color: #000;
} */

.questionPart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    padding-right: 5rem;
    background: #FAFAFB;
    box-shadow: 0px 2px 4px rgb(33 36 41 / 5%);
    border-radius: 6px;
    margin: 1rem 0;
    align-items: center;
}

.date_parent {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem; */
    
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    color: #5396FF;
    /* font-family: 'Segoe UI'; */
}

/* .weekendOpening p {
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    color: #252525;
} */

.leftQuestion {
    width: 70%;
}

.rulesMark {
    width: 11%;
    padding-left: 40px;
    /* margin-top: -4px; */
}

.rulesMark i {
    margin-right: 10%;
    font-size: 1.3rem;
    color: #000;
}

.leftQuestion p {
    font-family: 'Segoe UI';
    font-size: 1.1rem;
    color: #666;
}

/* .leftQuestion p::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
    display: inline-block;
    margin-right: 10px;
} */

.submitEditBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.conditionalPadding {
    padding: 15px;
}

.editableBtn_rules {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 12%);
    border-radius: 7px;
    width: max-content;
    padding: 0.5rem 0.9rem;
    display: flex;
    margin-bottom: 2%;
}

.rulesMark img {
    width: 12px;
    /* transform: translateY(5px); */
}

.cancel-img {
    filter: invert(16%) sepia(200%) saturate(6753%) hue-rotate(2deg) brightness(101%) contrast(122%);
}

.check-img {
    filter: invert(42%) sepia(19%) saturate(6449%) hue-rotate(219deg) brightness(105%) contrast(451%);
}

.submitEditBtn button:hover {
    background-color: #5cb85c;
    color: #fff;
}

.information_cancel:hover,
.information_save:hover {
    cursor: pointer;
}