.mainRules {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%);
    padding: 1rem;
    margin-bottom: 1rem;
}

/* .innerRules {
    width: 100%;
} */

.rules_parent {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 13%;
    padding: 8px 0px;
    margin-left: 6px;
}

.rules_parent p {
    font-family: 'Segoe UI Bold';
    font-size: 18px;
    text-transform: capitalize;
    color: #5C6DFF;
}

.rulesCard {
    width: 100%;
    border-radius: 20px;
}

.rulesUpper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1%;
}

.rulesUpper h4 {
    font-family: 'Segoe UI';
    font-size: 1rem;
    color: #5C6DFF;
    margin: 1rem 0px;
}

.rulesUpper p {
    font-family: 'Segoe UI Semibold';
    font-size: 1rem;
    color: #5C6DFF;
}

.openTiming i, .weekendOpening i {
    margin-right: 4px;
}

.questionPart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-bottom: 2%; */
}

.leftQuestion {
    width: 70%;
}

.rulesMark {
    width: 40%;
    padding-left: 40px;
    margin-top: -4px;
}

.rulesMark i {
    margin-right: 10%;
    font-size: 1.3rem;
}

.leftQuestion p {
    font-family: 'Segoe UI';
    font-size: 1.1rem;
    color: #666;
}

.leftQuestion p::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
    display: inline-block;
    margin-right: 10px;
}

.submitEditBtn {
    width: 100%;
    /* margin-bottom: 3%; */
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.editableBtn_rules {
    width: 100%;
    display: flex;
    border-radius: 23px;
    background: #EEF0FF;
}

.submitEditBtn button {
    padding: 0.5rem 1rem;
    outline: none;
    background-color: transparent;
    border: 1px solid #5cb85c;
    color: #5cb85c;
    transition: 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    border-radius: 999px;
    font-weight: bold;
    margin-right: 2%;
}

.submitEditBtn button:hover {
    background-color: #5cb85c;
    color: #fff;
}