h6 {
    font-size: small;
    margin-bottom: 0;
}
.container-body {
    background-color: #FFFFFF;
    background-image: none;
}

/* p, h5, h6, h4 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
} */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.agency-card-parent {
    /* padding: 0px 0 0px 7px; */
    /* width: 95%; */
    /* margin-left: 20px; */
    /* overflow: auto; */
    height: 420px;
}

.agency-card-parent::-webkit-scrollbar {
    width: 8px;
    margin-left: 50px;
    height: 10px;
}

.agency-card-parent::-webkit-scrollbar-track {
    border-left: 2px dashed grey;
    background-clip: content-box;
}

.agency-card-parent::-webkit-scrollbar-thumb {
    background: #68E1FD;
}

.content-leftBody_AgencyNewestDashboard {
    min-width: 87vw;
}

.main-section {
    display: flex;
}

.filter-parent {
    margin-top: 20px;
    margin-left: 49px;
}

.user-project_AgencyNewestAllProject {
    width: 100%;
    margin-left: 30px;
}

.project-actual-status {
    margin: 4.5rem 2rem 2.5rem 1rem;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
}

.project-actual-status div h6 {
    font-family: 'Segoe UI Semibold', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
}

.completed-project, .running-project, .rejected-project {
    background-image: linear-gradient(to right, #015F9A, #0376BA);
    border-radius: 4px;
    padding: 16px;
    width: 16%;
    text-align: center;
    color: #F9F9F9;
}

.completed-project:hover, .running-project:hover, .rejected-project:hover {
    cursor: pointer;
}

.filter {
    width: 100%;
    background: #F9F9F9;
    border-radius: 12px;
    min-height: 415px;
    width: 263px;
}

.filter h5 {
    margin-left: 13px;
    margin-top: 7px;
}

.reset-filter h6, .apply-filter h6 {
    padding: 8px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.reset-filter h6 {
    color: #3A3A3A;
    background: #EAF2FF;
}

.filterActiveClass {
    color: #FFFFFF;
    background: #A6C8FF;
}

.apply-filter:hover {
    cursor: pointer;
}

.apply-filter h6 {
    color: #3A3A3A;
    background: #EAF2FF;
}

.filter-button {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.status-checkbox {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.status-checkbox div {
    display: flex;
    align-items: center;
}

.larger-checkbox {
    width: 40px;
    height: 24px;
}

.status-checkbox div p {
    margin-left: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.search-name-heading {
    margin-left: 13px;
    font-weight: 600;
    font-size: 18px;
}

.search-name-heading+input {
    width: 88%;
    margin-left: 13px;
    margin-top: 10px;
    padding: 5px;
}

.search-content {
    margin-top: 10px;
}

.search-button {
    margin-top: 14px;
    margin-right: 19px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.search-button:hover {
    cursor: pointer;
}

.search-button div {
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    background: #EAF2FF;
    border-radius: 4px;
    padding: 7px 10px;
}

.all-project_div {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #f5f5f5;
    /* margin-left: 25px; */
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 3px rgb(0,0,0,18%);
}

.all-project_div p {
    color: #015F9A;
    font-family: "Segoe UI bold";
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 17px;
}

.blueConditional {
    background: #4175ca;
    color: white;
}

.greenConditional {
    background-color: #26E826;
    color: white;
}

.redConditional {
    background-color: #FF0000;
    color: white;
}

.yellowConditional {
    background-color: #FFD200;
    color: white;
}