.mainDetailHeader_agencyRespondedDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    270.06deg,
    #1a108d -2.88%,
    rgba(192, 144, 254, 0) 110.65%
  ) !important;
  margin-top: 60px;
}
.innerDetailHeader_agencyRespondedDetails {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}
.detailHeaderImage_agencyRespondedDetails {
  margin-right: 1.5%;
}
.detailHeaderImage_agencyRespondedDetails div {
  width: 87px;
  height: 83px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.detailHeaderImage_agencyRespondedDetails div img {
  width: 62px;
  object-fit: contain;
}
.headerInformation_agencyRespondedDetails {
  width: 100%;
}
.clientName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.clientName div {
  width: 50%;
}
.clientName h2 {
  font-family: 'Poppins';
  font-weight: bold;
}
.detailsButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 3rem;
  margin: 2rem 0;
}

.postQuotation {
  display: flex;
  flex-direction: column;
}

.negotiablePrice > input[type='number'] {
  margin-left: 1rem;
  min-height: 48px;
}
.detailsButtons button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  outline: none;
  border: none;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

.action-wait {
  font-weight: 500;
  font-style: italic;
  background-color: rgb(0, 150, 155);
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-wait p {
  color: #fff !important;
  margin: 0;
}
.clientExperience {
  display: flex;
  align-items: center;
  margin-top: 2%;
  flex-wrap: wrap;
}

.btnInfoDiv {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.rightBorder {
  position: absolute;
  width: 2px;
  height: 100% !important;
  top: 0;
  right: 0%;
  background-color: #aaa;
  border-radius: 999px;
}
.innerBtnInfoDiv {
  margin-right: 20px;
}
.innerBtnInfoDiv p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.1rem;
}

.acceptButton,
.rejectButton,
.detailsButtons > button,
.detailsButtons > a {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  outline: none;
  border: none;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}
.rejectButton {
  opacity: 0.8;
  background: none !important;
  border: none;
  box-shadow: none;
  transition: 0.2s ease-in-out;
}

.detailsButtons > a {
  background-color: #02044a;
  border: 1px solid #02044a;
  text-decoration: none;
}

.postQuotation > button {
  background-color: #02044a;
}
.rejectButton:hover {
  background-color: rgb(194, 35, 35) !important;
  border: 1px solid rgb(194, 35, 35) !important;
}

.action-wait {
  font-weight: 500;
  font-style: italic;
  background-color: #00969b;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 2rem;
  width: 100%;
  margin: 2rem 1rem 1rem 1rem;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(100%);
}
.action-wait > p,
.detailsButtons > p {
  color: #fff !important;
  margin: 0;
}

@media (max-width: 768px) {
  .detailHeaderImage div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .detailHeaderImage div img {
    width: 100px;
    object-fit: contain;
  }
  .headerInformation {
    width: 100%;
  }
  .clientName {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .clientName div {
    width: 50%;
  }
  .clientName h2 {
    font-family: 'Poppins';
    font-weight: bold;
  }
  .detailsButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
    margin: 0.5rem 0;
  }

  .postQuotation {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
  }

  .clientExperience {
    display: flex;
    align-items: center;
    margin-top: 2%;
    flex-wrap: wrap;
  }

  .btnInfoDiv {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .rightBorder {
    position: absolute;
    width: 2px;
    height: 60%;
    top: 0;
    right: 0%;
    background-color: #aaa;
    border-radius: 999px;
  }
  .innerBtnInfoDiv {
    margin-right: 20px;
  }
  .innerBtnInfoDiv p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .detailHeaderImage div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
  }
  .innerDetailHeader {
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 0;
  }
  .detailHeaderImage div img {
    width: 40px;
    object-fit: contain;
  }
  .clientExperience {
    flex-direction: column;
  }
  .clientName {
    flex-direction: column;
    align-items: center;
  }
  .clientName div {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .detailsButtons button {
    width: 30%;
    margin: 0 20px 0 0;
    position: absolute;
    top: 10%;
    right: -5%;
    font-size: 0.8rem;
    padding: 0.5rem 0.1rem;
  }
  .clientExperience {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .innerBtnInfoDiv {
    margin-right: 0;
  }
  .clientExperience p {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }
  .rightBorder {
    display: none;
  }
}

.respondDescription {
  margin-top: 3%;
  margin-left: 2%;
}
.respondDescription h2 {
  font-family: 'Poppins';
  font-weight: 400;
}
.respondDescription p {
  font-family: 'Poppins';
  font-weight: 400;
  width: 80%;
  margin-top: 1%;
  color: #9a9a9a;
}

@media (max-width: 768px) {
  .respondDescription p {
    width: 100% !important;
  }
}

.respondCards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 2%;
}
.innerResponseCard {
  width: 40%;
  background-color: #fff;
  padding: 1rem 2.5rem 2rem 2.5rem;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 0 2rem;
  position: relative;
  overflow: hidden;
}
.leftLine {
  position: absolute;
  width: 10px;
  background-color: #02044a;
  top: 50%;
  left: 0;
  height: 92%;
  transform: translateY(-50%);
}
.innerResponseCard div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 20px;
}
.innerResponseCard div p {
  font-family: 'Poppins';
  margin-top: 4%;
  font-weight: 500;
  font-size: 1rem;
  transform: translateY(20px);
}
.innerResponseCard div p:nth-child(1) {
  color: #000;
  font-weight: 500;
  font-size: 1.1rem;
  white-space: nowrap;
}
.innerResponseCard div p:nth-child(2) {
  color: #68e1fd !important;
  font-weight: 500;
  font-size: 1.1rem;
}

.detailsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.innerDetailsContainer {
  width: 93%;
}
.detailsDiv {
  display: flex;
  align-items: center;
}
.detailsDiv img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.detailsDiv h4 {
  font-size: 18px;
  color: #3a3a3a;
}
.detailsDiv::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #3a3a3a;
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .respondCards {
    flex-direction: column;
  }
  .innerResponseCard {
    width: 100%;
    margin-bottom: 5%;
  }
  .innerResponseCard div p {
    font-size: 0.9rem;
  }
}

.briefDetails {
  width: 100%;
  margin-bottom: 5%;
  position: relative;
}
.briefDetails img {
  position: absolute;
  width: 10%;
  object-fit: contain;
}
.leftQuote {
  top: 0;
  left: 3%;
}
.rightQuote {
  bottom: 0;
  right: 3%;
}
.innerBriefDetails {
  width: 70%;
  margin-top: 5%;
}
.briefHeading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
  border-bottom: 1px solid #ebebeb;
}
.briefHeading h2 {
  font-family: 'Poppins';
  font-weight: 600;
}
.briefHeading p {
  background-color: #02044a;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 600;
}

.briefQuestions {
  margin-top: 3%;
}
.briefQuestions div {
  margin-bottom: 3%;
}
.briefQuestions div h4 {
  font-family: 'Poppins';
  color: #000;
  font-size: 1.3rem;
}
.briefQuestions div p {
  font-family: 'Poppins';
  color: #484848;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .briefHeading {
    flex-direction: column;
  }
  .briefHeading p {
    padding: 0;
    background-color: transparent;
    color: #02044a;
    font-weight: bold !important;
    font-size: 1rem;
  }
  .briefQuestions div h4 {
    font-family: 'Poppins';
    color: #000;
    font-size: 1rem;
  }
  .briefQuestions div p {
    font-family: 'Poppins';
    color: #484848;
    font-size: 0.8rem;
  }
}

.agencyQuotation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;
}
.innerAgencyQuotation {
  /* padding: 1.5rem; */
  width: 95%;
  background-color: #fff;
  box-shadow: none !important;
  position: relative;
  border-radius: 15px;
}
.agencyQuotationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9f0ef;
  padding: 0rem 0rem !important;
  font-family: 'Poppins';
  border-radius: 15px;
}
.agencyQuotationHeading h2 {
  font-weight: bold;
}
.agencyLogo {
  width: 200px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.agencyLogo img {
  width: 60%;
  /* height: 80px; */
  object-fit: contain;
  mix-blend-mode: multiply;
}

.agencyQuotationDesc {
  margin-top: 2%;
  font-family: 'Poppins';
  padding: 0rem 0rem !important;
  /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2); */
}
.agencyQuotationDesc h4 {
  color: #000;
  margin-left: 15px;
  font-size: 1.3rem;
}
.agencyQuotationDesc p {
  color: #484848;
}
.agencyQuestions {
  padding: 1rem 2rem;
  display: flex;
  /* justify-content: space-between; */
  margin-top: 5%;
  justify-content: center;
}
.agencyQuestions div {
  width: 33%;
}
.agencyQuestions div h4 {
  font-family: 'Poppins';
  font-size: 1.2rem;
  font-weight: bold;
}
.agencyQuestions .straightAfterLine h4::after {
  content: '';
  width: 33%;
  background-color: #000;
  height: 2px;
  display: inline-block;
  margin-left: 10%;
  transform: translateY(-5px);
}
.agencyQuestions div ul {
  font-family: 'Poppins';
  color: #02044a;
  font-size: 1.1rem;
  margin-top: 20px;
  list-style: disc;
}
.agencyQuestions div ul li {
  color: #407bff;
}

@media (max-width: 768px) {
  .agencyQuestions {
    flex-direction: column;
    margin-bottom: 3%;
  }
  .innerAgencyQuotation {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 15px;
  }
  .quotationleftLine {
    position: absolute;
    width: 10px;
    height: 98%;
    top: 50%;
    left: 0;
    background-color: #02044a;
    border-radius: 999px;
    transform: translateY(-50%);
  }
  .agencyQuotationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f0ef;
    padding: 1rem 2rem;
    font-family: 'Poppins';
    border-radius: 15px;
  }
  .agencyQuotationHeading h2 {
    font-weight: bold;
  }
  .agencyLogo {
    width: 200px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .agencyLogo img {
    width: 60%;
    /* height: 80px; */
    object-fit: contain;
    mix-blend-mode: multiply;
  }

  .agencyQuotationDesc {
    margin-top: 2%;
    font-family: 'Poppins';
    padding: 1rem 2rem;
  }
  .agencyQuotationDesc h4 {
    color: #000;
  }

  .agencyQuotationDesc p {
    color: #484848;
    font-size: 0.9rem;
  }
}
