h6 {
    margin-bottom: 0;
}

p, h5, h6, h4 {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    text-transform: capitalize;
    /* letter-spacing: 0.4px; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.agency-card-parent {
    padding: 5px 0 0 7px;
    width: 95%;
    margin-left: 20px;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
}

.agency-card-parent::-webkit-scrollbar {
    width: 8px;
    margin-left: 50px;
    height: 10px;
}

.agency-card-parent::-webkit-scrollbar-track {
    border-left: 2px dashed grey;
    background-clip: content-box;
}

.agency-card-parent::-webkit-scrollbar-thumb {
    background: #68E1FD;
}

.content-leftBody_AgencyNewestDashboard {
    min-width: 87vw;
}

.main-section {
    display: flex;
}

.filter-parent {
    margin-top: 20px;
    margin-left: 49px;
}

.user-project_AgencyNewestAllProject {
    width: 100%;
}

.project-actual-status {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

.completed-project, .running-project, .rejected-project {
    border-radius: 4px;
    padding: 20px;
    width: 30%;
    text-align: center;
}

.completed-project {
    background: #A6C8FF;
}

.running-project, .rejected-project {
    background: #F9F9F9;
}

