h6 {
    margin-bottom: 0;
}

p, h5, h6, h4 {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.agency-card-parent {
    width: 83%;
    margin-left: 20px;
}

.content-leftBody_AgencyNewestDashboard {
    min-width: 87vw;
}

.main-section {
    display: flex;
}

.filter-parent {
    margin-top: 20px;
    margin-left: 49px;
}

.user-project_AgencyNewestAllProject {
    width: 100%;
}

.project-actual-status {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

.completed-project, .running-project, .rejected-project {
    border-radius: 4px;
    padding: 20px;
    width: 30%;
    text-align: center;
}

.completed-project {
    background: #A6C8FF;
}

.running-project, .rejected-project {
    background: #F9F9F9;
}
