.user-project > div {
  padding: 0 30px;
  width: 85%;
  margin-left: 0px;
  margin-top: 20px;
}

.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container-body {
  width: 90%;
  margin-left: 10%;
  margin-top: 5%;
}
