@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.mainProfileHeaderImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginLeft {
  margin-left: 0;
}

.innerProfileHeaderImage {
  width: 100%;
  height: 25vh;
  /* overflow: hidden; */
  background-image: url('../../assets/images/AgencyProfile/bgImage.png');
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerProfileHeaderImage img {
  width: 100%;
  object-fit: contain;
}
.innerProfileHeaderImage div {
  position: absolute;
  top: 15px;
  right: 20px;
}
.innerProfileHeaderImage div p {
  color: #fff;
  font-family: 'Poppins';
  text-decoration: underline;
  cursor: pointer;
}
.innerProfileHeaderImage div p i {
  margin-right: 10px;
}
.innerProfileHeaderImage button {
  position: absolute;
  bottom: -15px;
  right: 0;
  height: 30px;
  width: 25%;
  height: 42px;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #ff9999;
  color: #fff;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  border: 2px solid #fff;
}
.innerProfileHeaderImage button i {
  margin-left: 10px;
}
.innerProfileHeaderImage span {
  color: #fff;
  font-family: 'Poppins';
}

.mainAskQuestion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerAskQuestion {
  width: 100%;
}
.innerAskQuestion h1 {
  font-family: 'Poppins';
  font-weight: bold;
  margin-bottom: 5%;
}
.questionFields input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #ebebeb;
  margin-bottom: 3%;
}
.questionFields button {
  padding: 0.5rem 1rem;
  background-color: #02044a;
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
  border-radius: 999px;
  outline: none;
  border: none;
}
.recetlyAskedQuestion {
  margin-top: 5%;
  /* border: 1px solid #ebebeb; */
  padding: 1rem;
}
.recetlyAskedQuestion h2 {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px dashed #ebebeb;
}
.recetlyAskedQuestion div {
  margin-top: 3%;
}
.recetlyAskedQuestion h3 {
  font-family: 'Josefin Sans';
  color: #666;
  font-size: 1.2rem;
}
.recetlyAskedQuestion p {
  font-family: 'Poppins';
  color: #000;
  font-weight: bold;
}
.customOverlay {
  background: rgba(0, 0, 0, 0.6) !important;
}
.customModal {
  background: #fff !important;
  min-width: 70vw !important;
  width: 100%;
  border-radius: 20px;
}

.mainAgencyProfileInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerAgencyProfileInfo {
  width: 90%;
  display: flex;
}
.mainAgencyProfileLogo {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  transform: translateY(-50px);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.innerAgencyProfileLogo {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.innerAgencyProfileLogo img {
  width: 100%;
  width: -webkit-fill-available;
  mix-blend-mode: multiply;
}

.mainAgencyProfileContent {
  margin-top: 2%;
  width: 80%;
}
.agencyName {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  /* border-bottom: 1px dashed #ebebeb; */
  padding-bottom: 5px;
}
.agencyNameURL {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.agencyNameURL .agencyDEtails {
  width: 100%;
  margin-bottom: 1%;
  margin-top: -3%;
}
.verifiedStatus {
  display: flex;
  color: #5cb85c;
  align-items: center;
}
.verifiedStatus i {
  margin-right: 5px;
  font-size: 1rem;
}
.verifiedStatus span {
  font-family: 'Poppins';
  font-size: 0.9rem !important;
  margin-left: 2px;
  font-weight: bold;
  margin-top: 2px;
}

.agencyAddress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  /* background-color: red; */
}
.agencyAddress i {
  margin-right: 10px;
}
.agencyAddress span {
  font-family: 'Poppins';
  color: #444;
}
.agencyName h2 {
  font-family: 'Poppins';
  font-weight: bolder;
}
.agencyName p {
  font-family: 'Poppins';
  /* margin-left: 2%; */
  color: #407bff;
  font-weight: bold;
  font-size: 0.8rem;
}
.agencyProfileConstantPoints {
  display: flex;
  margin-top: 1%;
  justify-content: space-between;
  /* align-items: center; */
}
.agencyProfileConstantPoints .pointContent:nth-child(1) {
  background: linear-gradient(90deg, #fffeff 0%, #ffd7d7 100%);
}
.agencyProfileConstantPoints .pointContent:nth-child(2) {
  background: linear-gradient(90deg, #fffeff 0%, #d7fffe 100%);
}
.agencyProfileConstantPoints .pointContent:nth-child(3) {
  background: linear-gradient(90deg, #fffeff 0%, #fff6cc 100%);
}
.agencyProfileConstantPoints .pointContent:nth-child(4) {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #fff;
}
.agencyProfileConstantPoints .pointContent:nth-child(4) i {
  font-size: 22px;
  color: #14ff00;
}
.agencyProfileConstantPoints .pointContent:nth-child(4) p {
  font-size: 1rem;
  font-weight: bold;
}
.pointContent {
  height: 80px;
  width: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.pointContent p,
.pointContent h4 {
  font-family: 'Poppins';
}
.pointContent p {
  color: #3a3a3a;
  font-family: 'Poppins';
  font-size: 0.8rem;
}
.pointContent h4 {
  font-family: 'Poppins';
  font-size: 0.7rem;
  transform: translateY(-10px);
  margin-top: 20px;
  color: #3a3a3a;
}

.mainAgencyProfileDesc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerAgencyProfileDesc {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.leftAgencyProfileDesc {
  width: 60%;
  display: flex;
}

.innerAgencyProfileDesc h2 {
  font-family: 'Poppins';
  font-weight: bolder;
  color: #555;
  width: 35%;
}
.innerAgencyProfileDesc h2::after {
  content: '';
  width: 80%;
  height: 2px;
  border-radius: 999px;
  background-color: #3a3a3a;
  display: block;
}
.leftAgencyProfileDesc p {
  font-family: 'Poppins';
  width: 100%;
  color: #555;
}
.agencyProfileIndustry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
}
.agencyProfileIndustry p {
  width: 20%;
  background-color: #ff9999;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0;
}

.rightAgencyProfileDesc {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monthyView {
  width: 60%;
  /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2); */
  border: 2px solid #3a3a3a;
  height: 100px;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  border-radius: 15px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.monthyView h3 {
  font-family: 'Poppins';
  color: #02044a;
  font-weight: 600;
  font-size: 0.8rem;
}
.monthyView p {
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;
  /* transform: translateY(-20px); */
  color: #65ff3f;
}
.monthBorder {
  position: absolute;
  width: 8px;
  height: 90%;
  background-color: #02044a;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 999px;
}
.uploadButton {
  position: relative;
  background-color: #eaf2ff;
  color: #000;
  outline: none;
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 0px;
  font-size: 0.8rem;
  font-family: 'Poppins';
  transform: translateY(-20px);
}
.uploadButton i {
  margin-right: 5px;
}
.uploadButton:focus {
  outline: none;
}
