@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.page__container {
    display: flex;
    justify-content: flex-start;
    /* height: 200vh; */
    /* flex: 1; */
}

.sidebar {
    padding-top: 1vh;
    background: #121a31;
    min-width: 20vw;
    max-width: 20vw;
    height: 100vh;
    transition: .5s ease-in-out; 
}

.logo {
    width: 100%;
}

.line__container {
    display: flex;
    height: 16px;
    cursor: pointer;
    z-index: 3;
    padding: 3vh 1%;
    display: none;
    transition: .4s ease;
    position: absolute;
}

.line {
    width: 25px;
    height: 3px;
    background: #000;
    position: relative;
    cursor: pointer;
}

.line::before {
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    content: '';
    cursor: pointer;
    background: #000;
}

.line::after {
    position: absolute;
    top: 10px;
    width: 15px;
    height: 3px;
    content: '';
    background: #000;
    cursor: pointer;
}

.dashboard {
    /* margin-left: 20vw; */
    /* width: 100%; */
    transition: .5s ease-in-out;
}

.header__main {
    display: flex;
    background: #fff;
    height: 7vh;
    align-items: center;
    justify-content: flex-end;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    padding-right: 2%;
    width: 100%;
}

.search__area {
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 200px;
}

.search__area > input {
    border: none;
    font-family: 'Poppins' , sans-serif;
    margin-left: 1%;
    font-size: .9rem;
    outline: none;
}

.search__area > input::placeholder {
    font-family: 'Poppins' , sans-serif;
    font-size: .9rem;
}

.addnewteam__buttonContainer {
    margin-right: 2%;
}

.new__teamButton {
    color: #fff;
    outline: none;
    border: none;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.new__teamButton > span {
    font-size: .9rem;
}

.plus__icon > .fa-plus {
    font-size: 1.5rem;
    font-weight: 100;
    margin-right: 5px;
}

.MuiAccordionSummary-root {
    margin-top: 5% !important;
}

.sidebar__item {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    padding-left: 10%;
    font-size: 1.1rem;
    margin-bottom: 3vh;
    cursor: pointer;
}

.bx-home-smile,
.bxs-message-square-dots,
.bx-check-square,
.bxs-time-five,
.bxs-laugh {
    margin-right: 5%;
    font-size: 1.3rem;
}

.details__wrapper {
    padding: 0 4vw;
    padding-top: 2vh;
}

.team__title {
    font-family: 'Poppins' , sans-serif;
}

.history {
    display: flex;
    /* height: 17vh; */
}

.completed__projects,
.done__projects {
    flex: 3.5;
    background: #fff;
}

.increase {
    flex: 3;
    background: #fff;
}

.completed__projects {
    display: flex;
}

.progress__circleBox {
    /* margin-left: 1%; */
    width: 30%;
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.progress__bar {
    height: 60%;
    padding: 3% 0;
}

.completed__projectDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.completed__projectDetails > span {
    font-weight: 600;
    font-size: 1.2rem;
}

.completed__projectDetails > p {
    margin: 0;
    padding: 0;
    color: gray;
}

.increase {
    display: flex;
    padding: 0 2%;
    position: relative;
}

.increase > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.increase > div > p {
    margin: 0;
    padding: 0;
    color: gray;
}

.increase__title {
    font-weight: 600;
}

.empty__container {
    width: 2px;
    height: 70%;
    align-self: center;
    background: #e1e1de;
}

.projects {
    margin-top: 4vh;
}

.projects__cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.project__card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px auto 5px auto;
    /* background: #fff; */
    transition: .5s;
    background-image: url('../../assests/images/Dashboard/lighthouse.jpg');
    background-repeat: no-repeat;
    z-index: 999;
    background-size: 150%;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 30px 30px rgba(0,0,0,0.2);
}

.project__card:hover {
    box-shadow: 0 30px 50px rgba(0,0,0,0.4);
    transform: scaleY(1.05) scaleX(1.05);
}

.card__modalView {
    position: absolute;
    bottom: 20px;
    background: #fff;
    height: 50%;
    width: 80%;
    border-radius: 25px;
    transition: .5s;
    overflow: hidden;
    padding: 5% 2% 0 4%;
    font-family: 'Poppins' , sans-serif;
}

.card__modalView > p {
    margin: 0;
    padding: 0;
    margin-bottom: 1%;
}

.project__title {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #000;
}

.card__modalView > p > i,
.card__modalView > p > span {
    color: gray;
}

.start__date {
    margin-top: 7%;
    padding: 2% 0;
    border-radius: 999px;
    background: #f3f3f4;
    width: 60%;
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.2);
}

.start__date > p {
    margin: 0;
    padding: 0;
    color: #486349;
}

/* .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1 {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: #fff;
    color: #013d4a;
}

.face1 > h2 {
    margin-top: 60px;
}

.face2 {
    background: #013d4a;
    transition: .5s;
}

.project__card:hover .face2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 1px solid #013d4a;
}

.face2 > h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: .5s;
}

.project__card:hover .face2 > h2 {
    color: #013d4a;
    font-size: 2em;
} */