.Image1_hireAgency {
    left: -10rem;
    position: absolute;
    top: -5.5rem;
    width: 43rem;
}

.Image2_hireAgency {
    right: -7rem;
    position: absolute;
    bottom: -6.5rem;
    width: 48rem;
}

.stepCheck .ste {
    color: #FFFFFF;
}

.stepCheck {
    height: 60px;
    width: 16%;
    position: absolute;
    left: -79px;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
    border-radius: 0 12px 12px 0;
}

.mainHireAgencyFormTwo .stepCheck {
    width: 19%;
    left: -79px;
}

.mainHireAgencyForm3 .stepCheck {
    width: 19%;
    left: -4.9rem;
}

.mainHireAgencyForm3 .stepCheck p {
    left: 7px;
}

.step-1_hireAgencyForm1 {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.steps_hireAgencyForm>div>div>p, .steps_hireAgencyForm2>div>div>p, .steps_hireAgencyForm3>div>div>p {
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    color: #707070;
    display: flex;
}

.keep_the_project_name p, .write_about_your_project p, .in_case_you_think p {
    font-family: 'Segoe UI';
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.611765px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 1rem;
}

.black-strip_hireAgencyForm1 {
    color: #000;
    background-color: #000;
    position: absolute;
    width: 10px;
    height: 2px;
    top: 0.9rem;
}

.strip1 {
    left: 9.3rem;
}

.strip2 {
    left: 28.5rem;
    color: #A8A8A8;
    background-color: #A8A8A8;
}

.color_hireAgencyForm {
    height: 3px;
    margin: 1rem 0rem;
}

.color_hireAgencyForm2 {
    height: 3px;
    margin: 1rem 0rem;
}

.color_hireAgencyForm3 {
    height: 3px;
    margin: 1rem 0rem;
}

.color_hireAgencyForm.green, .color_hireAgencyForm2.green, .color_hireAgencyForm3.green {
    background-color: #015F9A;
}

.color_hireAgencyForm.grey, .color_hireAgencyForm2.grey {
    background-color: #A8A8A8;
}

.servicesHirecover {
    background-color: #015F9A;
    width: 100%;
    min-height: 25%;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 16rem;
}

.input-form_hireAgencyForm1 .projectNameAgency p, .input-form_hireAgencyForm1 .descriptionProjectAgency p, .input-form_hireAgencyForm1 .budgetSectionAreaAgency p, .input-form_hireAgencyForm1 .numberOfDays p {
    font: 14px 'Segoe UI';
    text-transform: capitalize;
    color: #707070;
}

.error_hireAgencyForm2.error_hireAgencyForm1 {
    font-size: 12px !important;
    font-weight: normal !important;
    font-family: 'Segoe UI';
}

.backArrow_hireAgencyForm3 {
    position: fixed;
    top: 15%;
    left: 4%;
    z-index: 100;
}

.backArrow_hireAgencyForm3 i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

.backArrow_hireAgencyForm2 i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

.projectNameAgency ul, .descriptionProjectAgency ul, .budgetSectionAreaAgency ul, .numberOfDays ul {
    margin-left: 1.5rem;
}

.innerHigherAgencyForm1 ul {
    margin-bottom: 0;
    padding-left: 0rem;
}

li::marker {
    color: #ababab;
}

.projectNameAgency input::placeholder {
    color: #a8a8a8;
}

.numberOfDays {
    margin-top: 1rem;
}

.descriptionProjectAgency div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79%;
}

.descriptionProjectAgency div span {
    font-size: 0.7rem;
}

.error_hireAgencyForm2.error-select_hireAgencyForm3 {
    position: absolute;
    bottom: 8px;
    right: 11%;
}

.budgetSectionAreaAgency .MuiTypography-root {
    font-family: 'Segoe UI' !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: #707070 !important
}

.main_HireAgencyParent {
    padding-top: 5rem;
    position: relative;
    overflow: hidden;
}

.cardsDetail_hireAgencyForm1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.points-to-remember_hireAgencyForm1>h4 {
    font-family: 'Segoe UI semibold';
    font-size: 22px;
    color: #015F9A;
    padding-left: 1rem;
}

.nextbtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nextbtn button {
    width: 16%;
    padding: 0.3rem 1rem;
    color: #fff;
    outline: none;
    border: none;
    background-color: #26AFFF;
    font: bold 1.2rem 'Open Sans', sans-serif;
}

/* Hire Agency Form 2 */

.stepTwo p {
    padding: 0.3rem 1rem;
}

.mainHireAgencyForm3 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.innerHireAgencyFormTwo {
    width: 46%;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%);
    border-radius: 12px;
    padding: 2rem;
    z-index: 1;
}

.domainFieldsCard div img {
    width: 50%;
    margin-bottom: 4%;
}

.domainFieldsCard div p {
    font-display: initial;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
}

.domainBudget {
    margin-top: 5%;
}

.domainBudget p {
    font: bold 1.3rem 'Open Sans', sans-serif;
}

.domainBudgetOptions {
    display: table-caption;
    margin-left: 16px;
}

.radio-label_hireAgencyForm2 {
    font-size: 14px;
    color: #707070;
    margin-top: -0.5rem;
}

.serivcesHireAgency .servicesAgencyHeading {
    font: 18px 'Segoe UI semibold';
    text-transform: capitalize;
    color: #707070;
}

.servicesCardsHireAgency {
    margin-left: 7px;
    display: flex;
    flex-wrap: wrap;
}

.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7rem;
}

.mainHireAgencyFormTwo .tech-container div, .mainHireAgencyForm3 .tech-container div {
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 77px;
    cursor: pointer;
    border-radius: 8px;
}

.servicesCardsHireAgency div img {
    width: 70px;
    user-select: none;
}

.innerHireAgencyFormTwo .servicesCardsHireAgency div p, .innerHireAgencyForm3 .servicesCardsHireAgency div p {
    margin-top: 10px;
    user-select: none;
    font: 14px 'Segoe UI';
    line-height: 150%;
    text-transform: capitalize;
    width: 76%;
    text-align: center;
    margin-left: 0rem;
}

.servicesHireAgencyContainer.hireAgencyForm2 {
    border: 1px dashed #ebebeb;
    background: #fff;
    border-radius: 1rem;
    width: 18rem;
    padding: 8px;
}

.servicesHireAgencyContainer.hireAgencyForm3 {
    border: 1px dashed #ebebeb;
    background: #fff;
    border-radius: 1rem;
    width: 18rem;
    padding: 8px;
}

.mainHireAgencyFormTwo .MuiFormGroup-root {
    flex-direction: row !important;
    margin-left: 0 !important;
}

.mainHireAgencyFormThree .MuiFormGroup-root {
    flex-direction: row !important;
    margin-left: 0 !important;
}

.UIUXServices {
    font-family: 'Segoe UI';
    padding-top: 0
}

.UIUXServices div, .UIUXServices input {
    outline: none;
    border: none;
}

.serviceSelectionInput .margin-left {
    margin-top: 0.5rem;
}

.serviceSelectionInput button svg {
    color: black !important;
}

.innerHireAgencyForm3 {
    width: 49%;
    min-height: 60%;
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%);
    padding: 3rem;
    display: flex;
    z-index: 1;
    margin-bottom: 2%;
    border-radius: 12px;
}

.innerHireAgencyForm3 .techStackFields {
    margin-top: 0;
}

.domainFieldsCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.domainFieldsCard div {
    width: 22%;
    background-color: skyblue;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.domainFieldsCard div img {
    width: 50%;
    margin-bottom: 4%;
}

.domainFieldsCard div p {
    font-display: initial;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
}

.domainBudget {
    margin-top: 5%;
}

.domainBudget p {
    font: bold 1.3rem 'Open Sans', sans-serif;
}

.HireAgencyForm3Heading h2 {
    font: 22px 'Segoe UI';
    text-transform: capitalize;
    color: #015F9A;
}

.HireAgencyForm3Heading span::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #000;
}

.serivcesHireAgency .servicesAgencyHeadingForm3 {
    font: 14px 'Segoe UI semibold';
    text-transform: capitalize;
    color: #707070;
}

.servicesCardsAgency {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.servicesCardsAgency div {
    width: 22%;
    background-color: skyblue;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 160px;
    padding-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.servicesCardsAgency div img {
    width: 50%;
    margin-bottom: 4%;
}

.servicesCardsAgency div p {
    font-display: initial;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    user-select: none;
}

.servicesContainer {
    height: 100vh;
    overflow: scroll;
    border: 1px dashed #ebebeb;
    margin-left: 2px;
}

.serviceFieldsOptions .uiuxtext {
    padding: 0rem 1rem;
    font: bold 1.2rem 'Open Sans', sans-serif;
    text-align: center;
}

.hireAgencyForm2 .serviceSelectionInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innerHireAgencyFormTwo .monthlyBudget p {
    font: 18px 'Segoe UI semibold';
    line-height: 27px;
    text-transform: capitalize;
    color: #707070;
}

.nextbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    border-radius: 4px;
    padding: 0 20px;
    margin-right: 5rem;
}

.nextbutton_hireAgencyForm1 {
    width: 80%;
    padding: 0;
}

.nextbutton div {
    border-radius: 25px;
    width: 112px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 14px 'Segoe UI';
    color: #ffffff;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
    background-color: #015F9A;
    cursor: pointer;
}

.nextbutton div:hover {
    cursor: pointer;
    background-color: blue;
    color: #eaf2ff;
}

.backbutton_hireAgencyForm2:hover, .backbutton_hireAgencyForm3:hover   {
    background-color: rgb(95, 185, 178) !important;
    color: #eaf2ff !important;
}

.innerHireAgencyForm3 .servicesCardsHireAgency {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.error_hireAgencyForm2 {
    color: red !important;
    font-weight: normal;
    font-size: 14px;
    margin-left: 2.2rem;
}

.error_hireAgencyForm3 {
    margin-top: 1rem;
    color: red;
    font-weight: normal;
    font-size: 14px;
    margin-left: 1rem;
}

svg.MuiSvgIcon-root {
    width: 22px;
}

.serviceFieldsOptions {
    display: flex;
    justify-content: center;
}

.error_hireAgencyForm1 {
    margin-left: 0;
}

.steps_hireAgencyForm3{
    display: flex;
    width: 48%;
    justify-content: space-between;
}


.Toastify__toast--success ,.Toastify__toast--error {
    /* border: 7px solid !important; */
    border-radius: 50px !important;
  }