.new_design_clientOneHireDeveloper {
  border-bottom: none;
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 216px;
}

.new_design_clientOneHireDeveloper {
  width: 30rem;
  top: -1rem;
  margin-top: 8rem;
  margin-left: 34rem;
  background-color: #ffffff;
  position: relative;
  height: 17rem;
  border-radius: 8px;
  bottom: 5rem;
}

.moreAgencyHeading {
  padding-bottom: 1%;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 1%;
}

.moreAgencyHeading h3 {
  font-family: 'Segoe UI';
  font-size: 1.2rem;
  text-align: center;
}

.name-Font {
  font-family: 'Segoe UI semibold', sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-top: 4%;
  color: #015F9A;
  text-align: center;
}

.moreAgencyInfo>div {
  margin-top: 40px;
}
.margin-top.conditional_back_parent {
  margin-top: 5rem;
}

/* .innerMoreAgencies_clientOneHireDeveloper {
  margin-top: 1%;
} */

.innerMoreAgencies_clientOneHireDeveloper .moreAgencyHeading {
  padding-bottom: 1%;
  margin-top: 3%;
  padding-left: 20px;
}

.phone_clientOneHireDeveloper {
  margin-top: 10px;
  display: flex;
  /* justify-content: space-between; */
  width: 36%;
  margin-left: 40px;
}

.email_clientOneHireDeveloper {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  width: 55%;
  margin-left: 40px;
}

.polygon1 {
  position: absolute;
  z-index: -1;
  right: 2px;
}

.polygon2 {
  position: absolute;
  bottom: 0;
  right: 22px;
  z-index: -1;
  max-height: 100px;
}

.moreAgencyLogo {
  background-image: linear-gradient(to right, #01304D , #015F9A);
  padding: 8px ;
  width: 30%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  border-radius: 8px;
}

.checkResource.moreAgencyLogo:hover {
  background-color: rgb(17, 166, 192);
  color: white;
}

.moreAgencyLogo.show-details:hover {
  color: rgb(17, 166, 192);
  background-color: rgb(212, 191, 212);
}

.new_design_clientOneHireDeveloper .show-details {
  margin-left: 30px;
}

.button_parent {
  display: flex;
  justify-content:center;
  margin-top: 2.2rem;
}

.respondCards_clientOneHireDeveloper {
  overflow: auto;
  min-height: 83vh;
  height: 100%;
  background-image: linear-gradient(to right, #015F9A , #0376BA);
}

.moreAgencyList .moreAgencyInfo p {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #707070;
  text-transform: capitalize;
}

.moreAgencyList .moreAgencyInfo .phone_clientOneHireDeveloper p {
  margin-left: 1rem;
}

.moreAgencyList .moreAgencyInfo .email_clientOneHireDeveloper p {
  margin-left: 1rem;
}