.new_design_clientOneHireDeveloper .moreAgencyCard {
  border-bottom: none;
  cursor: pointer;
  flex-direction: column;
}

.new_design_clientOneHireDeveloper {
  width: 423px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 278px;
  margin-left: 20px;
  background: linear-gradient(180deg, #F9F9F9 0%, rgba(249, 249, 249, 0) 100%);
  position: relative;
}

.name-Font {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.25px;
  text-transform: capitalize;
  padding-top: 3%;
  color: #407BFF;
  height: '224px';
  width: 70%;
  text-align: center;
}

.innerMoreAgencies_clientOneHireDeveloper .moreAgencyHeading {
  padding-bottom: 1%;
  margin-top: 3%;
  padding-left: 20px;
}

.phone_clientOneHireDeveloper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 36%;
  margin-left: 40px;
}

.email_clientOneHireDeveloper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 57%;
  margin-left: 40px;
}

.polygon1 {
  position: absolute;
  z-index: -1;
  right: 2px;
}

.polygon2 {
  position: absolute;
  bottom: 0;
  right: 22px;
  z-index: -1;
}

.moreAgencyLogo {
  background: #F2F2F2;
  border: 1px solid #DCD3D3;
  border-radius: 5.54545px;
  padding: 10px;
  width: 40%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreAgencyLogo button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.554545px;
  text-transform: capitalize;
  color: #5A5A5A;
}

.new_design_clientOneHireDeveloper .moreAgencyCard .show-details {
  margin-left: 30px;
}

.new_design_clientOneHireDeveloper .moreAgencyCard .button_parent {
  margin-top: 1%;
}

.moreAgencyCard .button_parent {
  display: flex;
  justify-content: center;
  align-items: center;
}