.modalRoot{
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 550px;
  padding: 24px;
}

.requirementPlaceHolder{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #707070;
}

.modalContainer{
  display: block;
}

.requirementTitle{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #212529;
}

.experienceTag{
  background: rgba(3, 118, 186, 0.09);
  border-radius: 4px;
  width: fit-content;
  padding: 10px;
  justify-content: center;
  display: flex;
}

.experience{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #0376BA;
}

.label{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #45A4EA;
  display: flex;
}

.description{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #212529;
}

.bugdetAndType{
  display: grid;
  grid-template-columns: 50% 50%;
}

.tagsContainer{
  display: flex;
  margin-left: -10px;
}