.navbarDiv{
  height: 76px;
}

.ListingContainer{
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 54px 90px;
  padding: 56px 30px 30px 30px;
}

.RLContainer{
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 40px 30px 30px 30px;
  position: relative;
}

.listingHeader{
  position: absolute;
  top: -20px;
  left: 34px;
  background-color: #fff;
  padding: 0px 14px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #0376BA;
  align-items: center;
}

.headerIcon{
  color: #0376BA;
  padding-bottom: 6px;
  padding-left: 10px;
}

.listingLabel{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.cardHolder{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 23% 23% 23% 23%;
  grid-column-gap: 2%;
}

.showMorebtn{
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.cardContainer{
  padding: 15px 0px;
}