.developerListingContainer {
    max-width: 100%;
    margin-right: 70px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    min-height: 80vh;
    max-height: 80vh;
    position: relative;
    overflow-y: auto;
}

.accept_reject_dev_btn {
    border-radius: 6px;
    margin-right: 10px;
    background-color: #ffffff;
    border-color: #4b4747;
    margin-top: 10px;
}

.status-text {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
}
.status-text-Accepted {
    color: #04a56f;
}

.status-text-Rejected {
    color: #ff0000;
}

.DLCard {
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 12px;
    padding: 10px;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
}

.name {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: #3a3a3a;
}

.experienceText {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: rgba(58, 58, 58, 0.47);
}

.techText {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: rgba(58, 58, 58, 0.47);
}

.heading {
    display: block;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #212529;
    margin: 16px 12px 20px 12px;
}

.applyBtn {
    width: 60%;
    background-color: #5c6dff;
    border-color: #5c6dff;
}

.paperPlane {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40%;
}

.noDataMsg {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: #707070;
    width: 80%;
    margin-top: 6%;
    text-align: center;
}
