@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Genericons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot")
      format("truetype");
}
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
}
.inner-container {
  width: inherit;
  display: flex;
  min-height: 100vh;
}
.left-inner-container {
  width: 30%;
}

.right-inner-container {
  background-color: #131b33;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* right side part css */
.right-content {
  width: 60%;
  background-color: #131b33;
  margin: 6% 6% 6% 1%;
}

.right-content h1 {
  color: white;
  font-family: "Work Sans";
}
.right-content p {
  margin-top: 1.2rem;
  color: #686c76;
  font-family: "Poppins";
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}
form {
  margin-top: 3.5rem;
}
/* Description custom css */
.form-description,
.right-content-description {
  margin-top: 2rem;
}
.input-description {
  height: 7rem;
  margin-top: 0.8rem;
  width: 85%;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 8px #051f1f;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.input-description::placeholder {
  color: #e0dede;
  padding-left: 0 !important;
  padding-top: 3px;
}
.inputArea {
  margin: 1.8rem 0 1rem 0;
}
.labels {
  color: #686c76;
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}
input {
  margin-top: 0.8rem;
  height: 4rem;
  width: 85%;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 8px #051f1f;
  padding-left: 1rem;
  font-family: "Poppins";
}

input::placeholder {
  color: #e0dede;
  padding-left: 0 !important;
}
.timezone {
  margin-top: 0.8rem;
  height: 4rem;
  width: 85%;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 8px #051f1f;
  padding-left: 1rem;
  font-family: "Poppins";
  margin-right: 0;
  padding-left: 0;
}
.css-2b097c-container {
}

/* Requirement and Experience radio button custom css */
.radioButton-requirement {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.radioButton-requirement .MuiFormControlLabel-root {
  margin-right: 4rem !important;
  margin-top: 0.5rem !important;
  font-family: "Poppins" !important;
  color: #fff !important;
}
.MuiRadio-root {
  color: #fff !important;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #fff !important;
}
/* Requirement and Experience radio button custom css end*/

/* btn css for client and agency */
.btn-position-agency-client-description {
  width: 85%;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;

  align-items: center;
}
.description-btn {
  justify-content: flex-end;
}
/* btn css for requirement */
.btn-position-requirement {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-class {
  width: fit-content;
  background-color: #0918cd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  box-shadow: 0 0 8px #051f1f;
  margin-top: 2rem;
  padding: 0.6rem 1rem 0.6rem 1.3rem;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
.button-class:focus {
  outline: none;
  border: none;
}
.button-text {
  margin-right: 20px;
}
.button-text a {
  color: white !important;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.button-text a:hover {
  color: #f1eeee;
}
.button-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.button-icon:hover {
  background-color: #f1eeee;
}
.button-icon i {
  margin: 10px;
  color: #0918cd;
}
.previous-icon {
  transform: rotate(180deg);
}

/* left side part css */
.left-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left-inner-container .circle-1 {
  position: fixed;
  height: 7.5rem;
  width: 7.5rem;
  background-color: #636ddf;
  border-radius: 50%;
  top: 9%;
  left: 2%;
}
.left-inner-container .circle-2 {
  position: fixed;
  height: 7.5rem;
  width: 7.5rem;
  background-color: #636ddf;
  border-radius: 50%;
  top: 60%;
  left: -3%;
  transform: translateY(-50%);
}
.left-inner-container .circle-3 {
  position: fixed;
  height: 7.5rem;
  width: 7.5rem;
  background-color: #636ddf;
  border-radius: 50%;
  bottom: 0;
  left: 15%;
  transform: translate(-50%, 50%);
}
.left-inner-container .circle-4 {
  position: fixed;
  height: 3rem;
  width: 3rem;
  background-color: #636ddf;
  border-radius: 50%;
  top: 20%;
  left: 20%;
}
.left-inner-container .photo {
  position: fixed;
  left: 10%;
  top: 8%;
}

/* thank you page css */
.thank-you-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.thankyou-text {
  margin-top: 5rem;
}
.thankyou-text h1 {
  font-size: 4rem;
  font-weight: bold;
}
.thankyou_Image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thankyou_gif {
  width: 25%;
  height: 25%;
  object-fit: contain;
}
/* .thankyou-text .tick {
  color: white !important;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
} */
.thankyou-text p {
  margin: 0;
  font-family: "Poppins";
  color: white;
  font-weight: lighter;
}
.thanku-btn {
  justify-content: center;
}
.star1,
.star2,
.star3,
.star4 {
  position: absolute;
  color: #0918cd;
  animation: zoom_toggle 1s infinite;
}
.star1 {
  top: 0%;
  left: 40%;
}
@keyframes zoom_toggle {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1.2);
  }
}
.star2 {
  top: 12%;
  left: 0%;
}
.star3 {
  top: 12%;
  right: 12%;
}
.star4 {
  top: 24%;
  right: 5%;
}
/* thank you page css end */

@media (max-width: 1250px) {
  .left-inner-container {
    display: none;
  }
  .right-inner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-content {
    width: 80%;
    margin: 15% auto 10% auto;
  }
  .right-content h1 {
    font-size: 3rem;
  }
  .right-content h1,
  .right-content p {
    width: 90%;
  }
  input,
  .input-description,
  .timezone {
    width: 90%;
  }
  .right-content-description {
    margin-top: 10%;
  }
  .btn-position-agency-client-description,
  .btn-position-requirement {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .left-inner-container {
    display: none;
  }
  .right-inner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-content {
    width: 80%;
    margin: 15% auto 10% auto;
  }
  .right-inner-container h1,
  .right-inner-container p {
    width: 100%;
    text-align: center;
  }
  .right-content h1 {
    font-size: 2.5rem;
  }
  .labels {
    font-size: 1.5rem;
  }
  input {
    height: 3rem;
  }
  .input-description {
    height: 5rem;
  }
  .right-content-description {
    margin-top: 10%;
  }
}
@media (max-width: 550px) {
  /* btn css for requirement */
  input,
  .input-description,
  .timezone {
    width: 100%;
  }
  .btn-position-agency-client-description,
  .btn-position-requirement {
    width: 100%;
  }
  .btn-position-requirement,
  .btn-position-agency-client-description {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  /* btn css for client and agency */
  .btn-position-agency-client-description {
    justify-content: center;
    align-items: center;
  }
}
