<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <title>one1</title>
  </head>

  <body>
    <section class="header">
      <div class="inner_header">
        <div class="header_image">
          <img src="./img/logo2.png" alt="" />
        </div>
        <div class="header_btn">
          <a href="#">Join Us</a>
        </div>
      </div>
    </section>

    <section class="landing_page">
      <div class="inner_landingPage">
        <div class="info_div">
          <div class="info_text_div">
            <div class="info_heading">
              <h1>
                All your <br />
                <b>resource needs,</b>
              </h1>
              <h1>in one <b>place</b></h1>
            </div>
            <div class="info_para">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ea
                maiores corrupti perspiciatis sequi obcaecati consequatur soluta
                in aliquid facilis!
              </p>
            </div>
            <div class="info_buttons">
              <a href="#">Try it free</a>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="scroll_div">
            <div class="scroll_area">
              <div class="scroll_icon">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
              </div>
              <div class="scroll_text">
                <h3>Scroll Down</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Corporis, in.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image_div">
          <div class="bg_white_Circle"></div>
          <img src="./img/illustration.png" alt="" />
        </div>
      </div>
    </section>

    <section class="process_main">
      <div class="bg_circle"></div>
      <div class="main_dots_second">
        <img src="./img/main_dots.png" alt="" />
      </div>
      <div class="inner_process">
        <div
          class="process_heading"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <h1>Features to help you focus and work better</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni
            reprehenderit quo quaerat!
          </p>
        </div>
        <div
          class="process_cards"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <div class="left_cards">
            <div class="process_card">
              <div class="card_number">
                <h2>02</h2>
              </div>
              <div class="process_image">
                <img src="./img/work2.png" alt="" />
              </div>
              <div class="process_text">
                <h3>Manage Leads</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div
              class="process_card"
              data-aos="fade-right"
              data-aos-duration="2000"
            >
              <div class="card_number">
                <h2>04</h2>
              </div>
              <div class="process_image">
                <img src="./img/work4.png" alt="" />
              </div>
              <div class="process_text">
                <h3>Manage Leads</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
          <div class="right_cards">
            <div
              class="process_card"
              data-aos="fade-left"
              data-aos-duration="2000"
            >
              <div class="card_number">
                <h2>01</h2>
              </div>
              <div class="process_image">
                <img src="./img/work.png" alt="" />
              </div>
              <div class="process_text">
                <h3>Manage Leads</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div
              class="process_card"
              data-aos="fade-left"
              data-aos-duration="2000"
            >
              <div class="card_number">
                <h2>03</h2>
              </div>
              <div class="process_image">
                <img src="./img/work3.png" alt="" />
              </div>
              <div class="process_text">
                <h3>Manage Leads</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div
              class="process_card"
              data-aos="fade-left"
              data-aos-duration="2000"
            >
              <div class="card_number">
                <h2>05</h2>
              </div>
              <div class="process_image">
                <img src="./img/work5.png" alt="" />
              </div>
              <div class="process_text">
                <h3>Manage Leads</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="multiple_domain">
      <div
        class="inner_multipleDomain"
        data-aos="zoom-in-up"
        data-aos-duration="2000"
      >
        <div class="multipleDomain_heading">
          <h2>Serving the clients across multiple domains</h2>
          <p>
            SheThink helps startups to craft ultimate products that are ready to
            go directly for VC funding. Once the investment is done, we assist
            startups to onboard a team and grow faster. BankOpen and YourStory
            are some of the companies for whom we have built products.
          </p>
        </div>
        <div class="multipleDomains_items">
          <div class="single_items">
            <div class="domain_card">
              <div class="domain_icon">
                <img src="./img/e-commerce.png" alt="" />
              </div>
              <div class="domain_text">
                <h3>E-Commerce</h3>
                <p>30+ e-commerce solutions, 12 fintech top-funded products</p>
              </div>
            </div>
            <div class="domain_card">
              <div class="domain_icon">
                <img src="./img/e-learning.png" alt="" />
              </div>
              <div class="domain_text">
                <h3>E-learning and education</h3>
                <p>
                  we provide e-learning solutions to boost growth and
                  performance
                </p>
              </div>
            </div>
          </div>
          <div class="single_items">
            <div class="domain_card">
              <div class="domain_icon">
                <img src="./img/food.png" alt="" />
              </div>
              <div class="domain_text">
                <h3>Food & Restaurant</h3>
                <p>
                  we have a team of experts who understands order management,
                  android and iOS app development, delivery and more
                </p>
              </div>
            </div>
            <div class="domain_card">
              <div class="domain_icon">
                <img src="./img/travel.png" alt="" />
              </div>
              <div class="domain_text">
                <h3>Travel</h3>
                <p>
                  we provide innovative ideas and technologies for travel
                  application development, review management and other
                </p>
              </div>
            </div>
          </div>
          <div class="single_items">
            <div class="domain_card">
              <div class="domain_icon">
                <img src="./img/stethoscope.png" alt="" />
              </div>
              <div class="domain_text">
                <h3>Healthcare</h3>
                <p>
                  we provide uttermost healthcare IT consulting, technology
                  solutions like building medical apps and more
                </p>
              </div>
            </div>
            <div class="domain_card">
              <div class="domain_icon">
                <img src="./img/fintech.png" alt="" />
              </div>
              <div class="domain_text">
                <h3>Fintech</h3>
                <p>
                  We have around 12 well-funded fintech products as per your
                  requirement
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="remote_main">
      <div class="ripple">
        <img src="./img/ripple.gif" alt="" />
      </div>
      <div class="inner_remote">
        <div class="remote_heading">
          <h5>Why remote</h5>
          <h1>
            Experience the Remote <br />
            difference
          </h1>
        </div>

        <div class="remote_cards_area">
          <div
            class="remote_card"
            data-aos="fade-right"
            data-aos-duration="2300"
          >
            <div class="remote_icon">
              <img src="./img/layer.svg" alt="" />
            </div>
            <div class="remote_info">
              <h2>Global Infrastructure</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                soluta quaerat nesciunt animi possimus temporibus doloribus modi
                nam repellendus consequuntur!
              </p>
            </div>
          </div>
          <div
            class="remote_card"
            data-aos="fade-down"
            data-aos-duration="2300"
          >
            <div class="remote_icon">
              <img src="./img/dollar.svg" alt="" />
            </div>
            <div class="remote_info">
              <h2>Global Infrastructure</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                soluta quaerat nesciunt animi possimus temporibus doloribus modi
                nam repellendus consequuntur!
              </p>
            </div>
          </div>
          <div
            class="remote_card"
            data-aos="fade-left"
            data-aos-duration="2300"
          >
            <div class="remote_icon">
              <img src="./img/documents.svg" alt="" />
            </div>
            <div class="remote_info">
              <h2>Global Infrastructure</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                soluta quaerat nesciunt animi possimus temporibus doloribus modi
                nam repellendus consequuntur!
              </p>
            </div>
          </div>
          <div
            class="remote_card"
            data-aos="fade-right"
            data-aos-duration="2300"
          >
            <div class="remote_icon">
              <img src="./img/4.svg" alt="" />
            </div>
            <div class="remote_info">
              <h2>Global Infrastructure</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                soluta quaerat nesciunt animi possimus temporibus doloribus modi
                nam repellendus consequuntur!
              </p>
            </div>
          </div>
          <div class="remote_card" data-aos="fade-up" data-aos-duration="2300">
            <div class="remote_icon">
              <img src="./img/5.svg" alt="" />
            </div>
            <div class="remote_info">
              <h2>Global Infrastructure</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                soluta quaerat nesciunt animi possimus temporibus doloribus modi
                nam repellendus consequuntur!
              </p>
            </div>
          </div>
          <div
            class="remote_card"
            data-aos="fade-left"
            data-aos-duration="2300"
          >
            <div class="remote_icon">
              <img src="./img/6.svg" alt="" />
            </div>
            <div class="remote_info">
              <h2>Global Infrastructure</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia,
                soluta quaerat nesciunt animi possimus temporibus doloribus modi
                nam repellendus consequuntur!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- bottom-waves section -->
    <!-- <section class="wave-bottom">
      <section id="content">
        <div class="content">
          <h1>Lorem Ipsum Dolor Sit</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
            alias excepturi ea? Ratione eum voluptatum quibusdam dolore vitae
            labore fugiat dolorem voluptates?
          </p>
        </div>
      </section>

      <div class="row row-first">
        <div class="card card-custom" style="width: 18rem">
          <i class="far fa-lightbulb fa-5x"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor, Iure magnam aspernatur sit non earum.</p>
        </div>
        <div class="card card-custom card-middle-one" style="width: 18rem">
          <i class="far fa-lightbulb fa-5x"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor, Iure magnam aspernatur sit non earum.</p>
        </div>
        <div class="card card-custom" style="width: 18rem">
          <i class="far fa-lightbulb fa-5x"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor, Iure magnam aspernatur sit non earum.</p>
        </div>
      </div>
      <div class="row row-first">
        <div class="card card-custom" style="width: 18rem">
          <i class="far fa-lightbulb fa-3x"></i>
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor, Iure magnam aspernatur sit non earum.</p>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300">
        <path
          fill="#470380"
          fill-opacity="1"
          d="M0,0L34.3,42.7C68.6,85,137,171,206,192C274.3,213,343,171,411,144C480,117,549,107,617,90.7C685.7,75,754,53,823,53.3C891.4,53,960,75,1029,117.3C1097.1,160,1166,224,1234,245.3C1302.9,267,1371,245,1406,234.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        ></path>
      </svg>
    </section> -->

    <!-- bottom-waves section -->

    <!-- testimonials section -->

    <section class="testimonials_main">
      <div class="inner_testimonials">
        <div class="testimonial_heading">
          <p>Lorem ipsum dolor sit.</p>
          <div class="heading_testimonial">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <h2>Testimonials</h2>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="testimonial_cards">
          <div
            class="testimonialCard firstCard"
            data-aos="fade-right"
            data-aos-duration="2300"
          >
            <div class="testi_icon">
              <img src="./img/hangouts.png" alt="" />
            </div>
            <div class="testi_info">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
                in nulla dolorum minima nesciunt modi dicta, facere iste aut a
                quibusdam unde eum voluptates architecto delectus libero
                voluptatem consectetur. Maiores?
              </p>
              <div class="testi_image">
                <div class="testi_profile">
                  <img src="./img/alex.jpg" alt="" />
                </div>
                <div class="testi_name">
                  <h5>Sofia Nadel</h5>
                  <h2>Corporate Office,CAN</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonialCard middle_card">
            <div class="testi_icon">
              <img src="./img/hangouts_middle.png" alt="" />
            </div>
            <div class="testi_info">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
                in nulla dolorum minima nesciunt modi dicta, facere iste aut a
                quibusdam unde eum voluptates architecto delectus libero
                voluptatem consectetur. Maiores?
              </p>
              <div class="testi_image">
                <div class="testi_profile">
                  <img src="./img/alex.jpg" alt="" />
                </div>
                <div class="testi_name" style="margin-top: 20px">
                  <h5>Sofia Nadel</h5>
                  <h2>Corporate Office,CAN</h2>
                </div>
              </div>
            </div>
          </div>
          <div
            class="testimonialCard lastCard"
            data-aos="fade-left"
            data-aos-duration="2300"
          >
            <div class="testi_icon">
              <img src="./img/hangouts.png" alt="" />
            </div>
            <div class="testi_info">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
                in nulla dolorum minima nesciunt modi dicta, facere iste aut a
                quibusdam unde eum voluptates architecto delectus libero
                voluptatem consectetur. Maiores?
              </p>
              <div class="testi_image">
                <div class="testi_profile">
                  <img src="./img/alex.jpg" alt="" />
                </div>
                <div class="testi_name">
                  <h5>Sofia Nadel</h5>
                  <h2>Corporate Office,CAN</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- testimonials section -->

    <!-- carousel section -->

    <section class="our_clients">
      <div class="big_circle"></div>
      <div class="inner_ourClients">
        <div class="ourClients_heading">
          <h2>
            Companies who can rely <br />
            on us.
          </h2>
          <p>We are growing day by day</p>
        </div>
        <div class="our_clients">
          <div class="ourClients_images">
            <h4>Companies are</h4>
            <div class="clients_images">
              <img
                src="./img/amazon.svg"
                data-aos="zoom-in"
                data-aos-duration="2300"
                alt=""
              />
              <img
                src="./img/office.svg"
                data-aos="zoom-in"
                data-aos-duration="2300"
                alt=""
              />
              <img
                src="./img/fedex.svg"
                data-aos="zoom-in"
                data-aos-duration="2300"
                alt=""
              />
              <img
                src="./img/dhl.svg"
                data-aos="zoom-in"
                data-aos-duration="2300"
                alt=""
              />
              <img
                src="./img/express.svg"
                data-aos="zoom-in"
                data-aos-duration="2300"
                alt=""
              />
              <img
                src="./img/kodak.svg"
                data-aos="zoom-in"
                data-aos-duration="2300"
                alt=""
              />
            </div>
          </div>
          <div class="ourClients_gifs">
            <img src="./img/clients.gif" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- carousel section end-->

    <!-- FAQ  -->
    <section class="faq">
      <div class="inner_faq">
        <div class="faq_heading">
          <div class="heading_faq">
            <h2>FAQ</h2>
            <img src="./img/faq.png" alt="" />
          </div>
          <p>We have answers to all your question.</p>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Accordion Item #1
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Accordion Item #2
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Accordion Item #3
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contact Us  -->

    <section class="contact_us">
      <div class="donut_shape"></div>
      <div class="inner_contactUs">
        <div class="contactUs_heading">
          <h1>Discover how Remote can help you grow your global team</h1>
        </div>
        <div class="contactUs_btn">
          <a href="#"
            >Get Started Today
            <i class="fa fa-angle-right right-arr" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- footer section -->

    <footer class="main_footer">
      <div class="inner_footer">
        <div class="social_links">
          <div class="social_div">
            <img src="./img/twitter.png" alt="" />
            <img src="./img/facebook.png" alt="" />
            <img src="./img/linkedin.png" alt="" />
          </div>
        </div>
        <div class="hire_developers">
          <h2>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Hire
            Developers
          </h2>
          <div class="hire_developers_points">
            <div class="main_points">
              <p>Hire PHP Developers</p>
              <p>Hire AngularJS Developers</p>
              <p>Hire Python Developers</p>
              <p>Hire Node JS Developers</p>
              <p>Hire IOS Developers</p>
              <p>Hire ReactJS Developers</p>
              <p>Hire Android Developers</p>
              <p>Hire Flutter Developers</p>
              <p>Hire MERN Stack Development</p>
              <p>Hire Laravel Development</p>
            </div>
            <div class="main_points">
              <p>Hire WordPress Developers</p>
              <p>Hire Machine Learning Experts</p>
              <p>Hire Golang Developers</p>
              <p>Hire Data Scientists</p>
              <p>Hire React Native Developers</p>
              <p>Hire Mobile App Developers</p>
              <p>Hire MEAN Stack Developers</p>
              <p>Hire Full Stack Development</p>
              <p>Hire DevOps Development</p>
            </div>
          </div>
        </div>
        <div class="industry_exp">
          <h2>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Industry
            Experience
          </h2>
          <div class="industry_exp_points">
            <p>Healthcare</p>
            <p>Food & Restaurant</p>
            <p>LMS & eLearning</p>
            <p>Finance & Banking</p>
            <p>e-Commerce</p>
            <p>Logistics & Supply Chain</p>
            <p>Carpooling</p>
          </div>
        </div>
        <div class="contact_links">
          <h2>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact
            Us
          </h2>
          <div class="contact_links_heading">
            <h4>Sales:</h4>
            <h4>India: +91-7417537175</h4>
          </div>
          <div class="contact_links_heading">
            <h4>For Business:</h4>
            <h4>mzaid6961@gmail.com</h4>
          </div>
          <div class="contact_links_heading">
            <h4>For Job & Internships</h4>
            <h4>careers@gmail.com</h4>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
