.INTicon{  
  height: 20px;
  width: 20px;
}

.INTcontainer{
  background-color: rgba(223, 242, 255, 0.35);
  height: auto;
  width: fit-content;
  border-radius: 6px;
  padding: 6px;
  align-items: center;
  display: flex;
}

.INTtextStyle{
  align-items: center;
  font-family: Segoe UI;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}