.filterContainer{
  background: #F9F9F9;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px 14px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}

.filterText{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #3A3A3A;
}

.filterImage{
  height: 18px;
  width:  16px;
}

.filterOptionsBox{
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 14px;
  position: absolute;
  margin-top: 30px;
  width: 19rem;
}

.filterTitle{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #212529;
}

.recentFilter{
  display: flex;
  justify-content: space-between;
}

.budgetFilter{
  display: flex;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px;
}

.radioStyle{
  display: flex;
  align-items: center;
}

.radioLabel{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ACACAC;
}

.radioRecent{
  background-color:aqua
}

.filterButton{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FF5656;
}