.filterOptionsBox {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px 14px;
    width: 19rem;
    z-index: 1;
}

.filterTitle {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #212529;
}

.recentFilter {
    display: flex;
    justify-content: space-between;
}

.budgetFilter {
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px;
}

.radioStyle {
    display: flex;
    align-items: center;
    cursor: pointer !important;
}

.radioStyle * {
    cursor: pointer !important;
}

.radioLabel {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #acacac;
}

.radioRecent {
    background-color: aqua;
}

.filterButton {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #ff5656;
}
