@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('./Fonts/Segoe\ UI\ Bold.ttf');
}
@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('./Fonts/seguisb.ttf');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('./Fonts/Segoe\ UI.ttf');
}
@font-face {
    font-family: 'GraphikBold';
    src: url('./Fonts/GraphikBold.otf');
}
@font-face {
    font-family: 'GraphikLight';
    src: url('./Fonts/GraphikBold.otf');
}
@font-face {
    font-family: 'GraphikMedium';
    src: url('./Fonts/GraphikBold.otf');
}
@font-face {
    font-family: 'GraphikRegular';
    src: url('./Fonts/GraphikBold.otf');
}
@font-face {
    font-family: 'GraphikSemibold';
    src: url('./Fonts/GraphikBold.otf');
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 0; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
