.emojiFace {
    border-radius: 50%;
    border: 14px solid grey;
    width: 32%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.eye_container {
    margin-top: 15px;
    display: flex;
    width: 60%;
    position: relative;
    justify-content: space-between;
    height: 43%;
    align-items: center;
}

.left-eye, .right-eye {
    background-color: grey;
    position: relative;
    border: 2px solid grey;
    width: 30%;
    height: 40%;
    border-radius: 100%;
}

.mouth {
    position: relative;
    top: 148px;
    right: 66px;
    border: 1px solid grey;
}