@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
.backArrow_getClientHireDeveloper {
  position: fixed;
  top: 12%;
  left: 2%;
  z-index: 100;
}

.backArrow_getClientHireDeveloper i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

.projectDetailsInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerprojectDetailsInfo {
  width: 90%;
  transform: translateY(100%);
  line-height: 0.5;
  margin: 2% 0;
}

.innerprojectDetailsInfo p {
  font-size: 2rem;
  /* font-family: 'Fredoka One', cursive; */
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.innerprojectDetailsInfo span {
  font-family: "Open Sans", sans-serif;
  color: #777;
}

.innerprojectDetailsInfo span em {
  color: #000;
}

.mainAgencyList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* overflow-y: scroll; */
}

.innerAgencyList {
  /* margin-top: 5%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: initial;
  height: 35rem;
  overflow-y: scroll;
  margin-top: 1rem;
  /* align-items: flex-start; */
}

.AgencyCardsArea {
  width: 90%;
  padding: 18px;
  margin: auto;
}

.agencyPreciseCard.agencyPreciseCard_new {
  background-image: url(../../../assets/images/AddProductAgency/smallerbg.svg);
}

.agencyPreciseCard {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 30vh;
  height: 12rem;
  background-color: #fff;
  /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2); */
  position: relative;
  z-index: 1;
  margin-bottom: 0%;
  /* border-radius: 10px; */
}

.agencyCardHeaderLine {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 10vh;
  background-color: #ffffff !important;
}

.agencyCardHeaderInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.3rem;
}

.agencyImageProfile {
  width: 70%;
  display: flex;
  position: relative;
  top: -2rem;
  left: 0.8rem;
}

.agencyImageArea {
  width: 135px;
  height: 135px;
  margin-right: 2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 4% 3% 0% 1%;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.agencyImageArea img {
  width: 100%;
  object-fit: contain;
}
.agencyProfileInfo {
  display: flex;
}

.agencyProfileInfo h6 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #707070;
  letter-spacing: 1px;
  padding-top: 2rem;
}

.agencyProfileInfo div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  position: absolute;
  right: 400px;
  top: 0.7rem;
}

.agencyProfileInfo div p {
  padding: 0.3rem 0.8rem;
  margin-right: 10px;
  /* border: 1px dashed #999; */
  border-radius: 999px;
  background-image: linear-gradient(to right, #015f9a, #0376ba);
  /* background-color: #02044a;220 */
  color: #fff;
  font-family: "Segoe UI";
  font-size: 0.7rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 18%);
}

.profileButton p {
  font: 12px "Segoe UI";
  color: #45a4ea;
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 18px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 18%);
}

.profileButton p i {
  margin-left: 5px;
}

.profileButton p:hover {
  text-decoration: underline;
}

.middleAgencyArea {
  display: flex;
  height: 6rem;
  justify-content: space-between;
  /* padding: 1rem; */
  padding: 0 1rem;
  padding-bottom: 1rem;
  margin-top: -2.5rem;
  margin-left: 0.5rem;
}

.agencyAddressTeam {
  width: 48%;
  /* background-color: #f9f9f9; */
  padding: 0.5rem;
  overflow: hidden;
}

.agencyAddressArea,
.agencyTeamNumber {
  display: flex;
}

.locationIcon i,
.teamIcon i {
  font-size: 0.8rem;
  color: #02044a;
  margin-right: 6px;
}

.locationText,
.teamNumberPart :is(p) {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
}

.locationText {
  overflow: hidden;
}

.locationText p {
  width: 100%;
  font-size: 14px;
  font-family: "Segoe UI";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
}

.teamNumberPart span {
  font-size: 14px;
  color: #015f9a;
  letter-spacing: 1px;
  font-family: "Segoe UI", sans-serif;
  /* font-weight: bold; */
  /* margin-right: 3px; */
}

.agencyDescInfo {
  width: 53%;
  border: none;
  padding: 0.5rem;
  height: 110px;
  /* overflow-y: auto; */
  color: #015f9a;
}

.agencyDescInfo::-webkit-scrollbar {
  width: 4px;
}

.agencyDescInfo::-webkit-scrollbar-track {
  background: #fff;
  /* color of the tracking area */
}

.agencyDescInfo::-webkit-scrollbar-thumb {
  background-color: #3498db;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.agencyDescInfo p {
  font-family: "Segoe UI";
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #015f9a;
}

.agencyAddressTeam,
.agencyDescInfo :is(h6) {
  /* font-family: 'Fredoka One', cursive; */
  font-family: "Segoe UI semibold", sans-serif;
  font-size: 16px;
  padding: 2px 0px;
}

.agencyAddressTeam {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI";
  color: #707070;
  margin-left: 6px;
  padding: 0;
  /* justify-content: space-around; */
}

.agencyAddressTeam h6::after,
.agencyDescInfo h6::after {
  content: none;
}

.quotationShortlistButton {
  display: flex;
  position: absolute;
  width: 57%;
  font-size: smaller;
  top: 10rem;
  left: 23.2rem;
  padding: 0rem 1rem;
  align-items: center;
  padding-bottom: 2%;
}

.quotationShortlistButton div {
  width: 20%;
  margin-right: 3%;
  background-color: #fff;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

/* .quotationShortlistButton div p {
  transform: translateY(6.5px);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
} */

.quotationShortlistButton div:nth-child(1) {
  /* border: 1px solid #3498db; */
  color: #ffffff;
  height: 1.8rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 18%);
  background-image: linear-gradient(to right, #015f9a, #0376ba);
}

.quotationShortlistButton div:nth-child(2) {
  background-color: #3498db;
  height: 1.8rem;
  border-radius: 3px;
  color: #ffffff;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 18%);

  background-image: linear-gradient(to right, #0376ba, #015f9a);
}

.agencyFilterArea {
  width: 25%;
  position: relative;
  /* overflow: hidden; */
}

.filterForm {
  width: 100%;
  background-color: #fff;
  /* height: 60vh; */
  overflow: hidden;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  /* border: 2px solid #000; */
  position: sticky;
  top: 3%;
}

.filterHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}
.locationFilter input {
  font-family: "Segoe UI";
  height: 35px;
}

.filterText {
  font-family: "Fredoka One", cursive;
  font-size: 1.4rem;
}

.filterText::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
}

.filterHeading div p {
  font-family: "Segoe UI semibold", sans-serif;
  color: #3498db;
}

.locationFilter {
  margin-top: 3%;
  margin-bottom: -3%;
  /* border-bottom: 1px solid #e4e4e4; */
  padding-bottom: 5%;
}

/* .locationFilter p, .officeVisitFilter p {
  font-family: 'Open Sans', sans-serif;
  transform: translateY(10px);
  font-weight: bold;
  font-size: 1.1rem;
} */

/* .locationFilter p::, .officeVisitFilter p::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #000;
  display: block;
} */

/* .locationFilter input {
  margin-top: 3%;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #999;
} */

.locationFilter input:focus {
  outline: none;
}

.officeVisitFilter {
  /* margin-top: 4%; */
  margin-bottom: 3%;
  /* border-bottom: 1px solid #e4e4e4; */
  /* padding-bottom: 2%; */
}

.officeVisitRadio {
  display: flex;
  align-items: center;
  margin-top: 10%;
  cursor: pointer;
  width: 50%;
}

.officeVisitRadioImage {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 2px solid #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10%;
}

.officeVisitRadioImage i {
  font-size: 0.9rem;
}

.officeVisitRadio span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  user-select: none;
}

/* .ShortListModalOverlay, .QuotationModalOverlay {
  /* background: rgba(0, 0, 0, 0.9) !important;*/
/*background-image: linear-gradient(#45A4E4, #5C6DFF);
} */

.ShortListModal {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

.shortlistModal {
  font-family: "Open Sans", sans-serif;
}

.shortlistModal h2 {
  font-weight: bold;
  margin-bottom: 10%;
}

.shortlistModal h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  display: block;
}

.shortlistForm {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.shortlistForm span {
  /* font-weight: bold; */
  font-size: 0.8rem;
  color: #3498db;
}

.shortlistForm textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 4px;
  margin-top: 1%;
}

.shortlistForm textarea:focus {
  outline: none;
}

.shortlistForm button {
  height: 50px;
  outline: none;
  border: none;
  background: #3498db;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
}

.QuotationModal {
  max-width: 650px;
  width: 100%;
  border-radius: 10px;
}

.QuotationModal {
  font-family: "Open Sans", sans-serif;
}

/* .QuotationModal h2 {
  font-weight: bold;
  margin-bottom: 5%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4%;
} */

/* .QuotationModal h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #000;
  display: block;
} */

/* .quotationTable {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e0e0e0;
  min-height: 50px;
  margin-top: 2%;
  width: 100%;
  padding-bottom: 2%;
} */

/* .tableHeaderQuotation {
  width: 30%;
  border-right: 1px solid #e0e0e0;
} */

.tableHeaderQuotation p {
  font-weight: 500;
}

/* .tableContentQuotation {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
} */

.tableContentQuotation p {
  margin-top: 3px;
  margin-right: 20px;
}

.tableContentQuotation input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  border-radius: 6px;
  padding-right: 2rem;
  margin-top: 1rem;
}

.tableContentQuotation textarea {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
}

.quotationTable button {
  display: flex;
  align-self: flex-end;
  float: right;
}

.quotationSubmitButton {
  display: flex;
  justify-content: space-between;
}

/* .quotationSubmitButton button {
  transform: translateY(-10px);
  width: 20%;
  height: 45px;
  outline: none;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
} */

.Image1_GetHireDev{
  left: -10rem;
  position: fixed;
  top: -4.5rem;
  width: 43rem;
  /* z-index: 1; */
}
.Image2_GetHireDev {
  right: -8rem;
  position: fixed;
  bottom: -4rem;
  width: 43rem;
  z-index: 1;
}
.MainDevDiv {
  position: relative;
}