.respond-card_parent {
  position: relative;
  top: 20px;
  background: #F9F9F9;
  border-radius: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  min-height: 662px;
  margin: auto;
}

.width {
  position: absolute;
  margin: auto;
  top: 20px;
  background: #FFFFFF;
  border: 0.33px solid #A8A8A8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 817px;
  padding: 1rem 15.5rem 2rem 1.5rem;
}

.width div {
  border-bottom: none;
}

.moreAgencyHeading.no_border {
  border-bottom: none;
}

.innerResponseCard.width.borderNone {
  border-bottom: none;
}

.moreAgencies_shared.new_design {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  top: 21.6rem;
  background: #E482C9;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  left: 46.5rem;
  height: 72px;
}

.name_circle {
  background: #E8E2E2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.moreAgencyCard.new-design {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  opacity: 0.22;
  border-radius: 22px;
  width: 132px;
  height: 200px;
  justify-content: space-evenly;
}

.view-resume_div {
  background: #FFFFFF;
  border: 1px solid #F348A4;
  box-sizing: border-box;
  border-radius: 5.54545px;
  padding: 7px;
  margin-top: 20px;
}

.new_design_sharedDeveloper .moreAgencyInfo {
  margin-top: 14px;
}

.moreAgencyList .moreAgencyInfo p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  color: #3A3A3A;
}

.moreAgencyLogo.new-design {
  position: absolute;
  bottom: 40px;
}

.no_border h3 {
  font-family: 'Inter';
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.view-resume_child {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.554545px;
  text-transform: capitalize;
}

.innerResponseCard.width div p:nth-child(2) {
  color: #008e80;
  font-weight: 500;
  width: 200px
}

.no_border:hover {
  cursor: pointer;
}

.developers-div {
  background: #FFFFFF;
  border: 0.33px solid #A8A8A8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 12px;
  position: absolute;
  bottom: 10px;
  width: 913px;
  height: 215px;
  padding: 20px;
}

.respondCards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.developers-div .moreAgencyList {
  display: flex;
  grid-column-gap: 20px
}

.names_of_developer {
  width: 153px;
  min-height: 172px;
  /* background-color: red; */
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}