.main_parent_sharedDeveloper {
  /* background-image: linear-gradient(284deg, rgba(3, 118, 186, 1) 0%, rgba(1, 48, 77, 1) 100%); */
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.respond-card_parent {
  position: relative;
  border-radius: 15px;
  display: flex;
  padding: 0 4rem 25px;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  margin-top: 1.5rem;
  padding-bottom: 8rem;
}

.main-card_SharedDevelopers {
  overflow: hidden;
  position: relative;
  height: 100vh;
  padding-top: 5rem;
  z-index: 10;
}

.width {
  background: #FFFFFF;
  border: 0.33px solid #A8A8A8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 12px;
  padding: 1.5rem;
  margin: 0 3rem 2rem;
  width: 40%;
}
.childDiv1 {
  width: 15rem;
}
.childDiv2 {
  width: 18rem;
}

.parentDivShared {
  font-size: 14px;
  font-family: "Segoe UI";
  border-bottom: none !important;
  color: #45a4EA;
}

.moreAgencies_shared .fas {
  color: white !important;
}

.moreAgencyHeading.no_border {
  border-bottom: none;
}

.innerResponseCard.width.borderNone {
  border-bottom: none;
}

.moreAgencies_shared.new_design {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 30%;
  background: #E482C9;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  height: 60px;
  bottom: 0px;
  right: 0;
  padding-bottom: 0;
}

.moreAgencies_shared.new_design div {
  margin-bottom: 0;
  width: 91%;
  justify-content: space-around;
  padding-bottom: 0;
}

.moreAgencies_shared.new_design h3 {
  padding: 0;
}

.name_circle {
  background: #E8E2E2;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name_circle>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  width: max-content;
}

.name_circle>div>p {
  font-family: 'Segoe UI';
  font-size: 28px;
  text-transform: capitalize;
  color: #F13C9E;
}

.moreAgencyCard.new-design {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  opacity: 0.22;
  border-radius: 22px;
  width: 132px;
  height: 200px;
  justify-content: space-evenly;
}

.view-resume_div {
  background: #FFFFFF;
  border: 1px solid #F348A4;
  box-sizing: border-box;
  border-radius: 5.54545px;
  padding: 7px;
  margin-top: 20px;
}

.view-resume_div:hover {
  background-color: beige;
}

.new_design_sharedDeveloper .moreAgencyInfo {
  margin-top: 14px;
}

.moreAgencyLogo.new-design {
  position: absolute;
  bottom: 40px;
}

.no_border h3 {
  font-family: 'Segoe UI';
  font-size: 1.2rem;
  color: #ffffff;
}

.view-resume_child {
  text-decoration: none;
  font-family: 'Segoe UI';
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.554545px;
  text-transform: capitalize;
}

.innerResponseCard.width div p:nth-child(2) {
  text-align: start;
  color: black;
  font-size: 16px;
}

.no_border:hover {
  cursor: pointer;
}

.developers-div {
  background: #FFFFFF;
  border: 0.33px solid #A8A8A8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 12px;
  min-height: 240px;
  padding: 20px;
  margin: auto;
  position: relative;
}

.respondCards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.developers-div .moreAgencyList {
  display: flex;
  grid-column-gap: 20px;
  grid-row-gap: 1.3rem;
  width: 845px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.names_of_developer {
  width: 153px;
  min-height: 172px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-more_sharedDeveloper {
  position: absolute;
  right: 27px;
  font-family: 'Segoe UI';
  font-size: 14px;
  text-transform: capitalize;
  color: #407BFF;
  bottom: 9px;
}

.show-more_sharedDeveloper:hover {
  border-bottom: 2px solid #407bff;
}


.devops p{
font-family: 'Segoe UI';
    color: #707070 !important;
    padding: 0.2rem 0.4rem;
    border: 1px solid #707070;
    border-radius: 999px;
    margin-right: 3px;
    font-size: 0.7rem !important;
    }

.devops div {
  display: flex;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.acceptButtonShare, .rejectButtonShare {
  margin: 0 0.5rem;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  outline: none;
  background-color: rgb(69, 164, 228);
  border: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Segoe UI';
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

.rejectButtonShare {
  border: 1px solid #707070;
  background-color: #707070;
}

.technologies {
  font-family: "Segoe UI";
    color: #45a4ea;
    font-size: 14px;
    margin-bottom: 0.8rem;
}

.parentDivShared p {
  font-size: 14px !important;
  font-family: "Segoe UI" !important;
  color: #45a4Ea !important;
} 

.parentDivShared h2 {
  font-size: 12px;
  font-family: "Segoe UI" !important;
   color: #ababab;
}

.sharedDevDetails1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.NotFound_SharedDeveloper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.NotFound_SharedDeveloper p {
  font-family: 'Segoe UI';
  color: white;
  transform: translateY(1rem)
}