.toggleButton_enterEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
}

.forgot_parent {
  padding-top: 4rem;
  position: relative;
  z-index: 1;
}

.image_and_forgot .MuiContainer-root {
  width: 30% !important;
}

.MuiFormGroup-root {
  color: #015F9a
}

.roleform {
  display: flex;
  flex-direction: row !important;
}

.image_and_forgot {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.makeStyles-button-3 {
  background-color: #015F9a !important;
  width: 15rem !important;
}

.makeStyles-form-4 {
  width: 15rem !important;
}