.toggleButton_enterEmail {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
  }

  .forgot_parent {
    padding-top: 4rem;
    position: relative;
    z-index: 1;
  }

  .MuiFormGroup-root {
    color:#015F9a
  }
  .roleform {
    display: flex;
    flex-direction: row !important;
  } 

  .MuiFormGroup-root {
    flex-direction: row;
  }

  .makeStyles-button-3 {
    background-color: #015F9a  !important;
    width: 15rem !important;
  }

  .makeStyles-form-4 {
    width: 15rem !important;
  }