@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.mainProjectsMatched {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5%;
  flex-direction: column;
  flex-wrap: wrap;
}
.innerProjectsMatched {
  margin-left: 4%;
  width: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 0rem 1.2rem 1rem 0;
  border-radius: 10px;
  position: relative;
  margin-bottom: 5%;
  z-index: 1;
  overflow: hidden;
}
.projectCard {
  padding-left: 3%;
  width: 100%;
}
.projectNumber {
  position: absolute;
}
.projectNumber p {
  font-size: 8rem;
  transform: translate(-40%, -25%);
  color: #9999;
  /* font-family: 'Londrina Solid', cursive; */
  font-family: 'Fredoka One', cursive;
  transition: 0.3s ease-in-out;
}
.borderRightBorder {
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #02044a;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 999px;
}
.bgCircles {
  position: absolute;
  /* width: 250px;
    height: 250px;
    z-index: 1;
    border-radius: 50%;
    background-color: #f9f9f9;
   top: -15%;
    right: -5%;
    mix-blend-mode: color; */
}
.innerProjectsMatched .dotImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8%;
  object-fit: contain;
}
.innerProjectsMatched .shapeImage {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
  z-index: -1;
}

.projectCardHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1%;
}
.projectCardHeading .projectHeadingName {
  width: 50%;
}
.projectCardHeading div h2 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #02044a;
}
.projectCardHeading div h2::after {
  content: '';
  width: 30%;
  height: 2px;
  background-color: #02044a;
  display: inline-block;
}
.showInterestBtn {
  width: 100%;
}
.showInterestBtn button {
  font-family: 'Poppins';
  padding: 0.3rem 0.8rem;
  color: #000;
  border-radius: 0px;
  font-size: 0.9rem;
  /* background-color: #5bc0de; */
  background-color: #eaf2ff;
  outline: none;
  border: none;
  /* border: 2px solid #3ab3d7; */
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  /* margin-top: -0%; */
}

@media (max-width: 768px) {
  .innerProjectsMatched {
    width: 98%;
  }
  .projectCard {
    padding-left: 2%;
  }
  .innerProjectsMatched .shapeImage {
    display: none;
  }
  .projectNumber {
    top: 0;
    right: 20px;
  }
  .projectNumber p {
    font-size: 5rem;
    transform: translate(0%, -20%);
    color: #9999;
    /* font-family: 'Londrina Solid', cursive; */
    font-family: 'Fredoka One', cursive;
    transition: 0.3s ease-in-out;
  }
  .projectCardHeading {
    flex-direction: column-reverse;
  }
  .projectCardHeading .projectHeadingName {
    width: 100%;
    margin: 5% 0;
  }
}

.projectPostedDetails {
  /* margin-top: 0.5%; */
  display: flex;
  margin-bottom: 3%;
}
.projectPostedDetails div {
  margin-right: 3%;
}
.projectPostedDetails div p {
  padding: 0.3rem 1rem;
  background-color: #eaf2ff;
  /* background-color: #e0e0e0; */
  border-radius: 5px;
  font-family: 'Poppins';
  color: #3a3a3a;
  font-weight: 600;
}
.projectPostedDetails div:nth-child(1) p {
  background-color: transparent !important;
  border: 1px solid #000;
  color: #000;
}
.projectDetailsTable {
  margin-top: 2%;
}
.projectDetailsTable .projectDetailsTableContainer {
  display: flex;
  /* justify-content: space-between; */
  margin-right: '10px';
  border-bottom: 0.5px dashed #ddd;
  margin-bottom: 1%;
  padding: 0.5rem 0;
}
.projectDetailsTable .projectDetailsTableContainer div {
  width: 100%;
}
.projectDetailsTable .projectDetailsTableContainer .projectTableHeading {
  width: 45%;
  /* margin-bottom: 3%; */
}
.projectDetailsTable .projectDetailsTableContainer .projectTableHeading p {
  color: #000;
  font-weight: 600;
}
.projectDetailsTable .projectDetailsTableContainer .projectTableContent {
  width: 65%;
}
.projectDetailsTable .projectDetailsTableContainer .projectTableContent p {
  color: #68e1fd;
  font-weight: 600;
}
.projectDetailsTable div div p {
  font-family: 'Poppins';
  transform: translateY(10px);
}

@media (max-width: 768px) {
  .projectPostedDetails {
    flex-direction: column;
    width: 100%;
  }
  .projectPostedDetails div {
    margin-right: 0%;
    text-align: center;
  }
}
