@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.mainProjectsMatched {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row-gap: 40px;
}

.innerProjectsMatched {
  margin-left: 4%;
  width: 48%;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  /* padding: 0rem 1.2rem 1rem 0; */
  border-radius: 10px;
  position: relative;
  margin-bottom: 5%;
  z-index: 1;
  overflow: auto;
  margin: 1%;
}

.projectCard {
  padding: 30px;
  width: 100%;
}

.projectNumber {
  position: absolute;
}

.projectNumber p {
  font-size: 8rem;
  transform: translate(-40%, -25%);
  color: #9999;
  font-family: 'Fredoka One', cursive;
  transition: 0.3s ease-in-out;
}

.borderRightBorder {
  position: absolute;
  width: 6px;
  height: 92%;
  background-color: #02044a;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 999px;
}

.bgCircles {
  position: absolute;
}

.innerProjectsMatched .dotImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8%;
  object-fit: contain;
}

.innerProjectsMatched .shapeImage {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
  z-index: -1;
}

.projectCardHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1%;
}

.projectCardHeading .projectHeadingName {
  width: 50%;
}

.projectCardHeading div h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #02044a;
}

.projectCardHeading div h2::after {
  content: '';
  width: 30%;
  height: 2px;
  background-color: #02044a;
  display: inline-block;
}

.showInterestBtn {
  width: 100%;
}

.showInterestBtn button {
  font-family: 'Open Sans', sans-serif;
  padding: 0.3rem 0.8rem;
  color: #000;
  border-radius: 0px;
  font-size: 0.9rem;
  background-color: #eaf2ff;
  outline: none;
  border: none;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .innerProjectsMatched {
    width: 98%;
  }
  .projectCard {
    padding-left: 2%;
  }
  .innerProjectsMatched .shapeImage {
    display: none;
  }
  .projectNumber {
    top: 0;
    right: 20px;
  }
  .projectNumber p {
    font-size: 5rem;
    transform: translate(0%, -20%);
    color: #9999;
    font-family: 'Fredoka One', cursive;
    transition: 0.3s ease-in-out;
  }
  .projectCardHeading {
    flex-direction: column-reverse;
  }
  .projectCardHeading .projectHeadingName {
    width: 100%;
    margin: 5% 0;
  }
}

.projectPostedDetails {
  margin-top: 1.5%;
  display: flex;
  margin-bottom: 3%;
}

.projectPostedDetails div {
  margin-right: 3%;
}

.projectPostedDetails div p {
  padding: 0.3rem 1rem;
  background-color: #eaf2ff;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 12px;
}

.projectPostedDetails div:nth-child(1) p {
  background-color: transparent !important;
  border: 1px solid #000;
  color: #000;
}

.projectDetailsTable {
  margin-top: 2%;
}

.projectDetailsTable .projectDetailsTableContainer {
  display: flex;
  border-bottom: 0.5px dashed #ddd;
  margin-bottom: 0%;
  padding: 0.5rem 0;
  font-size: 13px;
}

.projectDetailsTable .projectDetailsTableContainer div {
  width: 100%;
}

.projectDetailsTable .projectDetailsTableContainer .projectTableHeading {
  width: 45%;
}

.projectDetailsTable .projectDetailsTableContainer .projectTableHeading p {
  color: #000;
  font-weight: 600;
}

.projectDetailsTable .projectDetailsTableContainer .projectTableContent {
  width: 81%;
  display: flex;
  flex-wrap: wrap;
}

/* .projectDetailsTable .projectDetailsTableContainer .projectTableContent p {
  color: #68e1fd;
  font-weight: 600;
} */

.projectDetailsTable div div p {
  font-family: 'Open Sans', sans-serif;
  /* transform: translateY(10px); */
}

@media (max-width: 768px) {
  .projectPostedDetails {
    flex-direction: column;
    width: 100%;
  }
  .projectPostedDetails div {
    margin-right: 0%;
    text-align: center;
  }
}