.mainQuotation {
  width: 89%;
  margin-left: 11%;
  position: relative;
}

.back_and_quotation {
  padding-top: 5rem;
}

.innerQuotation {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.innerQuotation .nav-tabs .nav-link img {
  width: 16px;
}

.innerQuotation .nav-tabs {
  border-bottom: none;
}

.quotation .nav-tabs .nav-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 46px;
  width: 12rem;
}

.quotation .nav-tabs .nav-link:active, .quotation .nav-tabs .nav-link:focus {
  outline: none !important;
  background: #ced3ff;
}

.quotation .nav-tabs .nav-link.active {
  background: #ced3ff;
}

.quotation .nav-tabs .nav-link {
  font-size: 1rem !important;
  font-family: 'Segoe UI';
  border-radius: 23px;
  background-color: #f8f8ff;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

@media (max-width: 768px) {
  .nav {
    flex-wrap: nowrap !important;
    overflow: scroll;
    width: 100% !important;
    scrollbar-width: none;
  }
  .nav::-webkit-scrollbar {
    display: none;
  }
  .nav-tabs .nav-link {
    font-size: 1rem !important;
    white-space: nowrap;
    margin-right: 2% !important;
    padding-right: 20px;
  }
}