.mainQuotation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  margin-top: 1%;
}

.back-parent {
  margin-left: 10%;
}

.innerQuotation {
  width: 90%;
  margin-top: 2%;
  position: relative;
  margin-left: 10%
}

.navbar-parent_Quotation {
  width: 90%;
  margin-left: 10%;
}

.innerQuotation .nav-tabs .nav-link img {
  width: 15%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.innerQuotation .nav-tabs .nav-link.active {
  border-bottom: 3px solid #000 !important;
  color: #484848 !important;
  font-weight: bold !important;
}

.quotation .nav-tabs .nav-link {
  background-color: transparent !important;
  font-size: 1rem !important;
  font-family: 'Inter' !important;
}

@media (max-width: 768px) {
  .nav {
    flex-wrap: nowrap !important;
    overflow: scroll;
    width: 100% !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .nav::-webkit-scrollbar {
    display: none;
  }
  .nav-tabs .nav-link {
    font-size: 1rem !important;
    white-space: nowrap;
    margin-right: 2% !important;
    padding-right: 20px;
  }
}

