.mainQuotation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  margin-top: 3%;
}

.back-parent {
  margin-left: 11%;
  margin-top: 1rem;
}

.innerQuotation {
  width: 90%;
  position: relative;
  margin-left: 11%
}

.navbar-parent_Quotation {
  width: 89%;
  margin-left: 11%;
}

.innerQuotation .nav-tabs .nav-link img {
  width: 16px;
}

.innerQuotation .nav-tabs {
  border-bottom: none;
}

.quotation .nav-tabs .nav-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 46px;
  width: 12rem;
}

.quotation .nav-tabs .nav-link:active, .quotation .nav-tabs .nav-link:focus {
  outline: none !important;
  background: #ced3ff;
}

.quotation .nav-tabs .nav-link.active {
  /* color: #484848 !important; */
  background: #ced3ff;
}

.quotation .nav-tabs .nav-link {
  font-size: 1rem !important;
  font-family: 'Segoe UI';
  border-radius: 23px;
  background-color: #f8f8ff;
}

@media (max-width: 768px) {
  .nav {
    flex-wrap: nowrap !important;
    overflow: scroll;
    width: 100% !important;
    scrollbar-width: none;
  }
  .nav::-webkit-scrollbar {
    display: none;
  }
  .nav-tabs .nav-link {
    font-size: 1rem !important;
    white-space: nowrap;
    margin-right: 2% !important;
    padding-right: 20px;
  }
}