.mainResponded {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerResponded {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 4%;
}

.respondedCard {
  width: 28%;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: relative;
  overflow: auto;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
  margin-right: 0%;
}

.leftBorder {
  position: absolute;
  width: 8px;
  height: 93%;
  background-color: #02044a;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 999px;
}

.bgCircle {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.respondCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.respondCardHeader h4 {
  font-family: 'Poppins';
  font-size: 1.2rem;
}

.dateCreated {
  display: flex;
  align-items: center;
}

.dateCreated div {
  color: #02044a;
  border-radius: 999px;
  margin-left: 10px;
}

.dateCreated div p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: bold;
}

.respondCardDescription {
  margin: 0.5rem 0 0.5rem 0;
}

.respondCardDescription p {
  font-family: 'Poppins';
  font-size: 0.8rem;
  color: #b4b4b4;
}

.respondCardPoints {
  margin: 5% 0;
  height: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.respondCardPoints ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.respondCardPoints ul li {
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 500;
  margin-right: 11%;
  color: #000;
}

.respondCardTable div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 2%;
}

.respondCardTable div p {
  font-family: 'Poppins';
  margin-top: 5%;
}

.respondCardTable div p:nth-child(1) {
  color: #3a3a3a;
  font-weight: 600;
}

.respondCardTable div p:nth-child(2) {
  color: #68e1fd;
  font-weight: 600;
}

.respondedCardButton {
  display: flex;
  justify-content: flex-end;
}

.respondedCardButton div button {
  padding: 0.2rem 0.8rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  font-family: 'Poppins';
  color: #000;
  font-weight: 600;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.respondedCardButton div:nth-child(1) button {
  background-color: #eaf2ff !important;
  color: #000;
  font-size: 0.8rem;
}

.respondedCardButton div:nth-child(2) button {
  background-color: transparent !important;
  box-shadow: none;
  color: #aaa;
  border: 1px solid #999 !important;
  transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .innerResponded {
    flex-direction: column;
  }
  .respondedCard {
    width: 100%;
  }
}

.mainBackBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.innerBackBtn {
  width: 100%;
  display: flex;
  align-items: center;
}

.innerBackBtn div {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.innerBackBtn div i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .mainBackBtn {
    margin-top: 0;
    margin-bottom: 5%;
  }
}