p.action-wait {
  margin: 2rem 1rem 1rem 1rem;
  width: 100%;
}

.respondedDetails_afterCompletion {
  padding: 1rem 0rem 2rem 0rem;
  margin: 0 1rem;
  position: relative;
  overflow-y: hidden;
  width: 45%;
}

.project-details {
  display: flex;
  align-items: center;
  justify-content: left;
}

.agencyQuestions_AgencyRespondedDetails ul {
  padding-left: 0;
}

.image_with_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.respondedDetails_afterCompletion .project-details h4 {
  margin-left: 0 !important;
  padding: 10px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #707070;
  font-family: 'Segoe UI';
  font-weight: 400;
  font-weight: 600;
  font-size: 22px;
}

.project-details p {
  padding: 10px;
}

.respondedDetails_afterCompletion_child1 div, .respondedDetails_afterCompletion_child2 div {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  justify-content: flex-start;
  flex: 0.5;
}

.respondedDetails_afterCompletion_child2 {
  min-height: 185px;
  border-radius: 0px;
}

.project-details_child {
  width: 99%;
  /* height: 342px; */
  background: #FFFFFF;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 18%);
  margin-top: 1rem;
  border-radius: 8px;
  position: inherit;
  overflow: hidden;
}

/* .question {
  width: 50%;
} */

/* .question.after {
  width: 62%;
} */

.straightAfterLine ul {
  padding-left: 1rem;
}

.question p {
  font-family: 'Segoe UI Semibold';
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #3A3A3A;
}

.answer p {
  font-family: 'Segoe UI';
}

.project_is_completed_parent {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.project_is_completed {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #45a4ea;
  border-radius: 8px;
  width: 83%;
}

.image_with_logo .project_is_completed p {
  color: white;
  padding: 10px;
}

.leftLine {
  position: absolute;
  width: 4px;
  background-color: rgb(69, 164, 228);
  top: 50%;
  left: 0;
  height: 100%;
}

.innerBtnInfoDiv p {
  color: #FFFFFF;
}

.project_rejection {
  margin-bottom: 1rem;
}

.project_rejection p {
  font-family: 'Segoe UI';
}

/* .mainDetailHeader_agencyRespondedDetails {
  background-image: linear-gradient(to right, #0376BA, #015F9A);
} */