.mainResponded {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerResponded {
  width: 93%;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-row-gap: 30px;
  margin-bottom: 1rem;
}

.respondedCard {
  width: 30%;
  margin: 0 1rem;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 8px;
  position: relative;
  overflow: auto;
  min-height: 350px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 18%);
}

.date_and_time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.respondName {
  width: 100%;
}

.leftBorder {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #45A4ea;
  left: 0;
  top: 0;
  border-radius: 999px;
}

.respondCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-row-gap: 0.5rem;
}

.respondCardHeader h4 {
  font-family: 'Segoe UI Semibold';
  font-size: 1.16rem;
  color: #45a4ea;
}

.dateCreated {
  display: flex;
  align-items: center;
}

.dateCreated div p {
  font-family: 'Segoe UI';
  font-size: 12px;
  color: #5C6DFF;
}

.respondCardDescription {
  margin: 0.9rem 0 1rem 0;
}

.respondCardDescription p {
  font-family: 'Segoe UI';
  font-size: 0.8rem;
  color: #707070;
}

.respondCardPoints {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.respondCardPoints ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1.6rem;
}

.respondCardPoints ul li {
  font-family: 'Segoe UI';
  font-weight: 500;
  margin-right: 11%;
  color: #5C6DFF;
  font-size: 1rem;
}

.respondCardTable div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ddd;
  font-size: 13px;
}

.respondCardTable div p {
  font-family: 'Segoe UI';
  margin-top: 5%;
}

.respondCardTable div p:nth-child(1) {
  color: #3a3a3a;
}

.page-not-found {
  text-align: center;
  width: 100%;
  margin-top: 1.5rem
}

.page-not-found h6 {
  margin-top: 1rem;
}

.respondedCardButton {
  position: relative;
  top: 1rem;
}

.showDetail_respondedCardButton, .showDetail_receivedCardButton, .showDetail_projectMatched {
  background: #ced3ff;
  color: #000;
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
  font-family: 'Segoe UI';
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);
  width: max-content;
  margin-left: auto;
}

.showDetail_respondedCardButton:hover, .showDetail_receivedCardButton:hover, .showDetail_projectMatched:hover {
  background-color: #02044A;
  color: white;
  cursor: pointer;
}

.respondedCardButton div:nth-child(2) button {
  background-color: transparent !important;
  box-shadow: none;
  color: #aaa;
  border: 1px solid #999 !important;
  transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .innerResponded {
    flex-direction: column;
  }
  .respondedCard {
    width: 100%;
  }
}

.mainBackBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.innerBackBtn {
  width: 100%;
  display: flex;
  align-items: center;
}

.innerBackBtn div {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI';
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.innerBackBtn div i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .mainBackBtn {
    margin-top: 0;
    margin-bottom: 5%;
  }
}