* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_login {
    background-color: blue;
    position: relative;
    height: 75rem;
}

.login_card {
    top: 4rem;
    width: 24rem;
    right: 9rem;
    position: absolute;
    background-color: white;
    height: 35rem;
    border: 2px solid red;
    border-radius: 1rem;
}

.type_login {
    margin: 0 2rem;
    font-size: 22px;
}

.type_login span {
    color: blue;
}