.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-box {
  width: 380px;
  height: 450px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}

.header-form {
  margin-bottom: 15px;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.mainLoginForm_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37rem;
}

.mainLoginForm_child>div>h4 {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.75px;
  text-transform: capitalize;
  color: #000000;
}

.or_login::before {
  content: "";
  border: 1px solid #000000;
  width: 215px;
}

.or_login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #B5B2B2;
}

.or_login p {
  padding: 30px;
}

.or_login::after {
  content: "";
  border: 1px solid #000000;
  width: 215px;
}

.message {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}

.mainLoginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

.form-check {
  display: flex;
}

.form-check input {
  margin: 0 25%;
}

.innerLoginPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginIllustrator, .loginContent {
  width: 50%;
  user-select: none;
}

.loginIllustrator {
  position: sticky;
  user-select: none;
  position: relative;
}

.loginIllustrator img {
  width: 100%;
  height: 100vh;
  user-select: none;
}

.welcome-back_loginIllustrator {
  position: absolute;
  top: 15rem;
  left: 13rem;
  width: 17rem;
  font-family: 'Futura Lt BT';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.75px;
  text-transform: capitalize;
  color: #3A3A3A;
}

.www_loginIllustrator {
  position: absolute;
  bottom: 2rem;
  left: 15rem;
}

.white-color_loginIllustrator {
  position: absolute;
  z-index: 1;
  width: 208px;
  background-color: #fff;
  height: 4px;
  left: -14rem;
  top: 0.7rem;
}

.welcome-back_sourceBae {
  color: #FF7E06;
}

.white-color_loginIllustrator a {
  color: blue;
}

.loginContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainLoginForm, .googleLogin {
  width: 80%;
}

.loginHeading {
  text-align: center;
  font-family: 'Inter';
  width: 40%;
  margin-top: 3rem;
}

.loginHeading h6 {
  font-weight: bold;
  font-size: 1.2rem;
}

.loginHeading h6 span {
  font-family: 'Inter';
  font-size: 1.5rem;
  color: #7cb9e8;
}

/* .loginHeading h6::after {
  content: '';
  width: 40%;
  height: 3px;
  background-color: #000;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 999px;
} */

.signUpOption {
  text-align: center;
  color: #5dade2;
  font-family: 'Inter';
  /* margin-top: 4%; */
}

.signUpOption span {
  color: #02044a;
  font-weight: bold;
  cursor: pointer;
}

.loginForm {
  margin-top: 3rem;
}

.emailLogin {
  margin-bottom: 2%;
}

.emailLogin p, .passwordLogin p {
  font-family: 'Inter';
  color: #000;
}

.emailLogin input, .passwordLogin input {
  transform: translateY(-10px);
  height: 60px;
  width: 100%;
  padding-left: 13px;
  font-family: 'Inter';
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #e0e0e0;
}

.emailLogin input::placeholder, .passwordLogin input::placeholder {
  font-size: 0.9rem;
}

.button_action_login {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
}

.loginForm button {
  width: 45%;
  height: 60px;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 10px;
  background: #4786FE;
  border-radius: 6px;
}

.loginForm span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Inter';
  color: #7cb9e8;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.googleLogin {
  border: 1px solid #e9e9e9;
  height: 60px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  width: 37%;
}

.googleLogin p {
  position: absolute;
  top: 1rem;
  left: 4.4rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.338235px;
  text-transform: capitalize;
  color: #4786FE;
}

.googleLogin img {
  position: absolute;
  width: 11%;
  left: 5%;
  top: 1rem;
}

.toggleButton .MuiTypography-body1 {
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  text-transform: capitalize !important;
  color: #a8a8a8 !important;
  margin-right: 29px !important;
}

.signup_toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

@media (max-width: 768px) {
  .loginIllustrator {
    display: none;
  }
}