.bodyWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    justify-content: center;
}

.greyCard {
    border-radius: 12px;
    width: 95%;
    padding: 2%;
    margin-top: 1%;
}

.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    color: #3a3a3a;
}

.partition {
    display: flex;
    flex: 1;
}

.listContainer {
    width: 70%;
}

.optionsContainer {
    margin: 2%;
    flex: 1;
}

.showMorebtn {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}
